[2019-06-04 14:33] g-sahu commented on #354
Hi,

Has this issue been fixed? I'm getting a blank page upon signing-in with Microsoft. I'm using MSAL version 0.1.0.

[2019-06-04 17:14] iambmelt commented on #354
@g-sahu That doesn't sound like the same issue; others have reported issues with compilation whereas yours sounds like a runtime issue. Can you share why you think it's the same issue?

As for this issue (#354), a preview [workaround](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/417) is available in [`0.3.1-alpha`](https://github.com/AzureAD/microsoft-authent

[2019-06-04 17:19] thomius commented on #354
I happened to try this out with the latest Android Studio and everything seemed to work fine both with 0.2.2 and 0.3.1-alpha.

[2019-06-04 17:29] iambmelt commented on #354
Thanks for confirming @thomius - I will close this issue for now. Feel free to comment or post a follow-up issue if a regression occurs.

[2019-06-04 17:29] #354 closed

[2019-06-04 22:40] iambmelt commented on #558
@Michael89 To clarify, are you using MSAL to create your request? From inspecting the telemetry related to this request, it appears the user agent is `python-requests`

[2019-06-05 06:28] g-sahu commented on #354
@iambmelt I was also getting this issue initially while building my project and it got resolved after I disabled instant run in Android Studio. But now, upon running the application I'm getting a blank page after starting the sign-in process with MSAL.

[2019-06-05 15:16] joshfriend opened #635 "Why is getAccounts() now asynchronous?"
The changes from #436 were only _just_ released in 0.3.1-alpha so I'm just learning about the breaking changes now even though the commit that changed it was from back in October of last year.

Can you explain why `getAccounts()` is now asynchronous? This has proved to be quite annoying to migrate. Also, as noted in #548 and #544 there are still numerous cases that benefit from or even _require_ a

[2019-06-05 17:06] heidijinxujia commented on #635
Previously, getAccounts only retrieve the accounts in msal locally. Now, getAccounts retrieve accounts from broker as well. The broker calls need to run tasks on background threads and off the main UI.

[2019-06-05 17:25] shoatman commented on #635
@joshfriend - We're looking at how to better communicate about proposed changes to the public API.  I can tell you that more are proposed.  Do you have a preference/suggestion on how to provide advance notice of those changes?  In terms of providing a synchronous interface as we've discussed before this is something that we can do on background threads and we're open to doing.  Using the method pr

[2019-06-05 17:43] NLLAPPS commented on #635
I was able to use Kotlin's suspendCoroutines to work around this limitation.

On June 5, 2019 5:25:21 PM UTC, Shane Oatman <notifications@github.com> wrote:

@joshfriend<https://github.com/joshfriend> - We're looking at how to better communicate about proposed changes to the public API. I can tell you that more are proposed. Do you have a preference/suggestion on how to provide advance notice of t

[2019-06-05 22:42] joshfriend commented on #635
I'm not using Microsoft Authenticator or Intune Company Portal, I only want local accounts. The method that gets these is now private and using the async `getAccounts()` is not practical for cases where I need to know if there are any accounts logged in to update UI elements.

First of all, thanks for having both a `changelog` file and release notes on github releases, those are very helpful. One

[2019-06-06 04:59] GanapathiGarre commented on #526
Hello Daniel,

Thanks for the response.

I have debugged the library code and found the reason for getting the issue.
(java.lang.IllegalStateException: Expected BEGIN_OBJECT but was STRING at line 1 column 1 path $)

Internally when the library is trying to fetch the new token it is receiving the **Html** response with the failed status code. And the library is trying to convert that response into

[2019-06-06 05:00] #526 closed

[2019-06-07 03:26] rajasooryaKC opened #637 "Unable to pass in claims acquireToken() to get deviceID"
I am trying to get the deviceId as part of the access token and i see that there are no public methods of acquireToken() that accepts claims though there is a private method that does. How do i get the device id?

also, can i use query parameters instead? if yes, what would be the key of the query parameter whose value should be the encoded value of {"access_token":{"deviceid":{"essential":true}

[2019-06-10 18:16] wyber opened #638 "Authorization code already redeemed."
MSAL returned the following exception:
[code]

Based on this answer: https://social.msdn.microsoft.com/Forums/en-US/4192e141-309a-4dd6-a5c9-f1a8ce32f4ca/aadsts54005-oauth2-authorization-code-was-already-redeemed?forum=WindowsAzureAD

This seems like a bug. It would require MSAL to be using the same authorization code twice.

[2019-06-10 18:17] iambmelt commented on #638
Thanks @wyber do you have repro steps?

[2019-06-10 18:23] wyber commented on #638
This stack is from telemetry, so no, unfortunately I do not. The code path this goes down is calling one of:
[code]
or
[code]

[2019-06-11 12:57] shoatman commented on #635
@joshfriend - Thanks for the suggestions!  Very much appreciated.  I'm going to publish a TODOs as you suggest shortly and look forward to your feedback.  Thanks again!

[2019-06-11 13:03] shoatman opened #639 "Feedback Requested - Broker on by default"
Hi Folks,

Looking for community feedback on the following:

There is a desire to enable the Microsoft authentication broker by default within MSAL.  The new app registration experience within the Azure Portal will lead you through creating a redirect URI that's compatible with the broker.

For those who do not know the "Broker" is what Microsoft uses to enable:

- Cross app SSO
- Device Registrat

[2019-06-11 13:19] shoatman opened #640 "Feedback Requested - Single Account Mode"
Hi Folks,

MSAL today assumes that your app intends to allow your users to access resources using multiple accounts.  acquireToken has a side effect namely "adding an account" to the MSAL cache.  In effective the interface of MSAL is designed to support a multiple accounts by default even though there is no explicit "addAccount" method.

Once acquireToken is invoked and the browser based UI is sho

[2019-06-11 13:25] NLLAPPS commented on #639
Excuse my ignorance but, does that mean user will be able to authorize apps from Microsoft Authenticator?

DropBox Java SDK on Android works similarly, if user has Dropbox app installed and logged in, they authorize requests from Dropbox app.

[2019-06-11 13:41] shoatman opened #641 "Feedback Requested - Factory Methods for constructing PublicClientApplications"
Hi Folks,

In recent releases we introduced support for using a configuration file to configure your MSAL public client applications.  In support of some upcoming internal scenarios we'd like to go further and introduce static factory methods on PublicClientApplication for constructing and returning instances of PublicClientApplications.

These factory methods would be introduced in support potent

[2019-06-11 13:43] shoatman commented on #639
The short answer is yes; however most users wouldn't realize that they've switched apps unless they view the list of open apps.  We simply start an activity exposed by the broker rather than an activity that ships with MSAL... when interaction is required.  For acquireTokenSilent we invoke a bound service or call into the broker via AccountManager.

[2019-06-11 13:48] shoatman opened #642 "Feedback Requested - Cache Schema Upgrades"
Hi Folks,

In order to upgrade an existing app from ADAL to MSAL we need to migrate the existing ADAL cache including any existing refresh tokens to the new cache schema.  In fact upgrade the schema of the storage may be something that's required from time to time as the library continues to evolve.  Unfortunately it may be necessary for us as part of schema upgrade to make additional token reques

[2019-06-11 14:01] shoatman opened #643 "Feedback Requested - Deprecation of overloads for acquireToken and acquireTokenSilent"
Hi Folks,

Historically ADAL and MSAL, with the introduction of every new parameter to acquireToken and acquireTokenSilent introduce a new overload.  This resulted in dense and potentially complicated set of overloads that made it difficult for developers to know which one of the overloads they should use. Not to mention that code readability suffered.

In recent releases we introduced parameter o

[2019-06-11 14:14] NLLAPPS commented on #639
That would be great!

[2019-06-11 14:16] NLLAPPS commented on #643
Link to examples of this would be great

[2019-06-11 14:25] joshfriend commented on #643
sounds like a relatively minor refactor :+1:

[2019-06-11 14:47] shoatman commented on #643
@NLLAPPS - Here's a link to some of the acquireToken overloads we'd like to do away with: https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/4e6c47303aac681c47ecc354fa50e17cd968bcde/msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java#L594-L715

[2019-06-11 14:53] NLLAPPS commented on #643
I am only using

`  public void acquireToken(@NonNull final Activity activity,
                             @NonNull final String[] scopes,
                             @NonNull final AuthenticationCallback callback) `

and

` public void acquireTokenSilentAsync(@NonNull final String[] scopes,
                                        @NonNull final IAccount account,

[2019-06-11 14:57] shoatman opened #644 "Feedback Requested: Synchronous Methods"
Hi Folks,

Looking for feedback on the introduction of synchronous methods.  We've received feedback from many of you that synchronous methods are simpler to integrate with and use.  To that end we are considering providing synchronous interfaces (interfaces that do no leverage callbacks) to return results to you.  Since many of operations involve network operations or cross process calls (invokin

[2019-06-11 15:15] shoatman opened #645 "Feedback Requested: Declined Scope Exception"
Hi Folks,

MSAL implements OpenId Connect (OIDC) under the covers.  OIDC requires that authentication servers (authorization servers) ignore unrecognized scopes.  See: [https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest)

The Microsoft Identity Platform is OIDC compatible meaning that per the OIDC spec that the autho

[2019-06-11 16:12] wyber opened #646 "LocalMSALController is throwing the wrong exception."
https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/4e6c47303aac681c47ecc354fa50e17cd968bcde/msal/src/main/java/com/microsoft/identity/client/internal/controllers/LocalMSALController.java#L213
[code]

I rely on  publicClientApplication.acquireTokenSilentAsync throwing a MsalUiRequiredException to decide if users should be prompted for credentials. This bug means I am showi

[2019-06-11 16:24] shoatman opened #647 "Feedback Request: Known Authorities"
Hi Folks,

As part of configuration we've enabled developers to indicate to us a list of authorities that they know/trust.  We merge this with a query for Microsoft Identity Platform known authorities to produce a list of authorities to which client developers are allowed to make token requests.  The library wants to be sure that clients are not making token requests to potentially malicious secur

[2019-06-11 16:31] iambmelt commented on #646
Introduced in https://github.com/AzureAD/microsoft-authentication-library-for-android/commit/df49c3303a4426303ee8fc24ffa8e558c9ee8410

[2019-06-11 16:47] iambmelt commented on #646
I'll pick this up for a fix

[2019-06-11 17:10] joshfriend commented on #644
Are you hesitant to call the method `acquireTokenSilent()` (no "sync" or "async" suffix, following the C# conventions) because someone might mistakenly use it because it shows up first in an autocomplete list? I think immediate punishment by exception at runtime is sufficient to help people in that situation realize they chose the wrong one.

One random other idea: I don't think this convention wo

[2019-06-11 18:34] shoatman commented on #644
I just don't like using terminology from C# in java....

I haven't had the time to invest in this yet; however I've been considering whether or not we should introduce a fluent API such that we build and execute a command.  In that scenario... your suggestion based on RxJava would like something like:

acquireTokenSilent.withAuthority(asdf).withScopes(asdf).execute() //async (I guess could be get.

[2019-06-11 19:07] iambmelt opened #650 "BROKER_RESULT_V2 sometimes dereferenced using getString, getSerializable"
See https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/649/files
Specifically, https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/649/files#diff-69531cb469279fd01f26e496f6dae4a2R241

and compare with: https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/internal/controll

[2019-06-11 19:12] iambmelt commented on #646
This issue should close when these changes are merged to `dev` _and_ `master`

[2019-06-11 22:33] rpdome commented on #650
Replaced with getString() in #651

[2019-06-12 14:32] Nasicus opened #652 "ADSTS28003: Provided value for the input parameter scope cannot be empty when requesting an access token using the provided authorization code"
I upgraded from `0.1.3` to `0.2.2` (also tried `0.3.1-alpha` with the same result) and now I cannot login into my app anymore.

I know it has something to do with the `extraScopes`.

In my code I call the following method overload of  `acquireToken`:

[code]

The values of the extra scopes are :

[code]

In my app I get the screen to choose accounts, where I then select my AzureAd account and then

[2019-06-12 20:58] shoatman opened #653 "Remove Account - Potential Issue"
Based on reading through the code.  I believe there is currently a bug in remove account specifically related to the scenario where:

- Account has been added locally (when no broker was installed on device)
- Broker is then installed
- removeAccount is called

It looks like in this scenario the code will attempt to remove the account from the broker cache rather than removing it from the local ca

[2019-06-12 21:13] iambmelt commented on #650
Great, thanks @rpdome -- I'll close this.

[2019-06-12 21:13] #650 closed

[2019-06-12 21:31] joshfriend commented on #644
I like the way that the OkHttp library handles allowing a request to execute synchronously or asynchronously based on if you pass a callback to `execute()`. For MSAL this could look something like:

[code]

[2019-06-12 22:26] heidijinxujia commented on #653
Yes, it is a bug. It should be
[code]

[2019-06-12 22:39] heidijinxujia commented on #653
@rpdome Do you need a similar change for FLW?

[2019-06-13 00:07] iambmelt commented on #653
@heidijinxujia @rpdome Also, will UI ever be needed for this `removeAccount` path? If yes, can't use silent controller, if not then no issue. I just remember there was some discussion about localizing messages around account removal

[2019-06-13 00:14] rpdome commented on #653
@heidijinxujia Given the current requirement (AuthApp must be installed and provisioned as shared BEFORE any other apps), FLW flow shouldn't use local cache at all. Although for extensibility, it might be a good idea to perform local cache clean up when the mode is switched (from multiple -> single) for the very first time.

@iambmelt  The current FLW removeAccount hasn't migrated to Command yet.

[2019-06-13 01:20] heidijinxujia commented on #653
The issue is fixed here
https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/654

[2019-06-13 13:04] Larrsenn commented on #563
@iambmelt  any news on this issue? Kind of blocking not being able to log in due to this. :)

[2019-06-13 16:35] iambmelt commented on #563
@Larrsenn The current guidance is to configure a custom SISU (sign-in, sign-up) policy through the Identity Experience Framework and apply [these policy settings](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/563#issuecomment-486412036).

For more information on configuring custom policies, see [these docs](https://docs.microsoft.com/en-us/azure/active-directory-b2

[2019-06-13 22:52] joshfriend commented on #602
I created a brand new Nougat (API 24) emulator to test out an unrelated crash and got a crash with this stacktrace:

[code]

Currently using v0.2.2 of the library

[2019-06-14 07:00] Larrsenn commented on #563
@iambmelt will have a look at it - thank you. Are there any estimation on fixing the issue rather than doing a work around?

[2019-06-14 10:13] Larrsenn commented on #563
@iambmelt Hello again.
So we've tried updating the policies with this workaround you gave me. Sadly, when trying to debug all the way down into the LocalMSALController.java, I can see this line:

            final TokenResult tokenResult = performTokenRequest(oAuth2Strategy, mAuthorizationRequest, result.getAuthorizationResponse(), parameters);

is giving me a tokenResult that looks like this(in t

[2019-06-14 14:41] shoatman commented on #644
I think I like that the best in terms of not colliding with other existing async/blocking semantics.  Thanks @joshfriend

[2019-06-14 14:46] shoatman commented on #652
@Nasicus - I'll take a look.

[2019-06-14 16:30] Nasicus commented on #652
Thanks. If any info is missing, I'll gladly append it. I still didn't find a solution.

[2019-06-14 17:12] shoatman commented on #652
I confirmed this is a bug.  I filed a corresponding issue in common [524](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/issues/524)

[2019-06-14 18:05] Nasicus commented on #652
I see...the strange thing is, that I compared the new request with the old one (I hope I did that at least.... can't retest it right now) and the looked almost the same....i.e. all scopes were always passed simply as scopes.

[2019-06-14 18:30] shoatman commented on #652
The bug is relative to the token request. The authorization request is the same.

[2019-06-17 17:42] shoatman commented on #652
@Nasicus - I have submitted a PR to fix this in common repo.  I'll let you know when we intend to release fix.

[2019-06-17 17:53] Nasicus commented on #652
I see. Somehow on iOS we also updated to the newest version and there it works.

Thanks for the heads up!

[2019-06-17 18:49] iambmelt opened #656 "Implement support for TokenShareLibrary (TSL)"
Implementation should mirror/adapt ADAL implementation as necessary.

[2019-06-18 00:49] #624 closed

[2019-06-18 15:59] iambmelt opened #659 "[GA] MSAL hello() should not connect to brokers which cannot satisfy TenantProfile responses"
GA Broker (`3.0.0`) does not support `BrokerResult` with `TenantProfile` -- MSAL should not try to bind to broker versions whose responses MSAL cannot parse.

`hello()` should be updated to _reject_ connections from `brokerVer <= 3.0.0`

[code]

[2019-06-18 16:30] shoatman commented on #652
Fix is here: https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/527

[2019-06-18 17:17] shoatman opened #660 "Feedback Requested: External Browser & Memory Optimization/Developer Settings"
Hi Folks,

It's possible, however unlikely, that when MSAL is using a browser (Chrome, Samsung Internet, etc...) to complete authentication.  That after launching the browser the App that initiated the aquireToken request could be killed.

Here's the scenario in steps:

-	App calls MSAL acquiretoken using “BROWSER”
-	MSAL launches Chrome
-	Android OS due to memory pressure kills App
-	Authorizatio

[2019-06-18 17:21] wildfisher opened #661 "MSAL with B2C - Credential is missing schema-required fields"
1. We are using library version 0.2.2 (the same problem with 0.3.2-alpha).

2. Client app is initialized this way

`PublicClientApplication clientApp = new PublicClientApplication(appContext, R.raw.b2c_config);`

3. R.raw.b2c_config content below (I have replaced actual values with <value>):
[code]
4. Manifest

[code]
5. Scoup:
`String[] SCOPE = new String[]{"https://******.onmicrosoft.com/api/use

[2019-06-18 17:28] NLLAPPS commented on #660
Please make sure you provide overloads for Fragments (platform and support) not just activity if you choose to go handleInteractiveReques route.

As a developer I would prefer intent extras,

[2019-06-18 23:04] #623 closed

[2019-06-19 04:13] heidijinxujia commented on #653
Reopen this issue. Waiting for the approval for the PR.

[2019-06-19 04:50] jennyf19 opened #662 "Embedded WebView doesn't get resized or panned when soft keyboard is overlayed"
@iambmelt and I have been syncing about this [issue in the MSAL.NET repo](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1219). We are going to investigate further and compare native Android and Xamarin Android behavior. Opening here for tracking purposes.

See the .NET issue for screen shots and more info.

**Repro:**
- Use B2C test account from lab
- Use embedded w

[2019-06-19 21:29] wyber opened #664 "AccountRecord is not serializable in Account."
When we try to serialize com.microsoft.identity.client.Account we see the crash at the end. While IAccount is marked serializable com.microsoft.identity.common.internal.dto.AccountRecord is not.

The issue is here:https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/v0.3.1-alpha/msal/src/main/java/com/microsoft/identity/client/AccountAdapter.java#L91

AccountAdapter creates

[2019-06-19 23:00] iambmelt commented on #664
Note: this class has been [totally rewritten in `dev`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/AccountAdapter.java) as its previous implementation is not needed for `TenantProfiles`.

Are you looking for a hotfix?

[2019-06-20 03:28] joshfriend opened #665 "AndroidX Migration plan?"
Version 28.0.0 is [the last version of the classic support library that there will ever be](https://developer.android.com/topic/libraries/support-library/revisions#28-0-0):

This library currently uses the old support libraries instead of androidx (version `27.1.1`).

I am of the opinion that going AndroidX now (prior to a 1.0 release) would be the best solution, rip off the bandaid now instead of

[2019-06-20 16:04] shoatman commented on #665
@joshfriend - I agree.  I'm following up with team to see who can pick this up.

[2019-06-20 19:24] wyber commented on #664
I don't think a hotfix is necessary. We could hotfix it internally (make a serializable copy of any Account's we get from the library).

I'll do so for our next release if dev hasn't been promoted yet.

[2019-06-21 08:27] #653 closed

[2019-06-21 15:11] wildfisher commented on #661
I have resolved this problem.
In fact, it was not a code problem but misconfiguration in Azure Portal.
In API access - Access the user's profile - the checkbox for refresh token has not been set.

In my opinion, error messages should be more specific and explanatory without need to debug.

![image](https://user-images.githubusercontent.com/1588359/59932312-9387f980-944f-11e9-8698-2b5cdffd853f.png)

[2019-06-21 17:28] heidijinxujia commented on #662
Hi Jenny, B2C only use system browser, right?

[2019-06-21 23:17] jennyf19 commented on #662
@heidijinxujia I don't understand the question. Can you elaborate?

[2019-06-24 20:43] #661 closed

[2019-06-25 15:46] iambmelt commented on #656
Work is complete

[2019-06-25 15:46] #656 closed

[2019-06-25 15:46] iambmelt commented on #554
Work is complete

[2019-06-25 15:46] #554 closed

[2019-06-25 15:47] iambmelt commented on #249
This is now satisfied by app config see https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Configuring-your-app

[2019-06-25 15:47] #249 closed

[2019-06-26 21:08] heidijinxujia opened #669 "Authority config for pass-through silent call"

[2019-06-28 17:30] shoatman opened #672 "MS Graph Scopes - Prefixed vs Unprefixed"
https://graph.microsoft.com/User.Read and User.Read are equivalents; however the Android caching logic does not know this.  As a result we experience cache misses.

[2019-07-03 19:30] iambmelt opened #674 "[branch: dev & release 1.0.0] Authorization URL contains query param 'mTokenScope'"
See url below, captured from interactive auth on `release/1.0.0` branch. Also, some of the url encoding here looks suspicious.

[code]

[2019-07-04 13:35] uneeshkrishnan opened #676 "Unable to perform cloud discovery error from MSAL library of Android"
Dear Team,

One of our android app is using MSAL library (com.microsoft.identity.client:msal:0.2.+) to validate the user with Microsoft AD.
By following the given documentation, we are able  to validate the user and the user can successfully login to the system.
For testing purpose, we created a proxy server using **Burp Suite** and applied the proxy server details to the emulator.
With this proxy

[2019-07-04 15:01] Nasicus commented on #652
Is there any ETA for a next minor release when this bug will be included?

[2019-07-05 22:08] shahzaibj opened #677 "Unimplemented methods for validating Token Parameters"
These methods don't seem to be implemented as they are not doing anything.

[code]

**File affected:** PublicClientApplication.java
**Branches affected:** dev, release/1.0.0

[2019-07-08 17:46] heidijinxujia commented on #659
Hey @iambmelt  have you started working on this? If not, I will assign this task to myself.

[2019-07-08 19:20] heidijinxujia opened #678 "MSAL should be able to check the broker version through AccountManager"

[2019-07-09 17:11] iambmelt commented on #659
@heidijinxujia I've not started this

[2019-07-10 13:55] MichalDanielDobrzanski commented on #665
Hey @shoatman, any updates about migrating to AndroidX? Would it be a time consuming migration process?

[2019-07-10 14:12] joshfriend commented on #665
there's a auto-migration tool in android studio that works pretty well

[2019-07-10 14:54] shoatman commented on #665
This is going to happen ahead of the next public release.  We actually performed a test run through and everything went relatively smoothly.  I'll update the thread once it's complete so that folks can try it out in the dev branch ahead of the release.

[2019-07-10 14:56] shoatman commented on #676
The library makes a request to a public endpoint on login.microsoftonline.com in order to pull down a list of known authorities (including their aliases and some metadata regarding which authority alias to cache with).  I'm guessing that the proxy is somehow blocking this request.

[2019-07-10 22:48] heidijinxujia opened #682 "[Broker] Wrong calling uid for AcquireToken through account manager"
Broker's uid is used instead of the app's uid. As a result, the silent call with return no account in the non-foci scenario.

[2019-07-10 23:06] iambmelt commented on #674
Resolved via linked PRs, thank you @shahzaibj!

[2019-07-10 23:06] #674 closed

[2019-07-11 04:03] ashikns commented on #652
We are also blocked on the same bug. Please provide an eta for next release or at least provide instructions to build from latest dev.

[2019-07-11 13:16] fistuk opened #684 "getAccount api returns null"
The getAccount API returns null even though the getAccounts API returns a valid account. Moreover the second parameter of the getAccount API marked as @Nullable but in fact, when calling this method with null authority exception is thrown:

Steps:
[code]

I'm not sure whether its a configuration issue or an SDK bug.
version: com.microsoft.identity.client:msal:0.3.2-alpha

[2019-07-11 22:53] heidijinxujia commented on #684
Hey @fistuk thank you for filling the issue! We have several API changes for the upcoming release. Please try the dev branch.
The identifier parameter for getAccount is nonnull. Currently, getAccount can retrieve the IAccount object matching the identifier, which could be homeAccountIdentifier, localAccountIdentifier or username.

Please check the code [here](https://github.com/AzureAD/microsoft-a

[2019-07-11 22:54] #682 closed

[2019-07-11 22:56] heidijinxujia opened #686 "[FLW] Unable to load the account"
Repro Steps

Open Authenticator app -> settings -> register the device -> sign in with the FLW account
Open MSAL client app -> click ATs -> shows the following error.
Stacktrace
07-11 14:28:37.195 2508-5390/com.microsoft.identity.client.sample.local E/BrokerMsalController:getCurrentAccount: [2019-07-11 21:28:37 - {"thread_id":"5472","correlation_id":"UNSET"}] Exception is thrown when trying to per

[2019-07-11 22:57] #686 closed

[2019-07-11 23:00] heidijinxujia opened #687 "Add broker strategies for MSAL broker controllers"
Add two broker strategies, one for account manager call and one for the bound service call.

[2019-07-11 23:00] #687 closed

[2019-07-11 23:01] #678 closed

[2019-07-11 23:01] heidijinxujia commented on #678
https://github.com/AzureAD/ad-accounts-for-android/pull/1048

https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/549

[2019-07-11 23:04] heidijinxujia opened #688 "Remove the duplicate paramaters"
InvalidRequestFormatDuplicatedParameter causing 6% of silent failures.

[code]

[2019-07-15 12:13] josephbnb commented on #563
@Larrsenn I tried your suggestion and I was able to get an access token ( `val SCOPES = arrayOf("CLIENT_ID")` ).
However the tokens I'm getting do not authorize the api i'm trying to access since the requested scope is different. Did you have the same issue? @iambmelt do you have any input on this?

[2019-07-15 17:44] tarunchopra opened #690 "FAILURE: Build failed with an exception."
Getting below exception while trying to compile the code using following command from github command prompt-
$ ./gradlew clean assembleLocalDebug publishToMavenLocal

**Exception:**

publishNonDefault is deprecated and has no effect anymore. All variants are now published.

FAILURE: Build failed with an exception.

* What went wrong:
Could not determine the dependencies of task ':msal:compileLocal

[2019-07-15 17:51] heidijinxujia commented on #690
Please try to update/initialize the submodule.
[code]

[2019-07-15 17:56] #688 closed

[2019-07-15 17:57] heidijinxujia commented on #659
Resolved here https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/679

[2019-07-15 17:57] #659 closed

[2019-07-15 18:56] mvdmee commented on #639
A might be a bit late with my feedback. But we just recently incorporated this library in our app to easy 2FA for our users.
And we ran into an problem with this "broker on by default" feature.
We found out that on most devices our app freezes when the Microsoft Authenticator app was installed on the same device (strangely enough, not all devices)
After some debugging we found out that it was look

[2019-07-17 12:02] uneeshkrishnan commented on #676
Thanks for your reply. Actually this issue was related to the Android OS security terms.
Android application with API level > 21 have some more security terms. So i think this makes the issue for me. When I tried with lower version of Android, It start to work.

[2019-07-18 13:15] joshfriend commented on #495
I've been seeing this crash a _lot_ with v0.2.2

[2019-07-19 22:57] ashikns commented on #639
Seconding @mvdmee. To give some more info this code always returns an empty list (taken from msal source):
[code]

[2019-07-29 00:36] leofirespotter commented on #529
Is there any update on this?

[2019-07-29 23:18] heidijinxujia opened #695 "[TrueMAM] IntuneAppProtectionPolicyRequiredException is missing when adapting token result"

[2019-07-30 10:13] mgursch commented on #202
would also need the refresh token to be exposed - something new here?

[2019-07-30 10:23] mgursch commented on #202
would also need the refresh token to be exposed - something new here?

[2019-07-30 21:28] iambmelt commented on #202
There are currently no plans to expose the refresh token from MSAL as it would too easily enable developers to implement scenarios that run contrary to our recommended security guidance; for instance, it is _not_ advised for developers to transmit access tokens or refresh tokens off of the device for use _elsewhere_ (that is, except by the intended resource server) -- the refresh token is intended

[2019-07-30 21:28] #202 closed

[2019-07-30 21:40] iambmelt commented on #637
Hi @rajasooryaKC

Support for extra claims is available as of our `0.2.2` release - code sample below:

[code]

Please note, however, that the `deviceid` claim requires use of Workplace Join through the broker which is not yet available for use with MSAL in General Availability. This is will be in our upcoming `1.0.0` release

[2019-08-01 17:45] mgursch commented on #202
I would like to explain our scenario:

we build an android/ios app with b2c connector login. this is working ok (we have some issues with cookie management, but that is another topic).
Now we want to build a second app with the same login credentials and would love to be signed in, if the user is signed in in the first app.

so we just want to share the login state (and account) between two or mor

[2019-08-01 18:29] iambmelt commented on #202
@mgursch This should be supported if you use MSAL w/ `DEFAULT` or `BROWSER` as the authorization agent.

This kind of SSO requires some tweaks in the portal: `Properties` > `Session Behavior` > `Single sign-on configuration`. By default, the config should be set to tenant which means any app or policy in the same tenant should auto-SSO. You can also set scopes by specific applications or policies.

[2019-08-01 18:36] mgursch commented on #185
we have problems with the cookies - we do a logout (removeAccount) but with the next login, we are signed in automatically.

what can we do to clear really everything from the session? (android and ios)

thanks a lot

[2019-08-01 20:18] iambmelt commented on #185
@mgursch If you look at the `.well-known` config of your configured app there should be property called `end_session_endpoint`, if your `authorization_agent` is set to `DEFAULT` or `BROWSER` opening this URL will clear the session for any signed-in users.

For an example of this document see this [Fabrikam tenant example](https://login.microsoftonline.com/fabrikamb2c.onmicrosoft.com/v2.0/.well-kno

[2019-08-01 21:24] iambmelt commented on #185
I'll also add, we're looking into how this experience can improve with MSAL in a future release.

[2019-08-05 13:44] suresh777 opened #700 "NO certificates found issue"
I am trying to integrate this library in both android. In iOS it is working fine but in android i am facing this NO certificates found issue

This app Browser has requested a certificate.Choosing a certificate will let the app identify.....

[2019-08-05 21:34] rpdome opened #701 "Test cases (androidTest) are broken in dev"
![Screen Shot 2019-08-05 at 2 43 16 PM](https://user-images.githubusercontent.com/19558668/62497572-3d69de00-b791-11e9-8ab4-20915b6e6823.png)

[2019-08-05 21:45] #637 closed

[2019-08-05 21:46] iambmelt commented on #97
Out of date. MSAL has a new telemetry implementation

[2019-08-05 21:46] #97 closed

[2019-08-05 21:46] iambmelt commented on #135
Resolved with app config

[2019-08-05 21:46] #135 closed

[2019-08-05 21:48] #209 closed

[2019-08-05 21:50] iambmelt commented on #281
Lint in no longer an enabled phase.

[2019-08-05 21:50] #281 closed

[2019-08-05 21:51] iambmelt commented on #263
Current min is 16

[2019-08-05 21:51] #263 closed

[2019-08-05 21:52] iambmelt commented on #420
Fixed in linked PRs above

[2019-08-05 21:52] #420 closed

[2019-08-05 21:53] iambmelt commented on #404
This is dead UI and it is removed from the `dev` branch latest version. Thanks

[2019-08-05 21:53] #404 closed

[2019-08-05 21:55] iambmelt commented on #372
Synced with @kreedula - this is reported working

[2019-08-05 21:55] #372 closed

[2019-08-05 22:17] iambmelt commented on #615
This has been resolved via FLW static `create` API changes.

[2019-08-05 22:17] #615 closed

[2019-08-05 22:23] iambmelt commented on #544
Synchronous APIs added in https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/668

[2019-08-05 22:23] #544 closed

[2019-08-05 22:46] iambmelt commented on #595
Assigning to @kreedula @heidijinxujia for follow-up

[2019-08-05 22:48] iambmelt commented on #455
Related: https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/702

[2019-08-05 22:48] iambmelt commented on #471
This is now an on-going part of our development process and will be resolved incrementally.

[2019-08-05 22:48] #471 closed

[2019-08-05 22:57] iambmelt commented on #294
This is removed for the next release

[2019-08-05 22:57] #294 closed

[2019-08-05 22:58] iambmelt commented on #452
Closing due to inactivity

[2019-08-05 22:58] #452 closed

[2019-08-05 22:59] iambmelt commented on #410
Added and available [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Customizing-Browsers-&-WebViews).

[2019-08-05 22:59] #410 closed

[2019-08-05 23:00] iambmelt commented on #664
Closing as there is no current ask to hot-fix and this class has been refactored in prep for 1.0.0 release

[2019-08-05 23:00] #664 closed

[2019-08-05 23:46] iambmelt commented on #532
See https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/594

A resource can now be provided to `AcquireTokenParameters` to simplify the migration from ADAL to MSAL

[2019-08-05 23:46] #532 closed

[2019-08-05 23:47] iambmelt commented on #676
Customer issue was resolved. Unclear what assertion is made regarding API 21 but we can reopen if another issue presents itself

[2019-08-05 23:47] #676 closed

[2019-08-05 23:48] iambmelt commented on #646
Fix will ship in next release

[2019-08-05 23:48] #646 closed

[2019-08-05 23:49] iambmelt commented on #198
Out of date

[2019-08-05 23:49] #198 closed

[2019-08-06 22:00] heidijinxujia opened #703 "[Back Compat] getDeviceMode() throws NPE when old broker installed"
**Description**
getIntentForAuthService() returns null when trying to talk to older v1 broker
Which results with NPE when trying to connect the MicrosoftAuthService.

**Solution**
To fix this issue, we need to refactor the single account/FLW broker calls to align with ApiDispatcher and have the broker eligible checks as Multi accounts broker calls.

The telemetry events integration will also be be

[2019-08-07 12:06] MichalDanielDobrzanski commented on #506
Still happens in version 0.2.2. Any update on this?

[2019-08-07 17:11] iambmelt commented on #506
Hi @MichalDanielDobrzanski - I'll be picking this up for investigation and will keep the status here updated. Thanks

[2019-08-07 18:49] rpdome opened #704 "MSAL crashes when the passed authority uses domain suffix instead of guid."
**Scenario**:
The customer is trying to pass the non-guid authority, (i.e. https://login.microsoftonline.com/testtenant.onmicrosoft.com) as the optional authority of the acquireTokenSilent call, and the app crashes.

**Root cause**:
In OperationParametersAdapter.createAcquireTokenSilentOperationParameters(), we have a check to decide if we want to use home or tenant profile. In this case, however,

[2019-08-07 18:51] iambmelt opened #705 "Fatal Crash on clone - Investigating..."
[code]

[2019-08-07 19:09] iambmelt commented on #705
This was an androidx config issue

[2019-08-07 19:09] #705 closed

[2019-08-07 19:26] iambmelt commented on #506
PR with proposed fix open here: https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/580

[2019-08-07 19:39] iambmelt commented on #506
Merged. This will ship in an upcoming release.

[2019-08-07 19:39] #506 closed

[2019-08-07 19:46] JanLoehr commented on #563
Sorry for bumping this topic. But is there a fix planned for this? As this is still present as well in the current released as in the latest pre-release version :( The work-around seems pretty time consuming.

[2019-08-07 19:49] iambmelt commented on #563
@JanLoehr There isn't presently a fix in the works for this on the client-side. I have heard murmurs that the B2C Portal _may_ provided an in-portal toggle for this.

More on this as I have details; if this remains a long-term pain we'll find a better client-side mitigation

[2019-08-07 19:51] iambmelt commented on #563
@josephbnb Multiple scopes can be included in your request, have you tried this? Sample code could help explain your specific issue

[2019-08-08 09:13] josephbnb commented on #563
@iambmelt @JanLoehr I was able to fix the issue, it was a configuration error in Azure on my side. I was using the same B2C application for both backend and android. I created a new application specifically for Android and gave it API access to the backend B2C application (which contains the scopes).

Some comments though:
- I investigated the code a bit and I think the core of the issue is that i

[2019-08-08 16:58] iambmelt commented on #563
Thanks for the feedback @josephbnb - I'll take this as a TODO around some more helpful messaging when these errors are encountered.

As for the documentation that unblocked you; please do feel free to link that blog post here so that it may help others.

As for multiple scopes, this isn't strictly true AFAIK - each request will include 3 "base scopes" of `openid`, `profile`, and `offline_access` (

[2019-08-14 00:00] kreedula opened #708 "GetAcccounts when calls broker to get to broker accounts needs to pass in valid enviroment"
Currently its not passed here : https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/internal/controllers/BrokerAuthServiceStrategy.java#L224

and we have a todo on the callee side  here : https://github.com/AzureAD/ad-accounts-for-android/blob/dev/AADAuthenticator/src/msal/java/com/microsoft/identity/client/MicrosoftAuth

[2019-08-15 18:31] heidijinxujia commented on #708
K. Thanks, Krishna.

[2019-08-15 18:32] heidijinxujia commented on #703
Dome is working in this fix.

[2019-08-15 18:33] heidijinxujia commented on #703
I will make a separate PR for the refactor.

[2019-08-15 18:34] heidijinxujia commented on #695
Krishna is working on the related issue: unable to make a silent call from MSAL app to broker when getting the IntuneAppProtectionPolicyRequiredException.

[2019-08-15 18:35] heidijinxujia commented on #684
Close the issue. Please feel free to reopen this issue if needed.

[2019-08-15 18:35] #684 closed

[2019-08-15 18:36] #412 closed

[2019-08-15 18:42] heidijinxujia commented on #465
[A list of browsers](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/3d76cb8e9b2f5a05b7a8aba6e57d905bf02e3109/msal/src/main/res/raw/msal_default_config.json#L22) is configured in the default configuration file, where you can find the known browsers which are currently supported.
You can also customize the list in your configuration json file by adding the filed like th

[2019-08-15 18:42] #465 closed

[2019-08-15 18:44] heidijinxujia commented on #495
@joshfriend are you still encountering this issue with the latest version?

[2019-08-15 18:45] heidijinxujia commented on #496
Fixed here https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/351

[2019-08-15 18:45] #496 closed

[2019-08-15 18:53] heidijinxujia commented on #552
@NLLAPPS @rivasyshyn-ammi we just move the msal to Android X.

The redirect url schema for the manifest has been changed to [this](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/3d76cb8e9b2f5a05b7a8aba6e57d905bf02e3109/testapps/testapp/src/main/AndroidManifest.xml#L61).
[code]
Please let us know if you still encounter this issue after updating the redirect url schema.

[2019-08-15 18:56] heidijinxujia commented on #583
@samirkumar AFAIK, we don't have SDKs support for Titanium/Appcelerator. We have [Xamarin](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet)

[2019-08-15 18:56] #583 closed

[2019-08-15 18:58] heidijinxujia commented on #590
This is currently by design for the multi-account scenario.

[2019-08-15 18:58] #590 closed

[2019-08-15 19:00] heidijinxujia commented on #600
@shoatman Please have a check if this is GA required.

[2019-08-15 19:01] heidijinxujia commented on #601
https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/679

[2019-08-15 19:01] #601 closed

[2019-08-15 19:02] heidijinxujia commented on #602
@joshfriend do you still encounter this issue with latest version?

[2019-08-15 19:11] rpdome commented on #703
FYI, wwhat I'm currently working on is that
1. We'll perform a broker eligible check before we get the s.
2. the check didn't pass, we will always return isSharedDevice = false. This means that any FLW operation will NEVER be called even if the device is registered as shared mode (as MSAL will never talk to broker).

[2019-08-15 23:43] iambmelt commented on #704
Note: Testing this fix must also verify B2C is working (incl. w/ `b2clogin.com` style urls)

/cc @negoe

[2019-08-16 00:42] rpdome commented on #631
Closed as this will be controlled by the calling apps.

[2019-08-16 00:42] #631 closed

[2019-08-16 16:51] iambmelt commented on #704
[code]

[2019-08-17 00:58] iambmelt commented on #704
Fix in progress, this requires querying `.well-known` config

[2019-08-19 05:04] harry2845 commented on #602
@heidijinxujia I have met the same problem today with 0.2.2 version. Using Samsung Note 9 with Android P.

[2019-08-19 20:26] joshfriend commented on #602
I have not been able to upgrade to the v0.3.1-alpha tag because of the large amount of breaking api changes. I'm also holding off on updating until the synchronous APIs are available.

[2019-08-21 00:03] rpdome opened #712 "When talking to prod V2 broker, helloWithMicrosoftAuthService is throwing an exception that is hard to understand to app developers."
i.e. com.microsoft.identity.common.exception.ClientException: Parcelable encountered IOException reading a Serializable object (name = com.microsoft.identity.common.internal.broker.BrokerResult)

We should have a layer that transform these into an error code that the app can use to prompt user to update their broker apps.

(My suspect is that BrokerResult are different, hence Gson wasn't able to r

[2019-08-21 00:55] rpdome commented on #712
need to convert result of hello calls back from BrokerResult to bundle.

[2019-08-22 17:52] heidijinxujia commented on #712
Going to working on it this morning.

[2019-08-22 23:12] iambmelt opened #714 "[B2C] IAccount#getUsername() returns "" when preferred_username claim is empty"
Per team guidelines, when B2C is missing `preferred_username`, we should return `Missing from the token response`

[2019-08-23 04:04] heidijinxujia opened #716 "link to "Get the app" are broken"
Currently when MAM is required, or device authentication is required, we show a button to “Get the app”, the link on this button starts with msauth://

e.g.
```replyUrl?/msauth/wpj?username={0}&app_link=https%3a%2f%2fplay.google.com%2fstore%2fapps%2fdetails%3fid%3dcom.microsoft.windowsintune.companyportal```

MSAL doesn’t appear to understand these links, and clicking the button does nothing.

[2019-08-23 16:36] #714 closed

[2019-08-23 16:37] iambmelt commented on #704
Resolved by #710

[2019-08-23 16:37] #704 closed

[2019-08-23 18:50] #703 closed

[2019-08-24 00:27] iambmelt opened #718 "ATS is broken for B2C - Unable to find Account"
ATS B2C is failing because the previously-cached `AccountRecord` is never found. This is because the `idToken.oid` != `clientInfo.uid`.

In the case of B2C, the `clientInfo.Uid` contains the policy name whereas the `oid` does not.

[2019-08-24 00:29] iambmelt opened #719 "The AppConfig redirect_uri value is always ignored"
Introduced in: #625

The current logic _always_ overwrites the configured redirect. This presents a few problems

1. The `redirect_uri` field in app config does nothing because its value is always overwritten
2. The value may not be configured in the portal
3. Broker redirects do not apply to B2C
4. This may not be the value that is configured in the `AndroidManifest.xml`

Overwriting code is [her

[2019-08-26 18:53] #718 closed

[2019-08-26 21:43] #719 closed

[2019-08-27 06:20] SychevIgor opened #722 "Do Microsoft assume production ready if this library as of today?"
For IOS https://github.com/AzureAD/microsoft-authentication-library-for-objc we can find the statement
"These libraries are suitable to use in a production environment. We provide the same production level support for these libraries as we do our current production libraries. During the preview we reserve the right to make changes to the API, cache format, and other mechanisms of this library with

[2019-08-27 06:21] SychevIgor commented on #722
initial wrong question to a wrong repo https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/1457

[2019-08-28 11:18] suresh777 commented on #700
In Android emulator i am facing this issue, When i interact microsoft login it is navigating to No certificates found

[2019-08-29 13:27] vijayakumarideas2it opened #725 "Is there a way to Clear previously signedIn user token."
When i try to Logout and login again.it  did not ask for password its logged in as a previous user.Please help me out with Ad logout functionality.

[2019-08-29 15:11] predalpha commented on #495
The issue is still present on msal 0.2.2

[2019-08-29 23:02] iambmelt commented on #725
Similar issues:
- #185
- #426

Hi @vijayakumarideas2it - Currently signing out does not clear the state of browser cookies (as this is sandboxed to Chrome and signing out would effectively remove SSO state for all apps/websites/etc sharing the system cookies jar. With that in mind, I've posted [some guidance here](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/185#i

[2019-08-29 23:02] #725 closed

[2019-08-30 16:41] rpdome commented on #712
Fixed with https://github.com/AzureAD/ad-accounts-for-android/pull/1123

[2019-08-30 16:41] #712 closed

[2019-08-30 22:41] shahzaibj opened #726 "Exception occurs if scope is not set on Acquire Token Parameters"
When setting scopes on Operation Parameters we don't check if a valid scope exist on acquireTokenParameters. If the user never sets the scope on acquire token parameters or the scope is null, then a NullPointerException occurs while executing the following code to set the scope on operation parameters.

[code]

**File/Line:** OperationParametersAdapter.java line 129

[2019-09-03 07:10] suresh777 opened #727 "Getting silent token even after password change in AD"
Actually i am checking changing password feature. I changed my password in azure directory, After that i tried silent token it is providing token. But it should throw some error like authentication failed. Is it expected behaviour?

[2019-09-03 07:57] lirik16 opened #728 "PublicClientApplication.acquireToken doesn't respect activity's lifecycle"
Hello. Thank you for the library.
It looks like the current version of the library (0.3.1-alpha/0.3.2-alpha) has a problem because it doesn't take into account Android Activity lifecycle. Reproducing steps:
Let's say we have a separate screen for log in through Microsoft OAuth and we have an environment with a slow Internet connection.
1. The user opens the screen.
2. The user clicks some kind of

[2019-09-03 22:44] iambmelt commented on #727
Hi @suresh777

Yes, this is expected behavior.

When a password change event occurs, the refresh token for the specified account is revoked but the access token is not.

Depending on validity period of the access token (usually 1 hour, some apps increase to 24 hours) the access token will continue to work and be accepted by resource servers until its expiry. After the access token expires, MSAL wi

[2019-09-03 22:44] #727 closed

[2019-09-04 17:20] shahzaibj commented on #726
Closed in #730

[2019-09-04 17:20] #726 closed

[2019-09-04 21:43] iambmelt commented on #677
Partially resolved by #730

[2019-09-04 21:43] iambmelt opened #733 "(Pre-GA) Unimplemented App Configuration Properties"
AppConfig properties which are not wired-up:
- ~`HttpConfiguration`~ (Resolved in #735)
- ~`LoggerConfiguration`~ (Resolved in #738)
- ~`getSharedDeviceModeSupported()`~ (Resolved in #739)

[2019-09-04 22:57] #701 closed

[2019-09-04 22:58] #690 closed

[2019-09-04 22:58] rpdome commented on #665
Done in #702

[2019-09-04 22:58] #665 closed

[2019-09-09 15:46] #733 closed

[2019-09-10 00:00] shahzaibj opened #741 "method validateAcquireTokenParameters never returns"
validateAcquireTokenParameters seems to be frozen as it hits the validateNonNullArgument for an argument that is actually `null`. I believe this happens because the AuthenticationCallback onError cannot capture the IllegalArgumentException that is thrown by the validateNonNullArgument method.

I believe we can use the ArgumentException to solve this issue

Observed on branch `dev`

[2019-09-11 22:03] iambmelt opened #751 "README Needs Organization"
The README should be thematically organized - preferably in something resembling this order:
- Intro
    * What is this library?
    * Recommended usage
        - Supported devices, API levels
        - Update it!
- Installation
- Usage
- Running Tests
- Getting Support
- Contributions
- Reporting Security Incidents

/cc @hamiltonha

[2019-09-12 21:52] yajenya opened #752 "No virtual method getAuthorizationStrategy when calling acquireToken (msal:0.3.2-alpha)"
manifest

[code]

config json

[code]
code in Kotlin

[code]

[code]
stack trace

   java.lang.NoSuchMethodError: No virtual method getAuthorizationStrategy(Landroid/app/Activity;Lcom/microsoft/identity/common/internal/ui/AuthorizationAgent;Landroid/content/Intent;)Lcom/microsoft/identity/common/internal/providers/oauth2/AuthorizationStrategy; in class Lcom/microsoft/identity/common/internal/ui/Au

[2019-09-13 18:35] adrianhall opened #754 "Request Codes are hard-coded"
The request codes for the local and broker webview returns are hard-coded to 1001/1002.  This is a problem since these are fairly common "user-space" request codes.  Other (fairly popular) libraries that don't hard-code request codes use these as defaults.  This causes ordering issues in `onActivityResult`

Request:
1) Add an optional parameter "baseRequestCode: Int?" to the PublicClientApplicatio

[2019-09-16 17:37] shahzaibj commented on #741
This has been resolved in `release/1.0.0` by #743 . I will update this issue once the fix is in `dev`.

[2019-09-16 17:42] shahzaibj commented on #677
This should now be completely resolved by #741

The fix is already merged in release branch. I will update the issue once it is also in dev branch

[2019-09-16 23:57] iambmelt opened #757 "Request: Add Special Exception Handling for B2C Password Reset Flows"
Currently if a B2C policy is invoked and the user clicks "Reset Password", MSAL throws an `MsalServiceException` with the following payload:

[code]

Leaving it up to users of MSAL to detect this event using something more or less equivalent to the following to detect password reset
[code]

This issue is a request to yield a new `B2CPasswordResetException` or similar to make handling these events

[2019-09-16 23:58] iambmelt commented on #757
@shoatman Thoughts on the above?

[2019-09-17 11:28] samarjit-chakraborty opened #758 "Call Me option not able to redirect to redirect_uri after doing 2FA"
If we are using MFA with “Send Code”, after successful verification of code, the control is redirecting back to the Android Application and the “onSuccess” callback is getting fired. We are getting the tokens etc. inside the callback.

![SendCode](https://user-images.githubusercontent.com/22977086/65032677-396cd680-d961-11e9-9765-8bbfbbaf6eef.jpg)

Whereas for “Call Me”, the call is coming to the

[2019-09-17 21:30] iambmelt commented on #758
@samarjit-chakraborty Is this a B2C flow or regular AAD (Azure Active Directory) login?

[2019-09-18 07:32] samarjit-chakraborty commented on #758
Yes it is a Azure AD B2C flow. We tried with a standard flow created from Sign In flow template available under B2C.

[2019-09-18 21:32] jennyf19 commented on #758
@samarjit-chakraborty do you have a tenantId and a time frame?

[2019-09-18 22:01] jennyf19 commented on #758
@samarjit-chakraborty actually, could you email me the tenantId, a time frame, and the phone number being used? jeferrie@microsoft.com
thank you.

[2019-09-19 00:59] iambmelt commented on #758
@samarjit-chakraborty If you choose to share this information, feel free to include me as well via brianmel@microsoft.com and I would be happy to help assist in investigation of this issue.

We will be releasing a new build of MSAL in the next few weeks; likely the issue you're experiencing (assuming it is client-side) is fixed in the next release. I'd like to help you test this flow if possible t

[2019-09-19 16:08] iambmelt opened #762 "Improve the logged error when the redirect uri (intent) cannot be found in the AndroidManifest"
Ahead of GA, it would be helpful to log a useful message when the redirect uri cannot be found in the Manifest.

Log a **useful** error if either of the following conditions are met:
The Intent is missing OR if the redirect Uri does not match.

[2019-09-19 16:56] rpdome commented on #762
I could add that as part of my PR. https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/759

Do you think the current exception message is detailed enough?

[2019-09-19 16:57] shoatman commented on #762
@iambmelt and I we wondering whether we should just dump the entire XML for the intent filter... and fill in the scheme, host and path based on the package name and signature that we see when running the code.

[2019-09-19 18:43] iambmelt commented on #762
@rpdome Let me know if you plan to implement this, otherwise I'll take this on this afternoon

[2019-09-19 21:55] rpdome commented on #762
Closed in #759

[2019-09-19 21:55] #762 closed

[2019-09-19 22:33] #640 closed

[2019-09-19 22:33] #641 closed

[2019-09-24 03:23] Poweryong opened #765 "ApiDispatcher NullPointerException"
**com.microsoft.identity.common.internal.controllers.ApiDispatcher.completeInteractive (ApiDispatcher.java:248)**
com.microsoft.identity.client.BrowserTabActivity.onResume (BrowserTabActivity.java:76)

This what i get from the crash report.

[2019-09-24 03:27] iambmelt commented on #765
@Poweryong what build number are you using? device? android version?

[2019-09-24 03:32] Poweryong commented on #765
Build number : 0.3.2-alpha
Device : Mi A2 Lite, Android 9
Device : Oppo F9, Android 8.1
Device : Oppo A1691, Android 5.1

[2019-09-24 03:48] iambmelt commented on #765
Thanks @Poweryong -- is there any more of this stacktrace you can share? More lines?

[2019-09-24 04:09] Poweryong commented on #765
com.microsoft.identity.common.internal.controllers.ApiDispatcher.completeInteractive (ApiDispatcher.java:248)
com.microsoft.identity.client.BrowserTabActivity.onResume (BrowserTabActivity.java:76)
android.app.Instrumentation.callActivityOnResume (Instrumentation.java:1413)
android.app.Activity.performResume (Activity.java:7292)
android.app.ActivityThread.performResumeActivity (ActivityThread.java:

[2019-09-24 23:02] iambmelt commented on #765
Transferring over to @kreedula for follow-up. I suspect this has already been fixed on our `dev` branch

[2019-09-24 23:05] kreedula commented on #765
This is fixed in `dev` branch here : https://github.com/AzureAD/microsoft-authentication-library-common-for-android/blob/dev/common/src/main/java/com/microsoft/identity/common/internal/controllers/ApiDispatcher.java#L371

A new version of MSAL will be releasing shortly(next week ) which will have the fix

[2019-09-24 23:16] iambmelt commented on #765
Thanks @kreedula - we are not planning to ship a hotfix for our preelease `0.3.2-alpha` before our next release so I am going to close this issue

@Poweryong Please reach out if you have any major concerns, otherwise please plan to pick up our next release. Be advised it will contain API breaking changes

[2019-09-24 23:16] #765 closed

[2019-09-26 03:45] ashikns opened #768 "TenantProfileCacheRecords is null"
**Describe the bug**
Creation of LoadlAuthenticationResult fails at this line because _tenantProfileCacheRecords_ is null:

[code]

I checked the response json used to create brokerResult and it **doesn't** have a tenant profile field.

 - Device: OnePlus 7
 - Android Version: 9
 - Browser: Using from a Unity app
 - MSAL Version: 1.0.0-RC9, Common @ 1.0.3

**To Reproduce**
Login to an Azure AD v2

[2019-09-26 07:58] ashikns commented on #768
Sorry opened this in wrong repo.

[2019-09-26 07:58] #768 closed

[2019-09-26 17:02] iambmelt opened #769 "Crash in Telemetry"
[code]

[2019-09-26 19:51] shoatman commented on #769
@iambmelt - What were the repro steps for this issue?

[2019-09-26 19:52] shoatman commented on #754
onActivityResult is no longer required in MSAL (>0.3).  This is bug in the readme which will be fixed on Monday.

[2019-09-26 19:55] shoatman commented on #752
@kreedula - Is this something that you can investigate?  Looks like an issue related to common?

[2019-09-26 20:21] iambmelt commented on #769
@shoatman Clicked acquireToken in the sample app. The request failed, clicked acquireToken again, then crashed.

[2019-09-26 20:30] shoatman commented on #769
@iambmelt - Can I get some additional detail?  For example:

- Device Type
- Broker installed?  Not installed?
- Which sample app?  (Test app or sample app?)
- If this is real bug and repros this consistently are we not saying that MSAL is broken?

[2019-09-26 20:43] iambmelt commented on #769
- Nexus 6P
- `brokerHost` (test broker) installed
- Msal sample app

This appears to be an implementation problem -- from the [javadocs](https://developer.android.com/reference/java/util/LinkedList#top_of_page)

From reading the `Telemetry` class, this is possible if `flush()` and `emit()` are called at the same time which is presumably what happened here

[2019-09-26 20:55] Om83 commented on #769
hi @shahzaibj  and @iambmelt , Can you please work together to resolve this soon . Appreciated!

[2019-09-26 20:58] iambmelt commented on #769
ACK thanks @Om83

[2019-09-26 21:19] shahzaibj commented on #769
@iambmelt Are you referring to the new java sample app that Dome created?

This one? https://github.com/Azure-Samples/ms-identity-android-java

[2019-09-27 01:07] shahzaibj commented on #769
Fixed in common branch `release/1.0.6` by [Common PR 664](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/664)

[2019-09-27 01:08] #769 closed

[2019-09-27 20:12] kreedula opened #773 "Fix MSAL pmd errors"
Currently we have 18 errors w.r.t to PMD, mostly related to String usage.
Run `msal:pmd` to see the errors

[2019-09-29 16:32] NLLAPPS opened #776 "Upgrade path from 0.3.xx to 1.0.xx"
Thank you for releasing version 1.0.0! It looks like a lot changed. It would be great if you could provide some sort of upgrade path for developers using 0.3 series.

Perhaps https://github.com/Azure-Samples/ms-identity-android-native can be upgraded from 0.3 to 1 by creating a new branch so developers can see all changes in one place by checking changes between commits

[2019-09-30 15:27] shoatman commented on #776
We're in the process of updating the docs... happening over the course of today.  Here's a link to the two new samples that we created:

Kotlin: (https://github.com/Azure-samples/ms-identity-android-kotlin)[https://github.com/Azure-samples/ms-identity-android-kotlin)

Java: (https://github.com/Azure-samples/ms-identity-android-java)[https://github.com/Azure-samples/ms-identity-android-java]

[2019-09-30 19:35] shoatman commented on #776
https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-migration-guide-0.3.2-1.0.0

[2019-09-30 20:12] shahzaibj opened #779 "Can't use callback methods if callback object is null"
If the callback object is null, then we cannot call onSuccess or onError on that object. When we do that we run into a NullPointerException. In fact, we validate non-null for callback in the validateAcquireTokenParameters method but then we try to post that exception via the onError method of the callback which is not possible as the callback is null.

[2019-09-30 22:18] iambmelt commented on #773
Closed by https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/774

[2019-09-30 22:18] #773 closed

[2019-09-30 22:20] iambmelt commented on #751
Closed by https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/753

Thanks @hamiltonha

[2019-09-30 22:20] #751 closed

[2019-09-30 22:20] iambmelt commented on #677
Merged and done, thanks @shahzaibj

[2019-09-30 22:20] #677 closed

[2019-09-30 22:29] shahzaibj commented on #741
The fix has been merged in dev

[2019-09-30 22:29] #741 closed

[2019-09-30 22:30] #17 closed

[2019-09-30 22:33] iambmelt commented on #306
Guidance on authorization agents can be found here:
https://docs.microsoft.com/en-us/azure/active-directory/develop/authorization-agents

[2019-09-30 22:33] #306 closed

[2019-09-30 22:33] iambmelt commented on #308
Closing old/invalid

[2019-09-30 22:33] #308 closed

[2019-09-30 22:35] iambmelt commented on #232
Sovereign cloud support (instance aware) is supported and is now available in GA (`1.0.0`)

[2019-09-30 22:35] #232 closed

[2019-09-30 22:36] iambmelt commented on #237
Closing as old/invalid -- please reopen if the `1.0.0` release exhibits issues

[2019-09-30 22:36] #237 closed

[2019-09-30 22:38] iambmelt commented on #315
This piece of API has been removed in the `1.0.0` release

[2019-09-30 22:38] #315 closed

[2019-09-30 22:40] iambmelt commented on #455
Newer releases are no longer signed -- AndroidX compatibility should no longer be an issue

[2019-09-30 22:40] #455 closed

[2019-09-30 22:42] #342 closed

[2019-09-30 22:45] #617 closed

[2019-09-30 22:45] #616 closed

[2019-09-30 22:45] #600 closed

[2019-09-30 22:46] iambmelt commented on #495
This issue should be fixed with `1.0.0` -- please open a new issue if you have any problems

[2019-09-30 22:46] #495 closed

[2019-09-30 22:49] iambmelt commented on #477
This should now be fixed in our `1.0.0` release, please open a new issue if you continue to experience problems

[2019-09-30 22:49] #477 closed

[2019-09-30 22:51] iambmelt commented on #479
Error messaging has been improved in https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/759 and release in `1.0.0`

[2019-09-30 22:51] #479 closed

[2019-09-30 22:55] iambmelt commented on #638
This should now be fixed in our `1.0.0` release.

If anyone else has this issue, please open a new issue and include logs/repro steps.

Thanks

[2019-09-30 22:55] #638 closed

[2019-09-30 23:03] iambmelt commented on #645
Implemented here: https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/748

Summary of implementation:
If a subset of scopes are granted, a `DeclinedScopesException` is emitted in `onError` with a populated `AcquireTokenSilentParameters` which can be used to initiated a silent request with the granted scopes

[code]

[2019-09-30 23:03] #645 closed

[2019-09-30 23:06] iambmelt commented on #695
@kreedula Can we close this issue? Is this now resolved?

[2019-10-01 00:09] shahzaibj commented on #779
Fixed by #780

[2019-10-01 00:09] #779 closed

[2019-10-01 00:40] shahzaibj opened #783 "Need validate non-null logic for MultipleAccountPublicClientApplication methods"
We need to some logic to validate non-null parameters for methods such as getAccount, removeAccount etc.

[2019-10-02 19:07] iambmelt commented on #776
Thanks for providing docs in the wiki, @shoatman

[2019-10-02 19:07] #776 closed

[2019-10-02 19:09] #669 closed

[2019-10-02 19:23] iambmelt commented on #531
This should be fixed in our `1.0.0` release -- please open a new issue if you have any problems

[2019-10-02 19:23] #531 closed

[2019-10-02 19:25] iambmelt commented on #504
This has been removed in our `1.0.0` release - thanks!

[2019-10-02 19:25] #504 closed

[2019-10-02 19:27] #379 closed

[2019-10-02 19:27] #370 closed

[2019-10-02 19:28] iambmelt commented on #421
This has been removed in `1.0.0`

[2019-10-02 19:28] #421 closed

[2019-10-02 19:29] iambmelt commented on #253
Not aware of any recurrences of this issue - will reopen if necessary

[2019-10-02 19:29] #253 closed

[2019-10-02 19:31] iambmelt commented on #521
`IAccountIdentifier` has been removed in `1.0.0`

[2019-10-02 19:31] #521 closed

[2019-10-02 19:32] iambmelt commented on #603
Thanks @kreedula

[2019-10-02 19:32] #603 closed

[2019-10-02 21:37] kreedula opened #785 "Concurrent modification exception on MSAL (1.0.0)"
[code]

[2019-10-02 21:45] kreedula opened #786 "Null pointer on Telemetry UIEvent creation in AuthorizationActivity"
**Describe the bug**
Webview hangs on the `AccountPicker` Screen when `Back` is pressed

**Stacktrace**
[code]

**To Reproduce**
Sign in to MSAL with any cloud account with the test app
Click `acquireToken` on the test without loginhint.
AccountPicker screen will be displayed by Ests.
Click back button.

**Expected behavior**
Go back to the test app with `user cancel`

**Actual Behavior**
WebView

[2019-10-03 09:04] A86S opened #787 "Multiple Scope not working"
I have registered my android app with azure portal and add the api permissions for yammer and microsoft user.read.

**note : app is also registered with yammer portal.**

 App auth is working fine if i have used single scope but it fails in case of multiple scope.

cases :

Working fine in single scope case
`val SCOPES = arrayOf("https://graph.microsoft.com/.default") `

Not Working in multiple sc

[2019-10-03 14:50] asterehin opened #788 "Need a version to use for support library Android"
I see that there are some plans to release NoAndroidX version, but according to the latest commit - it's RC9 yet.
![image](https://user-images.githubusercontent.com/52634702/66138538-78f51d00-e607-11e9-93ed-89398e6506bc.png)

I need this urgently, as our iOS app already moved to MSAL but Android can't because there is no library with support library support.

[2019-10-03 14:54] asterehin commented on #788
I see that there are some plans to release NoAndroidX version, but according to the latest commit - it's RC9 yet.
![image](https://user-images.githubusercontent.com/52634702/66137960-8b228b80-e606-11e9-823c-0f55b1f99ec9.png)
I need this urgently, as our iOS app already moved to MSAL but Android can't because there is no library with support library support.

[2019-10-03 19:03] iambmelt commented on #787
Hi @A86S -- [Combining static and dynamic consent scopes is not supported](https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-permissions-and-consent#the-default-scope) -- you have a few options:

- Request separate tokens for these resources and use the specific for each request as necessary
- Use exclusively dynamic consent scopes
    - Note you can [request consent upfront](http

[2019-10-03 19:24] iambmelt commented on #788
@asterehin There are currently no plans to create a public release of MSAL with AndroidX support _removed_.

Is there a reason you can't update your app to use the new androidx support packages?

[2019-10-03 19:59] asterehin commented on #788
The reason is that we have tens of quite big apps and core library which are using support library. Migrate to androidX will take quite a lot of time and for now the only reason is that we wanted to
Can you please advise what we can do?

[2019-10-04 00:22] iambmelt commented on #788
@asterehin I see; that's a challenging circumstance.

So unfortunately, maintaining two forks of MSAL (one _with_ AndroidX and one _without_) isn't a sustainable development model for us so, aside from simply saying 'update to AndroidX' here's what you _could_ do:

I have pushed up a branch of our `1.0.0` release with no AndroidX support --  please note that this will **not** be maintained and no

[2019-10-04 00:22] #788 closed

[2019-10-04 05:01] A86S commented on #787
thanks @iambmelt

[2019-10-04 05:01] #787 closed

[2019-10-04 07:27] asterehin commented on #788
Thanks for your reply! Will discuss with my managers now

[2019-10-04 10:48] mattlaabs opened #792 "authority parameter is @NotNull but null is passed in documentation"
In step 4.3 of the readme NULL is passed for the `@RecentlyNonNull` authority parameter.
I am successfully using https://login.microsoftonline.com/common/v2.0 instead, but does this cover all supported account types? Please update the docs and provide the broadest possible authority as constant (or as default and make the parameter `@Nullable` again).

[2019-10-04 18:39] iambmelt commented on #792
@mattlaabs Thanks for calling out this miss in the docs -- #794 corrects this for the "base case" where a user is renewing a token for their _home account_ and will merge shortly.

Regarding your question about using the 'broadest possible authority': sadly it is not that simple: because an `IAccount` may contain one more `TenantProfiles` which span multiple tenants and, by extension, multiple aut

[2019-10-04 22:57] #754 closed

[2019-10-04 22:59] iambmelt commented on #695
Closed by #571

[2019-10-04 22:59] #695 closed

[2019-10-04 23:02] iambmelt commented on #238
[This is now configurable](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#http)

[2019-10-04 23:02] #238 closed

[2019-10-04 23:03] iambmelt commented on #472
Closing with no repro in latest version, will reopen if recurs

[2019-10-04 23:03] #472 closed

[2019-10-04 23:04] #785 closed

[2019-10-04 23:06] iambmelt commented on #647
@shoatman I am going to close this feedback request, as we've now shipped this functionality in `1.0.0`. Feel free to reopen if I have closed this in error. Thanks

[2019-10-04 23:06] #647 closed

[2019-10-04 23:08] iambmelt commented on #643
@shoatman I am going to close this feedback request, as we've now shipped `1.0.0`. Feel free to reopen if I have closed this in error. Thanks

[2019-10-04 23:08] #643 closed

[2019-10-04 23:08] iambmelt commented on #642
@shoatman I am going to close this feedback request, as we've now shipped `1.0.0`. Feel free to reopen if I have closed this in error. Thanks

[2019-10-04 23:08] #642 closed

[2019-10-04 23:09] iambmelt commented on #639
@shoatman I am going to close this feedback request, as we've now shipped this functionality in `1.0.0`. Feel free to reopen if I have closed this in error. Thanks

[2019-10-04 23:09] #639 closed

[2019-10-07 13:15] Nasicus opened #797 "Allow passing of an object or string instead of a File to the PublicClientApplication creation methods"
I noticed today that the new factory methods from `PublicClientApplication` only support a `File` as a config value, e.g. `PublicClientApplication.createMultipleAccountPublicClientApplication(context, file)`.

However in our case we use the library dynamically for more than just one "configuration" (b2c, common, specific tenants, etc.). I would appreciate it if you could instead of passing a file,

[2019-10-07 13:25] shoatman commented on #797
I"m not opposed to provide the ability to provide a string, json, etc....

With that said, I'm curious about how you intend to use this relative to specific tenants.  Outside of B2C there is no need to specify specific AAD tenants.

[2019-10-07 13:35] Nasicus commented on #797
The use case is this I guess:

In our app we have the following login possibilites:
- normal login (will go to `https://login.microsoftonline.com/common`)
- b2c login (will go to `https://login.microsoftonline.com/tfp/ourb2ctenantname.onmicrosoft.com/B2C_1_SignInSignUpPolicy`)
- tenant specific login (from specific login pages for some clients) (will go to `https://login.microsoftonline.com/<clien

[2019-10-07 13:39] shoatman commented on #797
Got it... so your app will support multiple B2C tenants that will not be known at dev time.  For the AAD tenants (normal and tenant specific) you just need one configuration file.... you can pass in the tenant specific authorities as parameters to acquireToken and acquireTokenSilent.....

Thanks!

[2019-10-07 13:46] Nasicus commented on #797
Well we only have one B2C tenant, so if you can do `fromAuthority` (from the builder) and it will then replace `/common`  with `/<tenant-id>` I guess this would also be a solution. I didn't see that thanks.

However I still think it would be nice if you could pass something different than a `File` in there (just from the standpoint of dynamic usages).

Thanks for your response.

[2019-10-07 13:48] shoatman commented on #797
We've had the same feedback from others.  The main reason we don't do this at the moment is that we're concerned about the library being tricked into navigating the user to a malicious STS (someone posing as a legitmate IDP... and collecting credentials.)  If the authorities being dynamically provided are known to you and verified by you... then that wouldn't necessarily be an issue.  I'll look at

[2019-10-07 17:09] A86S opened #799 "[Feature Request] Need an option to choose microsoft account [Account Chooser]"
library does not provide any process which list out the microsoft accounts [outlook, azure] while auth the user [ same functionality like google account chooser which provide short way to login with the already logged in user in gmail or play account]

[2019-10-08 13:23] 4gus71n commented on #788
I'm curious about why to move to AndroidX. I did the migration in order to update to the 1.0 version a couple of days ago.

So far so good, but I don't understand the need of having a third-party library to migrate to AndroidX. I mean if a developer wants to use AndroidX on his project he can always enable the jetifier option on Gradle and have the third-party binary use AndroidX.

[2019-10-09 03:45] shahzaibj commented on #786
Fixed by #790

[2019-10-09 03:45] #786 closed

[2019-10-10 08:33] darshanasys commented on #558
Same problem,, correlationid : 6bff351e-7f58-4f4b-8c7a-6f4a1f7bf9b2

[2019-10-10 16:11] iambmelt commented on #558
Something's wrong with your refresh token; it's malformed or invalid -- I can also see that you're using the v1 endpoint and Postman so this doesn't indicate an MSAL issue

[2019-10-10 16:18] darshanasys commented on #558
@iambmelt yes, i figured that out, and my issue is resolved. Thanks for the reply though. :)

[2019-10-11 09:30] homer-jay opened #802 "Documentation and sample request: AD FS support"
After hours reading the docs I've not been able to tell if this library supports connecting directly to AD FS, and if so, which versions of ADAL and which version of AD FS. This is very important when developing corporate apps as AD FS 2016 is still very common.

What I'd need as a developer:
- A sample android app showing how to connect to AD FS similar to the [JS equivalent](https://docs.microso

[2019-10-14 16:32] iambmelt commented on #802
Hi @homer-jay -- MSAL does _not_ support connecting directly to ADFS in our `1.0.0` release. This functionality may become available in later releases and will be included in the changelog when such capabilities become available.

For connecting directly to ADFS, [ADAL is the library you're looking for](https://github.com/AzureAD/azure-activedirectory-library-for-android).

I don't have a sample i

[2019-10-14 16:32] #802 closed

[2019-10-15 09:43] asterehin commented on #797
We also require to have something different to just a file as there will be a a dynamic usage in our projects. iOS version of the library has a builder - would be great to have this option as well.

@Nasicus  don't  quite see what you mean by "replace /common with /<tenant-id>" . It's smth we need as well, but what is your idea ?
In my case client_id will be dynamic.

[2019-10-15 10:18] Nasicus commented on #797
@asterehin

I didn't test it, but as far as I understand you can use the static file (where you just have the config with `common`) and then when you do the actualy requests to `acquireToken` you pass as the `authority` (i.e. use the builder for `acquireAsync` with `fromAuthority`) your dynamic `clientId` it may work...

But I didn't test it yet :)

[2019-10-15 14:37] shoatman commented on #799
@A86S - Browsers including the default browser only allow one "Microsoft account" or "live id" to be in signed in at a time.  With that said, you can choose between work accounts (AAD accounts) and a single Microsoft account using Prompt.SELECT_ACCOUNT

[2019-10-15 22:20] titorodi opened #806 "RedirectURI should be consistent and consumed ideally from one location"
**Is your feature request related to a problem? Please describe.**
It's inconvenient to get the brokerRedirectUri, which from the getBrokerRedirectAPI is not URL encoded, cannot be URL encoded in the Android manifest, but must be URL encoded in the JSON config, and the make sure I copy it to the AndroidManifest.xml and tweak it as appropriate as I debug with one signature or make an official build

[2019-10-17 08:25] guillaume-tgl commented on #513
I have an issue with Proguard too when using MSAL v1.0.0:

[code]

[2019-10-18 02:29] iambmelt opened #807 "[MSAL Test App] ATS w/ Resource does not provide an authority"
The MSAL test app does not provide an authority when calling ATS w/ resource

[2019-10-24 18:18] Om83 commented on #728
Please use the recently GAed version and let us know if you still face the issue.

[2019-10-24 18:20] Om83 commented on #716
@kreedula, Can you please take a look.

[2019-10-24 18:22] Om83 commented on #708
@kreedula Is this still an issue , can you please resolve appropriately?

[2019-10-24 18:23] Om83 commented on #700
Please try with the latest MSAL bits and let us know if the issue is still there. Thanks.

[2019-10-24 18:30] Om83 commented on #635
@shoatman , Did we publish the TODO? And should we close this then?

[2019-10-24 18:37] kreedula commented on #716
Fix on the server side is on test slice, validated it. It should it prod soon. No changes required from the client side , so closing the issue

[2019-10-24 18:37] #716 closed

[2019-10-24 23:51] shahzaibj commented on #672
@shoatman Do you know of any other scopes where this can happen? I just tried with Office and Azure AD Graph and they don't accept a token obtain via `User.Read whereas MS Graph does`. So it looks it is just MS Graph, but do you know of any other scopes that are equivalent?

[2019-10-25 00:39] shahzaibj commented on #672
I believe any scope of the form `https://graph.microsoft.com/<permission>` is equivalent to `<permission>` where permission is a valid permission defined by Graph. Would that be right @shoatman ?

[2019-10-25 17:53] shahzaibj commented on #672
@Om83 we won't be fixing this issue as we believe this should be something that needs to be fixed on the server side. Keeping the issue opened here as we still want to track this issue and be aware of the status of it.

[2019-10-28 14:45] shoatman opened #814 "Unused Code?"
**Describe the bug**
Looks like this line of code is [unused...](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/13b0990f45a7af26840ebfd3981c9d3d968f0296/msal/src/main/java/com/microsoft/identity/client/internal/controllers/BrokerMsalController.java#L99)

[2019-10-28 17:03] rpdome commented on #752
@yajenya Could you try with the [MSAL v1.0.0](https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v1.0.0) and see if the issue still persists? Thanks!

[2019-10-28 17:05] rpdome commented on #644
Introduced in [MSAL v1.0.0](https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v1.0.0)

[2019-10-28 17:05] #644 closed

[2019-10-28 17:05] #614 closed

[2019-10-28 17:08] rpdome commented on #635
We introduced synchronous (blocking) APIs in MSAL v1.0.0 (needs to be running on a background thread) - This includes getAccounts(), getAccount(), removeAccount() and acquireTokenSilent()

[2019-10-28 17:08] #635 closed

[2019-10-28 18:22] shahzaibj commented on #814
You're right, it is not being used. I can open a PR to remove it.

[2019-10-28 18:30] shahzaibj commented on #814
@shoatman Fixed in #815

[2019-10-28 22:10] #814 closed

[2019-10-29 22:05] iambmelt opened #816 "CVE-2019-17195 in dependency com.nimbusds:nimbus-jose-jwt"
MSAL has a dependency on com.nimbusds:nimbus-jose-jwt:5.7 which has the following vulnerability:

https://nvd.nist.gov/vuln/detail/CVE-2019-17195

Mitigation: Please update com.nimbusds:nimbus-jose-jwt dependency to v7.9 or newer

[2019-10-29 22:10] iambmelt commented on #816
Tracking related:
- `android-complete` -- https://github.com/AzureAD/android-complete/issues/21
- `adal` - https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/1468
- `msal` - https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/816
- `common` - https://github.com/AzureAD/microsoft-authentication-library-common-for-android/issues/705
- broker` - htt

[2019-10-29 22:58] #816 closed

[2019-10-30 17:57] dharashahkenya opened #818 "[Question] is it still possible to be able to use internal microsoft webpage in 1.0+"
In the version 0.2.1 i was able to authenticate a user using the webpage that would load in my own app itself (AuthenticationActivity) in the microsoft sdk . Is it possible to do that same with 1.0.+ version? May i please know the updated methods or documentation of how to use it ? I do not want to use the device browser at all, but rather in-app browser that you provided in 0.2.1.

Could anyone p

[2019-10-30 18:13] iambmelt commented on #818
Hi @dharashahkenya -- Yes! This is still possible in 1.0.+ but is no longer the desired behavior. Please see the following documentation on configuring your `authorization_user_agent`

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#configuration-settings

[2019-10-30 18:13] #818 closed

[2019-10-31 10:28] adenisyuk opened #820 ""returned_account_does_not_match_current_account" error is returned on request for password change"
**1st flow**:
1. Log in to the app using B2C signIn/signUp policy (ISingleAccountPublicClientApplication)
2. Launch change password flow using dedicated policy (tried using the same instance of ISingleAccountPublicClientApplication but requesting acquireToken with different authority URL pointing to a change password policy, as well as creating a separate instance of ISingleAccountPublicClientAppl

[2019-10-31 18:55] Om83 commented on #799
@A86S , I am closing the issue based on the above response. Please feel free to re-open if additional clarification needed.

[2019-10-31 18:55] #799 closed

[2019-10-31 19:15] iambmelt commented on #820
@adenisyuk Due to how to B2C policies are cached internally to MSAL, you'll want to use an `IMultipleAccountPublicClientApplication` for your requests -- we have a sample [here ](https://github.com/Azure-Samples/ms-identity-android-java)with some B2C specific guidance in the readme [here](https://github.com/Azure-Samples/ms-identity-android-java#b2cmodefragment-class).

Please have a look and let

[2019-10-31 22:21] shahzaibj opened #823 "Test "testAcquireTokenExceedCacheMaxItems" is failing sometimes"
java.lang.AssertionError: expected:<2> but was:<1>

[2019-10-31 22:24] shahzaibj commented on #823
I've temporarily ignored this test in #822

[2019-10-31 22:25] rpdome commented on #806
Logging fix should go out with the next release (MSAL 1.1).
For the suggestions, I'll put the investigation work item in my backlog.

[2019-11-04 12:01] Tweener commented on #816
Hey there!
Any idea about when this fix will be release? This is a blocker for me as I can't use the Microsoft SSO.
Thanks!

[2019-11-04 16:44] rpdome commented on #816
@Tweener this fix will be bundled with the next release - which we're targeting around mid-Nov. Thanks!

[2019-11-04 17:20] Tweener commented on #816
Thanks @rpdome! I'll be monitoring the releases.

[2019-11-04 19:19] Om83 commented on #633
Can you please test with the latest version and let us know if this is still happening?

[2019-11-04 19:27] Om83 commented on #529
@AlexMofer , Can you please let us know if this is still an issue with the latest version of MSAL?

[2019-11-04 19:29] Om83 commented on #512
@guperrot , Is this still an issue with the latest version of MSAL?

[2019-11-04 19:51] guperrot commented on #512
We can't migrate to the latest version due to all the breaking changes. Not sure when this will be prioritized on our side, for now we are stuck with `0.3.1-alpha`.

[2019-11-05 01:33] AlexMofer commented on #529
@Om83 I will give feedback after using the new version, please wait a moment.

[2019-11-07 18:14] iambmelt opened #828 "[Pkg Inspector] Add AccountType Metadata for Installed Packages"
This is a feature request for `Package Inspector`

It would be helpful to know when an app is a designated authenticator and what its supported account type is.

/cc @hamiltonha

[2019-11-07 21:00] #828 closed

[2019-11-08 23:28] #807 closed

[2019-11-12 17:17] nicolgit opened #833 "SSO Wiki link missing"
**Describe the bug**
page: https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Configuring-your-app

the text "Read more in the SSO wiki article" ha no direct link to SSO Wiki Article so it is not possible to know where to read more... :-)

**Smartphone (please complete the following information):**
N/A

**Stacktrace**
N/A

**To Reproduce**
N/A

**Expected behavior**
N/A

[2019-11-12 21:20] hamiltonha commented on #833
Hello, that article is out of date. Please refer to this doc for [configurating you app](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration). This doc about [brokered auth](https://docs.microsoft.com/en-us/azure/active-directory/develop/brokered-auth) will provide an explanation for how to enable SSO through a broker. This doc about [enabling SSO on ADAL](https://do

[2019-11-14 00:38] iambmelt opened #835 "Dead references to UiBehavior in IPublicClientApplicationJavadoc"
Documentation inside of `IPublicClientApplication` uses references to `UiBehavior` class which has been renamed to `Prompt`

[2019-11-14 00:46] #835 closed

[2019-11-19 10:30] Tweener commented on #816
Hi @rpdome ! Do you have any updates regarding the release including the fix to this issue?

[2019-11-20 23:37] rpdome commented on #816
Hi @Tweener. We had to include additional fixes in the payload so this is being delayed. We'll try our best to get the build out as soon as possible.

Given that the next week is US Thanksgiving, however, if we cannot get the build out by next wednesday, then I'll have to ask you to wait for one more week for the release.

Sorry for any inconvenience this may have caused.

[2019-11-21 09:07] Tweener commented on #816
Hi @rpdome, thanks for your answer and for letting me know what's going on on your side.
Hopefully you'll manage to do before Thanksgiving and we'll get happy customers :)

Anyway, happy Thanksgiving to you!

[2019-11-21 14:21] nickplennox commented on #563
I am getting exactly the same error `Attempt to invoke virtual method 'long java.lang.Long.longValue()' on a null object reference` following a successful interactive login, and I already have the recommended config for JwtIssuer in my custom policy config

`
        <TechnicalProfile Id="JwtIssuer">
          <DisplayName>JWT Issuer</DisplayName>
          <Protocol Name="None" />
          <Outp

[2019-11-22 09:31] Nasicus commented on #652
work with 1.0.0

[2019-11-22 09:31] #652 closed

[2019-11-26 18:18] Om83 commented on #227
@temirlannurdinov can you please confirm if this is still happening on latest broker?

[2019-11-26 18:24] Om83 commented on #284
@iambmelt  can this be closed now?

[2019-11-26 18:24] iambmelt commented on #284
@Om83 Providing status: this issue still exists but is of low-pri. The tests execute, despite warnings informing us that the wrong dependency is being used. "Fixing" the issue per the documentation breaks the tests 😕

[2019-11-26 18:25] iambmelt commented on #284
@Om83 Given this isn't a call to action, I will close. We can reactivate later if this becomes pri

[2019-11-26 18:25] #284 closed

[2019-11-26 18:54] #459 closed

[2019-11-27 08:51] Tweener commented on #816
Hey @rpdome ! I wanted to ask you if you think you're gonna be able to push the release before Thanksgiving?
I'm sorry for being a bit pushy but our customers are quite impatient, especially because it's already available on iOS.
Thanks!

[2019-11-28 03:40] #529 closed

[2019-11-28 06:10] AlexMofer opened #846 "redirect_uri 与 签名校验问题"
**Describe the bug**
使用keytool命令获取的签名与MessageDigest获取的签名不一致。
使用keytool命令：
[code]
获取得到的SHA1为：
release alias: "EZGOxkKE4kEUAps55kNgvRZvsQk="
debug alias: "r2AoowJbNe3noUR8yoKWH28PIv0="

使用MessageDigest（采取自你们的校验代码）：
[code]
获取得到的SHA1为：
release alias: "Q5gsALBuu/L+a7xVbqcqFb0MZBI="
debug alias: "BB0WxpVdDHHe6ujKwQ6rviWa99Q="

因为你们的包签名校验，使用keytool是无法创建PublicClientApplication，直接崩溃。使用与你们校验算法一致的获取方式获得的包签名则

[2019-11-29 13:38] 4gus71n opened #847 "Hooking MSAL into OkHttp's Interceptors"
**Is your feature request related to a problem? Please describe.**

I'd like to be able to fetch the MSAL auth token synchronously, so I can hook the authentication mechanism into OkHttp through an Interceptor.

Right now, on my app, all my repositories inherit from a `BaseRepository`, this `BaseRepository` has a function named `fetchMsalToken()`. This `fetchMsalToken()` function runs the `aquireT

[2019-12-02 17:26] iambmelt commented on #847
Hi @4gus71n -- There is a synchronous API for `acquireTokenSilent` [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/IPublicClientApplication.java#L85).

[2019-12-02 17:26] #847 closed

[2019-12-03 12:11] mcelotti opened #848 "set/prefill username and password programmatically"
**Is your feature request related to a problem? Please describe.**
I'd like to set username and password programmatically so that user can have those fields pre-filled.

**Describe the solution you'd like**
A hint about how this could be achieved

**Describe alternatives you've considered**
ND

**Additional context**
ND

[2019-12-03 17:16] iambmelt commented on #848
Hi @mcelotti

The user's email/upn can be prepopulated by setting a `login_hint` on the `AcquireTokenParameters`. Docs [here](https://javadoc.io/static/com.microsoft.identity.client/msal/1.0.0-hf1/com/microsoft/identity/client/AcquireTokenParameters.Builder.html#withLoginHint-java.lang.String-).

Example code:
[code]

As for the password, this is not supported _by design_ because it introduces an

[2019-12-03 17:16] #848 closed

[2019-12-03 18:24] #833 closed

[2019-12-03 18:34] #792 closed

[2019-12-04 10:07] RootFengshun commented on #788
Have came across same problem-- just need integrate msal into a very old project (just for temp demo). Thanks @asterehin  for the private branch. It works well for me. We are considering upgrade our project.

[2019-12-04 17:48] 4gus71n commented on #847
Thanks! I was able to move all my code into an Interceptor. 🎉 👍

[2019-12-04 18:30] 4gus71n commented on #570
I know that this is an old closed thread, but I think I found out some useful information about this issue. I just finished implementing what I was talking about on this issue https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/847.

At first, everything was working perfectly, but then I started getting the old good `MsalClientException: No refresh token was found. ` exc

[2019-12-04 18:53] 4gus71n commented on #544
Hellow @MichalDanielDobrzanski 👋

I'm also trying to use the new synchronous API to have my Interceptor fetch the auth token. The thing is that now I'm getting the `MsalClientException: No refresh token was found.` exceptions. Have you tried using the synchronous API on your code or are you still using the Rx hack?

https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/570

[2019-12-04 19:33] iambmelt commented on #570
@4gus71n Are you using MSAL 1.0.0 and still having this issue?

[2019-12-04 19:43] 4gus71n commented on #570
@iambmelt Yes, actually I updated to the latest release (1.0.0-hf1) this morning, just in case. But I was using 1.0.0 before that.

[2019-12-04 19:46] iambmelt commented on #570
@4gus71n In that case, I am going to reopen this issue.

To quickly summarize, when you encounter this issue, it seems to happen when you acquire tokens for multiple resource simultaneously, have I understood correctly?

[2019-12-04 19:55] 4gus71n commented on #570
If by "multiple resources" you mean my backend's endpoints, then **yes**. What happens is that:

1) I set the `acquireTokenSilent()` to force refresh through the `alwaysRefresh` variable:

![image](https://user-images.githubusercontent.com/2055468/70175831-2fcc5280-16b6-11ea-993d-0a417f48df76.png)

2) I open the app, the app is going to hit different endpoints, my app has a ViewPager with differen

[2019-12-04 20:03] iambmelt commented on #570
@4gus71n Ok, more questions. When you perform your `acquireToken` request, are you using `withOtherScopesToAuthorize` and including all of your services/scopes in that first request?

For context, MSAL maintains a single refresh token for a user; using `force_refresh` _forces_ MSAL to hit AAD and acquire a new one. In this case, we have multiple threads making a request essentially simultaneously,

[2019-12-04 20:04] iambmelt commented on #570
@4gus71n Additionally, could you include a stack trace from the latest version of the library where you have a repro?

[2019-12-04 20:27] 4gus71n commented on #570
@iambmelt Thanks! More than happy to answer any questions:

I don't use anything like that, I just use a scope `Array<String>` and that's it. I'm not using the `acquireToken` to prompt the MSAL WebView login screen, I'm using the `signIn` function:

![image](https://user-images.githubusercontent.com/2055468/70178394-f9dd9d00-16ba-11ea-8e48-9a1623e31e02.png)

(That's code from the wrapper where I k

[2019-12-04 20:34] 4gus71n commented on #570
@iambmelt Also, here's a [gist](https://gist.github.com/4gus71n/2fb0ff5f57117d60617c9fa51f4e36a7) with the stacktrace. Let me know if that's useful enough.

[2019-12-04 21:42] iambmelt commented on #570
ACK - thanks @4gus71n

[2019-12-05 08:24] clindde opened #849 "Shared Preferences on Android are unencrypted"
On Android the tokens are stored in the Shared Preferences. These are unencrypted, so an attacker with local access to the device can abuse them.

[2019-12-05 16:23] iambmelt commented on #849
Hi @clindde

This is not correct. They are encrypted on disk by our [`StorageHelper`](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/blob/dev/common/src/main/java/com/microsoft/identity/common/adal/internal/cache/StorageHelper.java).

We store our built-in token cache using symmetric AES + RSA/ECB/PKCS1Padding wrapped keys with a AES/CBC/PKCS5Padding cipher and Hmac

[2019-12-05 16:23] #849 closed

[2019-12-05 16:29] iambmelt commented on #849
For future reference, please report any security issues, suspected or confirmed, per the instructions in our readme.

[Report Security Issues in MSAL](https://github.com/AzureAD/microsoft-authentication-library-for-android#security-reporting)

[2019-12-05 20:17] ApostolisApo opened #850 "no id_token in claims object"
**Describe the bug**
Have the same problem both in my app and in _msalandroidkotlinapp_ example app. I am filling in my Azure details and when handling _AuthenticationCallback_ in both:
 * the single fragment (_mSingleAccountApp!!.signIn()_ )
 * multiple account fragment (_mMultipleAccountApp!!.acquireToken()_ )

the _claims_ object does not contain _id_token_. The access token and everything else

[2019-12-06 10:29] clindde commented on #849
Ok, thanks for your reply.
But what is then stored in "/data/user/0/[com.my.application]/shared_prefs/com.microsoft.identity.client.accessToken.xml"?
Because this seems not to be encrypted.

[2019-12-06 13:21] Dipan61241828 commented on #563
Hi @ugurcany
Did you find any solution for this, i am facing same issue in my App.
Thanks!

[2019-12-06 13:24] ugurcany commented on #563
@Dipan61241828 Unfortunately not. We stopped using MSAL. You can follow the issue here as well: https://stackoverflow.com/questions/55576359/msal-for-android-fails-performing-b2c-login

[2019-12-06 13:26] Dipan61241828 commented on #563
@iambmelt can you advice on this?
Thanks!

[2019-12-06 16:00] RootFengshun opened #851 "Can app get informed of account switching when single sign on?"
I user getCurrentAccountAsync() when activity resume to sync whether the AAD is signed on/out.
I wonder if there is a way to get informed when my app is in background?

[2019-12-06 16:39] iambmelt commented on #849
I see! So, this is not an artifact of either MSAL or ADAL for Android. However, looking around, this appears to be an artifact of the [dotnet library](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/blob/257eaceea9b6bd7f24d2bce6126a42f2fe6c33cd/src/Microsoft.IdentityModel.Clients.ActiveDirectory/Platforms/android/AndroidTokenCacheAccessor.cs#L38). That library is maintained by

[2019-12-06 23:17] rpdome commented on #851
Hi,

I assume that you're referring to the Global Sign out functionality.

Currently, we do not have such capability. Our concern is that such mechanism might strain user's device (i.e. every registered app will be invoked, and do their operation - which we do not know how heavy they are - at the same time).

If we can find the way that such thing would not happen, we might pick this up in the fut

[2019-12-07 20:28] dharashahkenya commented on #818
@iambmelt , thank u very much for that link. I will try and update code to match the latest sdk then.

[2019-12-07 20:31] dharashahkenya opened #854 "[Question] Why does msal in android keep asking for the password even though the access token is valid?"
Hi,

I am using the older version of msal, and i have my email account logged in from several devices. However, after 1 hour, i always get 401 as the response status code for every request i make to ActiveSync. Is there a reason why i am always asked to enter my password?  Can we prevent this from happening? I am calling acquireAccessTokenSilently and the access token seems to be valid, so it is d

[2019-12-09 02:52] RootFengshun commented on #851
Thanks for your timely reply! About the global sign out, I also wonder that if my app signs out,  and other 3rd party app doesn't execute "getCurrentAccountAsync", can they call graph API without signing in again? Is there some mechanism like clearing token to ensure security? How does it work?
Thanks,
Shun

[2019-12-09 19:23] rpdome commented on #851
We clear every token and cookies on our end on sign out. However, if somehow those apps are caching tokens on their end, then those tokens will still be valid. We ask apps that supports global sign out to invoke getCurrentAccountAsync() so that they can take care of this scenario on their end.

Feel free to ping me directly via teams or email (my alias is rapong).

Thanks,
Dome

[2019-12-09 23:14] iambmelt commented on #854
@dharashahkenya Are you calling `acquireTokenSilent` when your receive a `401` to refresh your token and acquire a new one?

[2019-12-09 23:18] iambmelt commented on #850
Hi @ApostolisApo

The `claims` object _is_ the Id Token --  it is a `Map` of the parsed JWT claims.

Is there a specific field within the IdToken you are trying to access? Please note, the raw token string is not currently exposed externally; if you have a good use case for needing the unparsed token we can evaluate adding this piece of API surface

[2019-12-09 23:22] iambmelt opened #855 "NPE w/ MSA Passthru Account"
Reported by Teams via Teams

In PublicClientApplication.java
[code]

With MSA Passthru account, `profileEntry.getValue().getId()` is `null`

Error occurs here:
[code]

[2019-12-10 01:04] dharashahkenya commented on #854
No i am calling it before . So i have a job that runs every 2minutes, and it `acquireTokenSilent` returns with an onSuccess, but then i still get the 401.

[2019-12-10 11:10] ApostolisApo commented on #850
@iambmelt Yes actually the service I am building against is using the bare token, I cannot use the broken down claims. To reconstruct them to a string is quite hard right?
Anyway, in your example app you do exactly this, you access the bare string value and your app crashes because of that. And that was the reason I tried so much in vain to access it in mine.
It would be awesome if you exposed it

[2019-12-10 19:11] #851 closed

[2019-12-10 21:20] shahzaibj opened #859 "MSAL not working with Edge & Firefox Focus when authorization agent is BROWSER"
**To reproduce:**

- In msal config file, set authorization agent to Browser
- Install Edge from Play Store and set as default browser
- Install msal test app with config change stated above and start an acquire token call

Msal will throw a ClientException

**Cause:**
MSAL seems to be broken for any browser that supports custom tabs but the BrowserDescription in the browser safe list in the msal

[2019-12-10 21:51] shahzaibj commented on #859
MSAL seems to be broken for any browser that supports custom tabs but the BrowserDescription in the browser safe list in the msal config denotes to not use custom tabs.

So when we are trying to select a browser by matching available browser against the browser safe list, then the following condition will always be _false_

[code]

[2019-12-11 03:09] #855 closed

[2019-12-11 16:56] iambmelt commented on #854
@dhanyahk Can you supply the full error message you are receiving? There may be a Conditional Access Policy or another reason that your token is being refused.

Additionally, feel free to attach a `correlation_id` from your network request and/or a snippet from MSAL's Logcat output and we can investigate. If you do post logs here, please ensure you don't post any tokens or otherwise sensitive cred

[2019-12-11 17:01] iambmelt commented on #850
@ApostolisApo No, unfortunately you cannot reconstitute the token from the claims as the jwt signature won't match unless it is signed with the keys from STS.

I am tagging this issue as a Feature Request and will follow up with the team re: offering an API to access the raw IdToken in a future release.

[2019-12-11 17:17] iambmelt commented on #752
Closing due to lack of activity. Please try with `v1.0.x+` and file an issue if the problem persists

[2019-12-11 17:17] #752 closed

[2019-12-11 17:26] iambmelt commented on #700
Closing due to lack of activity. Please follow up if you still facing this issue

[2019-12-11 17:26] #700 closed

[2019-12-11 17:27] iambmelt commented on #633
Closing due to lack of activity

[2019-12-11 17:27] #633 closed

[2019-12-11 17:30] iambmelt commented on #708
Removing @heidijinxujia , assigning to @kreedula to follow up

[2019-12-11 17:34] iambmelt commented on #602
Assigning @shahzaibj -- if you have capacity, can you examine the v1.0.0 for bugs here and close if this doesn't appear to be an issue or repro?

[2019-12-11 17:35] iambmelt commented on #595
@kreedula Can this now close with #593?

[2019-12-11 17:40] iambmelt commented on #552
Closing due to lack of activity

[2019-12-11 17:40] #552 closed

[2019-12-11 17:43] iambmelt commented on #513
@hamiltonha This is a documentation issue; we should document Proguard support and/or explicitly provide a config

[2019-12-11 17:47] iambmelt commented on #512
This looks to be indicative of memory leak around the `BrowserTabActivity`

[2019-12-11 18:16] iambmelt commented on #508
Hi @tyrant15

Please consult the [build instructions](https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-Contributing) for information on cloning and building MSAL.

As of 12/11/2019, you can compile a local release with the following configuration
![build_variants](https://user-images.githubusercontent.com/990063/70648129-46673200-1bff-11ea-91f6-b4e6bac3d987.PNG)

[2019-12-11 18:16] #508 closed

[2019-12-11 18:27] iambmelt commented on #491
Tracking this issue now in https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/602

Will close, please follow up there if necessary

[2019-12-11 18:27] #491 closed

[2019-12-11 18:30] iambmelt commented on #481
Closing due to lack of activity; please file a new issue if you need assistance with the GA (v1.0.x+) release

[2019-12-11 18:30] #481 closed

[2019-12-11 18:32] iambmelt commented on #470
Public API is now using [`AuthenticationCallback`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/AuthenticationCallback.java) interface

[2019-12-11 18:32] #470 closed

[2019-12-11 18:35] iambmelt commented on #454
Dupe of https://github.com/AzureAD/microsoft-authentication-library-common-for-android/issues/353

Closing to track there

[2019-12-11 18:35] #454 closed

[2019-12-11 18:41] iambmelt commented on #422
@Glennmen are you still facing this problem with v1.0.x+?

[2019-12-11 18:43] iambmelt commented on #401
@jmprieur This is a server-side issue, correct? Has this been resolved?

[2019-12-11 18:56] Glennmen commented on #422
@iambmelt I will try to test with v1.0 next week and let me you know.

[2019-12-11 20:06] jmprieur commented on #401
@iambmelt : it's by design of MSA ...

[2019-12-11 21:44] iambmelt commented on #422
Cheers, thanks @Glennmen

[2019-12-12 00:41] iambmelt commented on #316
Duplicate issue - closing this to track in newer issue [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/441)

[2019-12-12 00:41] #316 closed

[2019-12-12 00:42] iambmelt commented on #291
No current repro here. Can reopen if necessary

[2019-12-12 00:42] #291 closed

[2019-12-12 00:56] iambmelt commented on #240
Platform defaults pre API 18 currently use `2048` bit key length -- PoP scenarios explicitly apply `2048` bit keys where possible (API 18+)

/cc @hamiltonha as FYI

[2019-12-12 00:57] iambmelt commented on #57
Assigning to @hamiltonha for new feature consideration/design

[2019-12-12 01:00] iambmelt commented on #241
Platform defaults pre API 18 currently use `2048` bit key length -- PoP scenarios explicitly apply `2048` bit keys where possible (API 18+)

/cc @hamiltonha as FYI

[2019-12-12 01:00] #241 closed

[2019-12-12 04:14] shahzaibj opened #862 "ClaimsRequest not sent to interactive Token Request in MSAL"

[2019-12-12 13:40] dharashahkenya commented on #854
Sure, it happens only on release builds. i will try and capture the logs. it would just say `illegalstateexception 401.`, but i can post that here. Also, i was wondering , why would it fail after some couple of long minutes or hours? and work for the other times?

[2019-12-12 17:20] iambmelt commented on #854
Access tokens have an expiry; typically of 1 hour after which time they need to be refreshed. Why they may be failing to refresh will require logs to diagnose.

[2019-12-12 20:28] #859 closed

[2019-12-12 23:35] iambmelt commented on #563
I was recently able to repro this issue by sending an auth request with a scope that was not affiliated with any `access_token` -- B2C, it seems will still issue a response that contains no token.

When this happened I was able to repro -- note the lack of access token or expiry in the response. MSAL is currently unable to handle this.

[code]

[2019-12-13 09:19] Tweener commented on #816
Hey @rpdome,
I'm coming back at you to know if you have any updates on this topic? II haven't heard from you for a while now. It's very urgent for us to solve this issue!
Cheers.

[2019-12-15 21:52] dharashahkenya commented on #854
It does not seem to mention why exactly it has failed, however, i have tried calling refreshToken again when i receive a 401. i can be able to confirm if that fixes the problem in 24 hours may be?

But here is the log that i could get so far:

[code]

[2019-12-16 04:06] rpdome commented on #816
@Tweener sorry for the delay. We're [finalizing the release bits](https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/863). It should be out in public + central maven repository by Monday afternoon EST.

Thanks,
Dome

[2019-12-16 04:07] rpdome commented on #816
@Tweener sorry for the delay. We're [finalizing the release bits](https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/863). It should be out in public + central maven repository by Monday afternoon PST.

Thanks!

[2019-12-16 04:32] rpdome opened #864 "Fix gradle to make dist flavor's packagename match with registered redirect url."
redirectURL of the test app is .local, not .dist.

[2019-12-16 08:25] Tweener commented on #816
Hi @rpdome thanks for your reply and the work on this release!
Can't wait to test it 👍

[2019-12-16 18:05] iambmelt commented on #854
@dharashahkenya I am a little puzzled; we don't provide an API called `refreshToken` -- are you sure you're posting in the proper github repository?

FWIW access tokens will expire hourly by default; the expected calling pattern is to refresh the token hourly using `acquireTokenSilent` or `acquireToken` if a prompt/2FA/consent, or other user interaction is requried

[2019-12-16 18:31] dharashahkenya commented on #854
There is no such exception thrown unfortunately .. but i will look at it once more, incase i am missing out on any logs. @iambmelt

[2019-12-16 20:01] iambmelt commented on #340
@shahzaibj Can you confirm whether or not this is already done for MSAL telemetry/ESTS telemetry?

[2019-12-16 20:09] shahzaibj commented on #340
@iambmelt This is already done for MSAL Telemetry.

This is not done for ESTS telemetry and certainly won't be included in the common schema for ESTS telemetry, however, we can include it in the platform specific fields in ESTS telemetry if we feel it is needed.

[2019-12-16 20:10] iambmelt commented on #340
Thanks @shahzaibj -- since this is covered in MSAL telemetry and this issue was originally scoped to that effort, I am going to close this issue. Thanks

[2019-12-16 20:10] #340 closed

[2019-12-16 21:48] iambmelt commented on #610
@shoatman To follow up

[2019-12-16 22:15] iambmelt commented on #401
Closing as by-design.

[2019-12-16 22:15] #401 closed

[2019-12-16 22:28] iambmelt commented on #846
@AlexMofer Unfortunately, we don't have project contributors who are able to read Chinese; if possible, can you provide a description of your issue in English?

[2019-12-17 01:51] AlexMofer commented on #846
## Signature mismatch
If <YOUR_BASE64_URL_ENCODED_PACKAGE_SIGNATURE> means what get by keytool command. This <YOUR_BASE64_URL_ENCODED_PACKAGE_SIGNATURE> wont pass the check code.
keytool command:
[code]
your check code:
[code]
My <YOUR_BASE64_URL_ENCODED_PACKAGE_SIGNATURE> by keytool command:
release alias: "EZGOxkKE4kEUAps55kNgvRZvsQk="
debug alias: "r2AoowJbNe3noUR8yoKWH28PIv0="

My <YOUR_BASE64

[2019-12-17 01:55] AlexMofer commented on #846
@iambmelt

[2019-12-17 08:54] thangld8 opened #869 "[LocalMSALControler is not eligible to use the broker]"
**Describe the bug**
From LoginActivity, After I get Account so I try to pass IAccount as a Params to my JobServices:
[code]
After that, I am trying to call acquireTokenSilentAsync from JobService of Android:
[code]
But when The Job was started, it returns:

[code]

[2019-12-17 13:33] TaugyStyle commented on #850
Hello :)
Having the same request here , need the id_token string to validate signature against a back-end service. Since the ios MSAL library returns  a json containing the string id_token and access_token it would be good to have more or less the same behavior.
Thanks in advance

[2019-12-17 16:50] Tweener commented on #850
Hi @iambmelt,
I think you remember from another ticket already :)

I tested the latest release (1.0.1, which solved [this issue](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/816#issuecomment-565896904), thanks for that!).

As @TaugyStyle said, I also realized the library does not expose the ID Token, where as it does on the iOS library. We need this ID Token for t

[2019-12-17 16:59] iambmelt commented on #850
@TaugyStyle @Tweener I will work on an implementation for this today using MSAL; please note however, that the id token which will be exposed will be a **v2 id token** (more work/testing would be required to surface a v1 token).

I don't have an ETA for a release on this yet; I would like to treat it as a hotfix to avoid having to run a full test-pass for what is otherwise a relatively small PR.

[2019-12-18 00:50] iambmelt commented on #850
@TaugyStyle @Tweener I have published a `v1.1.0` implementing support for the v2 id_token on the `AuthenticationResult`.

Link to release:
https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v1.1.0

[2019-12-18 00:51] iambmelt commented on #850
@hamiltonha ^^ We need to prepare formal documentation for publication outlining best practices/patterns for handling, using, and validating `id_tokens`

[2019-12-18 00:53] iambmelt commented on #846
Thanks @AlexMofer

@hamiltonha FYI ^^

[2019-12-18 00:55] iambmelt commented on #850
@ApostolisApo ^^

[2019-12-18 01:09] iambmelt commented on #850
Regarding usage, the `id_token` is available on the `IAccount`

For non-guest scenarios:
[code]

For tenant-guest scenarios:
[code]

[2019-12-18 08:48] Tweener commented on #850
Thanks a lot @iambmelt for your reactivity! I'm gonna try that right away and let you know how it goes.

[2019-12-18 09:22] TaugyStyle commented on #850
Incredible thanks ! Will try soon :)

[2019-12-18 09:30] Tweener commented on #850
Works like a charm! Thanks a lot @iambmelt :)

[2019-12-18 17:26] iambmelt commented on #850
Thanks for verifying @Tweener 👍

[2019-12-18 17:26] #850 closed

[2019-12-18 17:28] iambmelt commented on #820
Closing due to inactivity

[2019-12-18 17:28] #820 closed

[2019-12-18 17:40] iambmelt commented on #662
Closing due to inactivity

[2019-12-18 17:40] #662 closed

[2019-12-18 18:07] iambmelt commented on #613
Tagging as an enhancement to provide a ProGuard config / documentation thereabout

[2019-12-18 18:27] iambmelt commented on #227
Closing due to inactivity

[2019-12-18 18:27] #227 closed

[2019-12-18 18:28] shahzaibj opened #872 "Add log for what type of cache is used (foci vs targetCache )"
We currently have a log that indicates whether an app is foci or not. However, we do not have any log that indicates whether we end up pulling the record from the foci cache or not. This log is needed as we can still use the foci cache even if the app is not known to be foci as we fallback to use foci cache if the app is unknown i.e. we don't currently have a cache for the app.

[2019-12-18 18:35] shahzaibj commented on #872
@kreedula I see that you are doing `Logs cleanup` in Q3. Is this something you want to pick up as part of that?

cc: @iambmelt

[2019-12-18 18:41] iambmelt commented on #872
@shahzaibj Feel free to add these logs at your discretion -- I can review and sign-off

[2019-12-18 21:51] iambmelt commented on #400
Following up offline with AAD UX team - thank you for reporting @jmprieur

@hamiltonha @Om83 You are on the thread

[2019-12-18 21:51] #400 closed

[2019-12-18 21:59] iambmelt commented on #869
Assigning to @rpdome

@thangld8 Are you experiencing any issues? Or just following up on what this message means? AFAIK, this message isn't indicative of a problem; @rpdome to follow-up

[2019-12-18 22:00] iambmelt commented on #869
@rpdome I am going to file an issue to lower the `LOG_LEVEL` of this message to `warning`

[2019-12-18 22:04] iambmelt opened #873 "getDeviceMode log message should be at level: warning"
Regarding [this error log message](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/internal/controllers/LocalMSALController.java#L397-L398)

This should probably be a `warning` (or `info`, at your discretion) and not an `error` -- additionally, there is a minor spelling error; message should read:

"**LocalMSALContro

[2019-12-18 22:09] iambmelt commented on #854
@dharashahkenya Any additional information you can provide here?

[2019-12-18 22:20] #873 closed

[2019-12-18 22:24] rpdome commented on #864
Fixed in #874

[2019-12-18 22:24] #864 closed

[2019-12-18 22:29] dharashahkenya commented on #854
I will be running it through one more time and get the logs to be able to
return back them here.

On Wed, Dec 18, 2019 at 10:09 PM Brian Melton-Grace <
notifications@github.com> wrote:

[2019-12-18 22:39] iambmelt commented on #846
@AlexMofer

Make sure the keystore you are using is same one using by Android studio to produce your `aar` or `apk` -- if you have a project specific keystore, you'll need to provide a path to that keystore when generating your signature hash.

I can report that Android and my command line agree as to what the signature hash is of my keystore

[code]

My app config (see [source here](https://githu

[2019-12-18 22:43] #872 closed

[2019-12-19 01:58] AlexMofer commented on #846
@iambmelt
We set the signingConfig in app build gradle, so the keystore cannot be the Android Studio default debug key.
[code]
**The signature hash got by keytool command is not same as the signature hash got by the handy tool.**
Maybe the openssl or base64 went wrong, but it doesn't matter, we use the signature hash got by code same as the handy tool, so that it can pass the check code, and launc

[2019-12-19 02:10] iambmelt commented on #846
@AlexMofer Have you checked the value is correctly set in your `AndroidManifest.xml`'s `IntentFilter`?

[2019-12-19 02:26] iambmelt commented on #846
I would check the following 3 places for a mismatch:
- The Azure Portal: your defined app registration redirect uri
- The AndroidManifest.xml: [The IntentFilter defining the redirect](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/testapps/testapp/src/main/AndroidManifest.xml#L61-L63)
- Your config.json file ([sample here](https://github.com/AzureAD/microsoft-auth

[2019-12-19 05:25] thangld8 commented on #869
@iambmelt Thanks for replying me,

I am facing the issue:

Fast brief:
+ I am trying to call `acquireTokenSilentAsync` to refresh my token in JobService of Android.

But when I create new `IMultipleAccountPublicClientApplication` in JobService and try to get IAccount by:

`
IAccount iAccount = null;

        if (b2cApp != null) {
            String iAccountId = jobParameters.getExtras().getString(

[2019-12-19 05:27] thangld8 commented on #869
@iambmelt  Thanks for replying me,

I am facing the issue:

Fast brief:

I am trying to call acquireTokenSilentAsync to refresh my token in JobService of Android.
But when I create new IMultipleAccountPublicClientApplication in JobService and try to get IAccount by:

`
IAccount iAccount = null;

    if (b2cApp != null) {
        String iAccountId = jobParameters.getExtras().getString("iAccountId")

[2019-12-19 06:08] AlexMofer commented on #846
@iambmelt
if redirect uri in AndroidManifest.xml not same as config.json, it will crash, I test this. the config.json was download form Azure Portal. So the problem is not here.

[2019-12-19 17:51] iambmelt commented on #846
@AlexMofer In that case, more logs/info is necessary to figure out what's going wrong.

Have you tried [our sample](https://github.com/Azure-Samples/ms-identity-android-java)? Does it work on your device? If yes, this would indicate an issue in your project configuration. If not, we'll need to troubleshoot for interoperability on your device/environment.

Please see this documentation on adjusting

[2019-12-19 18:02] iambmelt commented on #869
@thangld8 I would say that this error message is a red herring -- are you receiving an `Exception` in your `AuthenticationResult`'s `onError()` callback?

Additionally, it looks like you're doing background work - have your seen our [synchronous method for `acquireTokenSilent()`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/ident

[2019-12-20 01:39] AlexMofer commented on #846
@iambmelt Your sample is fine. At present, I have returned it to the old version. I will check the settings if I have time.

[2019-12-20 03:39] thangld8 commented on #869
@iambmelt  Thanks for your information.

- I am not having the above error message in AuthenticationResult's onError() callback? and also don't know where is this, it appears when my background services running.

- I am confusing between 2 methods acquireTokenSilentAsync and acquireTokenSilent, is that the same? Or how can I get a refresh token to manually call API?

[2019-12-20 14:43] SergeyMilevskiy opened #879 "Is it possible do not throw exception when the package hash not valid because it crash application? In my opinion this not good approach. Facebook just showing message at least."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-12-23 16:52] rpdome commented on #869
Hi @thangld8,

- You saw this particular error message because we logged it with a wrong type (error). We do not throw any exception and It should not affect the functionality of B2C MSAL in any way. Are you running into any issue here?

- AcquireTokenSilent is a blocking/synchronous version (no callback required) of AcquireToken. It can be invoked in a background thread only. Their functionalitie

[2019-12-24 02:32] thangld8 commented on #869
@rpdome I have trouble when running `IMultipleAccountPublicClientApplication` in JobService. I am trying to get a new token every hour by:

`
b2cApp.getAccount(iAccountId, new IMultipleAccountPublicClientApplication.GetAccountCallback() {

                @Override
                public void onTaskCompleted(IAccount result) {
                    Log.d(TAG, "iAccountId" + result);

[2019-12-25 08:55] jarvisgaurav98 commented on #535
I still have the same issue, how do I fix this?
java.lang.RuntimeException: Unable to stop activity {com.microsoft.identity.client.AuthenticationActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'boolean com.microsoft.identity.client.AuthenticationActivity$MsalCustomTabsServiceConnection.getCustomTabsServiceIsBound()' on a null object reference
        at android.app.Acti

[2019-12-27 18:18] shrutisharanjda commented on #530
we also have this requirement , please update once this feature is added

[2019-12-30 13:22] rpdome commented on #869
@thangld8 May I ask which one of the following statement is true?
1. You noticed that JobService is running as intended. acquireTokenSilent was initiated every X hour but sometimes didn't finish the operation.
or
2. JobService is not running consistently. Sometimes, acquireTokenSilent was initiated and sometimes it was not.

I suspect that this could be because [the device is in doze mode].(https:

[2019-12-30 16:45] hypino opened #880 "Allow Sign-In with Alternate ID (non-email)"
Our organization has team members that do not have a corporate email address. These users sign-in using their employee ID, which is an alternate ID on their Active Directory account. This is setup in our organization to be allowed for login. When we go directly to our organization's login page, we can use this ID (with "Domain\" added).

Can this login method be supported? Currently, the user has

[2020-01-01 13:58] rpdome commented on #880
Hi @hypino

Unless any specific authority is specified, MSAL will bring the user to the 'common' authority, which will perform an authority look-up based on the given login hint (email address).

You can specify a specific authority in MSAL configuration file.

i.e. in your configuration json file.
"authorities" : [
    {
      "type": "AAD",
      "audience": {
        "type": "AzureADMyOrg",

[2020-01-02 15:34] hypino commented on #880
Hi @rpdome,

For clarity, here is the msal.json that I am using:

`
{
  "client_id" : "344834fc-c54f-43d1-9110-faa59367dba2",
  "authorization_user_agent" : "WEBVIEW",
  "redirect_uri" : "<redirect_uri>",
  "account_mode" : "SINGLE",
  "authorities" : [
    {
      "type": "AAD",
      "audience": {
        "type": "AzureADMyOrg",
        "tenant_id": "<tenant_id>"
      }
    }
  ]
}
`

Even with

[2020-01-02 15:51] Nasicus opened #882 "AcquireTokenSilentAsync returns "Authority passed to silent parameters does not match with the cloud associated to the account.""
I have a working app with a `b2c` configuration. Up until now I used the legacy b2c policy / authority URL's: e.g. `https://login.microsoftonline.com/tfp/<my-tenant>/B2C_1_SignUpPolicy`.

Today I tried to change them to the new URL style: e.g. `https://whatever.b2clogin.com/tfp/<my-tenant>/B2C_1_SignUpPolicy/`

And suddenly I get the mentioned error from above when calling `acquireTokenSilentAsync

[2020-01-02 15:56] shoatman commented on #882
This looks like a bug to me.  There are authorities known to Microsoft and authorities known to you the developer (for example the B2C custom domains) and expressed to the library via configuration.  It's likely this won't get investigated in detail till next week.  Thanks very much for the detailed report.

[2020-01-02 15:59] shoatman commented on #879
I think this is reasonable.  I'm treating this as an enhancement request for now, but I'm tempted to call it a bug and try to get it addressed opportunistically.

[2020-01-02 16:23] Nasicus commented on #882
Thanks for the quick reply.
I also thought it was a bug first, but then I thought maybe I just misconfigured something wrong and it takes entirely the wrong code-path or it didn't populate the `aadClouds` correctly. Tomorrow I will (if I have time) also quickly try to run the sample and see if it works there...

PS: In the MSAL library for JS there is also a setting where you need to set `validate

[2020-01-02 16:29] shoatman commented on #882
Android specifically removed support for validateAuthority as it's confusing to have to disable what is in fact a security feature for Azure AD B2C.  Authority validation was originally added to ADAL to ensure that a client didn't simply parse a 401 challenge and potentially use a malicious security token service.  In Android, we check the list of authorities known to Microsoft and known to you th

[2020-01-02 16:41] rpdome commented on #880
@hypino

To further debug this issue, would you mind sending the following information to rapong@microsoft.com?

- Your json configuration file and your tenant ID.
- An email and its associated alternate ID (If you could provide a test credential, that would be great. if not, login hint should suffice).

Thanks,
Dome

[2020-01-02 16:42] rpdome commented on #880
@hypino ino

To further debug this issue, would you mind sending the following information to rapong@microsoft.com?

- Your json configuration file and your tenant ID.
- An email and its associated alternate ID (Login hint should suffice - no password needed).

Thanks,
Dome

[2020-01-02 17:23] iambmelt commented on #846
@AlexMofer Feel free to post back to this thread if you discover an issue in the library; otherwise I am going to assume that our sample unblocked your issue.

Thanks

[2020-01-02 17:23] #846 closed

[2020-01-02 17:42] rpdome commented on #880
Hi @hypino,

Android MSAL is currently not supporting direct communication with ADFS (by going through common, we're federating with AAD). We have a work item for that (adding support for ADFS2019) in our backlog, but it's not yet picked up.

Thanks,
Dome

[2020-01-02 17:53] rpdome commented on #880
Hi @hypino,

Android MSAL is not supporting direct communication with ADFS. As of now, any ADFS authentication will have to go through the common authority (AAD being federated with ADFS).

We do have a work item for this (adding support for ADFS 2019) in our backlog.

Thanks,
Dome

[2020-01-02 20:41] hypino commented on #880
Hi Dome,

Thank you for looking into this for us. We will await the new feature being added so that MSAL works with ADFS. We'll have to find alternate solutions in the meantime.

[2020-01-02 20:57] #880 closed

[2020-01-02 21:42] iambmelt commented on #882
@shahzaibj At a glance, this looks to be related to changes introduced in https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/714 -- do you have capacity to investigate here?

[2020-01-02 22:38] shahzaibj commented on #882
@Nasicus This is indeed a bug. As @shoatman pointed out we added this check for multiple cloud scenarios to ensure that developers pass an account that belongs in the correct cloud, and we forgot about the fact that B2C only exists in one cloud and can use custom domains.

I've opened up a PR to fix this issue. Here's the link: https://github.com/AzureAD/microsoft-authentication-library-common-for

[2020-01-03 06:22] Nasicus commented on #882
Thanks for the quick responses guys! I really appreciate transparency & communication like this :) 👍

One more thing:
Once this get's merged do you already know if you plan do do a hotfix release or will it only be included in the next "regular" release (whenever this happens)?

[2020-01-03 19:38] shahzaibj commented on #882
@Nasicus we are considering doing a hotfix release for this and we will be discussing it in our scrum on Monday. We will provide you an update on our plan on Monday after our scrum.

[2020-01-06 19:34] rpdome commented on #879
@SergeyMilevskiy would it be acceptable to return this exception in the ApplicationCreatedListener.onError()?

[2020-01-06 19:45] SergeyMilevskiy commented on #879
@rpdome For me, all variants are good, instead of a crash application in the development cycle.

[2020-01-06 21:43] shahzaibj commented on #882
@Nasicus We have decided to do a hotfix release for this issue. We have started the release process and the entire release process will take about 1-2 days to complete. We will give you an update once the release is available.

[2020-01-07 17:08] rpdome commented on #879
@SergeyMilevskiy I've pushed the change to the dev branch. Thanks for the feedback!

[2020-01-07 17:08] #879 closed

[2020-01-07 18:18] shahzaibj commented on #882
@Nasicus A new release of MSAL with the hotfix has been released to Maven Central and is available for use. The version number of this release is `1.1.0-hf1`.

Thank you so much for opening the issue with a detailed report and helping us make the library better.

I am going to close this issue now as the release is available on Maven Central. Feel free to reopen if you are still experiencing issue

[2020-01-07 18:20] shahzaibj commented on #882
Fixed by [common PR 767](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/767)

[2020-01-07 18:20] #882 closed

[2020-01-08 07:36] Nasicus commented on #882
Tested this just now and I can confirm it's now working as expected.

[2020-01-08 17:59] iambmelt commented on #882
@Nasicus Great to hear - thanks for confirming!

/cc @shahzaibj

[2020-01-10 17:23] rwrife opened #890 "Hard crash when clientId is null"
When calling PublicClientApplication.create(context, clientid, listener) w/o going through the typical example of providing a config resource file, the app has a hard crash because the OperationalParameters are not being updated with the provided clientId, so line 252 in OperationParameters.java (getClientId().hashCode()) is bombing due to a null exception.  Ideally, at least from my perspective,

[2020-01-10 17:31] iambmelt commented on #890
@rwrife Can you include a stack trace in your bug report?

[2020-01-10 18:24] rwrife commented on #890
2020-01-10 10:24:10.657 10991-11070/com.microsoft.icmmobiledev E/AndroidRuntime: FATAL EXCEPTION: pool-8-thread-1
    Process: com.microsoft.icmmobiledev, PID: 10991
    java.lang.NullPointerException: Attempt to invoke virtual method 'int java.lang.String.hashCode()' on a null object reference
        at com.microsoft.identity.common.internal.request.OperationParameters.hashCode(OperationParamete

[2020-01-10 18:33] iambmelt commented on #890
Thanks @rwrife -- someone will investigate

[2020-01-10 18:38] rwrife commented on #890
Seems like https://github.com/rwrife/microsoft-authentication-library-for-android/commit/fb14d00923ad729df4fa17174fa5c0ca0a302a91 would be a quick fix, but I'll defer to someone with more Java knowledge.

[2020-01-10 23:00] #890 closed

[2020-01-14 13:53] papafe commented on #530
We also have the same use case, with our customers deploying their own installations.

[2020-01-14 19:36] shahzaibj opened #894 "Snapshot not versioned correctly"
The task versionSnapshot does not take hotfixes into account when versioning snapshot. As a result, the following two versions have the same snapshot:

1.0.13 -> 1.0.13-SNAPSHOT
1.0.13-hf1 -> 1.0.13-SNAPSHOT

[2020-01-16 02:21] #894 closed

[2020-01-16 05:56] #869 closed

[2020-01-17 17:59] omkar469 opened #898 "MsalUiRequiredException not thrown when Broker RT is null/empty"
When the Broker RT is null/empty, MSAL doesn't throw a MsalUiRequiredException and so the calling app is unable to recover from silent auth failures using interactive auth.

Stacktrace:

	com.microsoft.identity.client.exception.MsalServiceException: Broker RT is null or empty
		com.microsoft.identity.client.internal.controllers.MsalExceptionAdapter.msalExceptionFromBaseException(MsalExceptionAdapt

[2020-01-18 08:34] SergeyMilevskiy commented on #879
`java.lang.IllegalStateException: The redirect URI in the configuration file doesn't match with the one generated with package name and signature hash. Please verify the uri in the config file and your app registration in Azure portal.
        at com.microsoft.identity.client.PublicClientApplicationConfiguration.verifyRedirectUriWithAppSignature(PublicClientApplicationConfiguration.java:472)

[2020-01-21 20:14] #862 closed

[2020-01-21 23:27] rpdome commented on #879
@SergeyMilevskiy I missed one exception there. Sorry. I've pushed a fix and it should go out with the next release.

[2020-01-23 07:54] awasilik opened #902 "[Feature Request] Android shared_prefs should not be used with plain text."
Is your feature request related to a problem? Please describe.
Android app security is compromised by storing access and refresh token in SharedPreferences as plain text documents. Our pen testers team identified this issue as vulnerability which could potentially expose sensitive user data. We do not need admin access to retrieve those tokens.

Describe the solution you'd like
Tokens should be en

[2020-01-23 16:59] iambmelt commented on #849
This request is being tracked in here:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1544

[2020-01-23 17:04] iambmelt commented on #902
Hi @awasilik - This is actually a request of [Xamarin.Android](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/1544) library; **this** library encrypts tokens on disk using the [`StorageHelper`](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/blob/dev/common/src/main/java/com/microsoft/identity/common/adal/internal/cache/StorageHelper.ja

[2020-01-23 17:04] #902 closed

[2020-01-23 23:39] #898 closed

[2020-01-24 10:01] koesclem opened #904 "B2C Token Caching for multiple resources not working"
Hi,

I'm trying to use the Android MSAL with a B2C authority. Basically I have to fetch multiple Access Token for multiple resources. As I understand requesting multiple scopes for multiple resources at once is not possible, so I have to fetch my token multiple times interactively. So here is my issue/possible library bug which I will try to describe in as much detail as possible:

When fetching t

[2020-01-24 17:27] iambmelt commented on #904
@koesclem After you perform an interactive auth (using `acquireToken()`) for a given B2C policy you'll have a `refresh_token` in your cache that can be used for subsequent `acquireTokenSilent()` calls against that policy. Additional _interactive_ calls against that policy shouldn't be necessary unless that policy requires interaction to function (such as a `change_password` policy, policy requirin

[2020-01-24 19:41] koesclem commented on #904
@iambmelt Thank you for your immediate reply - I fully agree with you on your first paragraph as this is also my understanding of the process. I can also agree to the fact that MSAL should only cache a single token for a given resource.

But as mentioned in my case, I have to fetch Token for **multiple** resources.  Since AAD `access_tokens` can't have multiple audiences, multipe `access_tokens` a

[2020-01-24 20:19] iambmelt commented on #904
Linking these two issues, as they appear to be the same:
https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/550

[2020-01-24 20:56] iambmelt commented on #904
@koesclem Reviewing the [above linked thread](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/904#issuecomment-578285712), I suspect this may be service limitation where the B2C STS exhibits different behavior than AAD.

I'm going to reach out to my PM/B2C contacts to figure out what the support story is here. FWIW this contributor [experimented with some workarounds

[2020-01-24 21:37] koesclem commented on #904
@iambmelt Thank you for reaching out to your contacts. I am familiar with your mentioned [thread](https://github.com/AzureAD/microsoft-authentication-library-for-dotnet/issues/550) and agree with the opinion voiced there, that opening the browser multiple times (also when it is just flashing up shortly) is no feasible solution in a mobile context.

The [workaround](https://github.com/AzureAD/micro

[2020-01-25 23:31] jmprieur commented on #904
@koesclem @iambmelt I believe that the scopes would accumulate in the access token when you call AcquireTokenSilent. You should be fine ?

[2020-01-27 10:37] koesclem commented on #904
@jmprieur @iambmelt As far as I know having scopes of different resources in AAD B2C `access_token` is not supported. The `access_token`'s audience claim does only identify a **single** intended recipient of the `access_token`. Even if scopes would accumulate (which they don't) this would not be of any help since the audience claim only supporting a single audience is, as I understand it, security

[2020-01-27 21:02] iambmelt commented on #904
Can you include this stack trace for this error? This error shouldn't be bubbling up like this...

[2020-01-27 23:12] iambmelt commented on #904
@koesclem Just providing an update here, still working with PM contacts to capture expected behavior here from both SDK and B2C backend. Once I have the prescribed guidance I'll share here and spec-out any changes to MSAL as necessary. Any PRs for hotfixes developed will be shared into this issue for you to see

So far, this seems to be the convergence of two issues:
- Differing service behavior b

[2020-01-28 12:19] koesclem commented on #904
@iambmelt Yes, of course - here is the stacktrace of the mentioned `MsalClientException`:
[code]
As you can see, the `TokenResponse`'s `expires_in` value is not set due to the fact that there is also no `access_token` present in the response. This causes the error while trying to create the `AccessTokenRecord`.

[2020-01-28 22:47] iambmelt commented on #904
Work item in `common` created -- this fix will be authored there and will be deployed in an upcoming release.

Currently working with internal team to determine release vehicle for fix; hotfix vs. monthly release

/cc @koesclem ^^

[2020-01-29 00:15] iambmelt commented on #904
PR with proposed fix:
https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/905

@koesclem Feel free to pull down this branch if you would like to try/test these proposed changes.

Branch info:
- MSAL: `iambmelt/common-793` ([link](https://github.com/AzureAD/microsoft-authentication-library-for-android/tree/iambmelt/common-793))
- Common: `iambmelt/793` ([link](https://githu

[2020-01-29 00:36] iambmelt commented on #904
One more thing I'll add, I'm going to make additional changes to this PR before it merges to account for the behavior described [here](https://tools.ietf.org/html/rfc6749#section-3.3) in [RFC-6749](https://tools.ietf.org/html/rfc6749) which describes empty `scopes` in the response. This is not currently accounted for in these changes. I don't believe this will impact your scenario _directly_ on B2

[2020-01-30 00:48] hypino opened #906 "Sign-In Once for Multiple Applications"
I have a question regarding single-sign-on across multiple Android applications using this library.

**Use Case**
I am trying to write a suite of applications with the goal of having the user sign in one time and have access to all applications as a result. Part of having the applications remain relatively modular, they should know very little about each other with the exception of the authenticat

[2020-01-30 14:14] koesclem commented on #904
@iambmelt Using your mentioned fix #905 I was successfully able to fetch an `access_token` for `scope_of_resource1` and `scope_of_resource2` interactively (2 separate requests). And later perform silent token lookups from the cache for still valid (not expired) tokens for both scopes.

Issues still arise if those `access_token` in the cache are expired. Same, as not being in the cache at all this

[2020-01-30 22:20] iambmelt commented on #906
Hi @hypino

X-App SSO is supported in MSAL via [Brokered Authentication](https://docs.microsoft.com/en-us/azure/active-directory/develop/brokered-auth) and via use of the [`BROWSER` authorization__user_agent](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authorization_user_agent).

Brokered auth works basically like this:
- If your app is integrated with a Micr

[2020-01-30 22:20] #906 closed

[2020-01-31 01:05] iambmelt commented on #904
Thanks @koesclem for confirming the behavior you observed with the change in #905 -- I am still following up with our B2C backend team and will provide an update on the expected RT behavior once I hear back

[2020-01-31 14:35] arislomovic opened #908 "Allow WebView Zoom Toggle"
At the moment, there is no toggle to turn off the webview zoom feature and controls.

Can we please work on adding that functionality?

[2020-01-31 15:39] solidstore commented on #904
@iambmelt We are also experiencing similar problems obtaining an access token for a second resource using the MSAL.

In our case we are using a ConfidentialClient.

Based on a very old post [here](https://www.cloudidentity.com/blog/2013/10/14/adal-windows-azure-ad-and-multi-resource-refresh-tokens/) we have tried adding the "resource" parameter.

`string accessToken = null;
var scope = new string[

[2020-01-31 18:20] iambmelt commented on #908
Assigning @hamiltonha (this is a feature request)

[2020-01-31 20:28] arislomovic commented on #908
I took . a crack at it
https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pulls

[2020-01-31 21:38] iambmelt opened #910 "[Teams] NPE When adapting CacheRecords for result"
Reported by Teams, NPE when calling `adapt()` after switch between app ids.

[code]

[2020-02-01 15:41] SwathyMothilal opened #912 "ADAL Error to MSAL Error mappings for migration"
There is an error code returned via ADAL "AUTH_FAILED" for which I could not find corresponding error codes in MSAL.

If these errors are distinguished inside MSAL_SERVICE_EXCEPTION via description in userInfo, please let me know these descriptions as I could not find it in the documentation

And, how to distinguish the exception when the user is deleted and disabled? In ADAL, it is distinguished

[2020-02-01 21:00] enirsilvaferraz opened #913 "How to intercept requests inside the WebView"
Hi,

I have a situation using MSAL lib where I need to intercept some clicks inside the WebView to take some actions.

For example, in the following screen, if the user taps the forgot password link, I want to intercept this click to take an action on the native app.

![image](https://user-images.githubusercontent.com/12086873/73598882-304d6200-451c-11ea-9830-7f5967805a53.png)

Probably, I will ha

[2020-02-03 04:22] kadalcj opened #914 "Redirect URI doesn't match with the one generated with package name and signature hash."
Why the app always crash and saying that the URI doesn't match with the one that showing on the AD? I've been tried to delete it and make a new one and that not helping either? Is this really a problem with the library either the AD or was that my mistake?

Here the Log:
[code]

[2020-02-03 09:57] tulika17 commented on #914
I am also facing same issue with MSAL 1.2+ version.

[2020-02-03 10:05] kadalcj commented on #914
I thought that only me facing this kind of issue. I can't find anything related to the problem anywhere.

[2020-02-03 16:15] arislomovic commented on #912
@SwathyMothilal did you mean the constants inside the ADALError class from the AdalBrokerResultAdapter?

[2020-02-03 17:11] xyzwilliamxyz opened #915 "Old claims being returned on acquireTokenSilentAsync response"
Hello!

I'm using MSAL and I'm facing an issue using the acquireTokenSilentAsync method provided by IMultipleAccountPublicClientApplication class.

The issue I'm facing is that we have journeys which update the user data by calling the acquireToken, however when I call the acquireTokenSilentAsync passing the most recent account, I receive unupdated user claims, and debugging I can see it has the "

[2020-02-03 17:18] shoatman commented on #915
Is it correct to assume that you are using B2C?  If so, which authority are you using to update the user data?  Are you using the same authority when calling acquireTokenSilent?

[2020-02-03 17:20] shoatman commented on #914
If you check logcat i believe you will see what MSAL expects as input.  Let me know if you don't see this and i'll follow up.

[2020-02-03 17:22] shoatman commented on #913
This is not currently supported.  Possible to provide additional information why the behavior associated in the Microsoft Identity Platform provided UI is sufficient for your purposes.  Adding @hamiltonha for follow up on this request.

[2020-02-03 17:23] iambmelt commented on #914
As an additional tip:
For an APK already pushed to a device, there is a [handy tool provided in the MSAL repo here](https://github.com/AzureAD/microsoft-authentication-library-for-android/tree/dev/package-inspector) which can export the signature hash of an app installed on a device. You can cross reference this value against your configuration in the application and in the Azure Portal.

Here's a

[2020-02-03 17:23] shoatman commented on #912
I'm following up with the server team on what exactly is returned on the v2 endpoint as equivalents for the v1 errors.

[2020-02-03 18:05] janrk-ciandt commented on #913
@shoatman Probably it is because in our use case we are not using the complete SigninSignup journey on Azure B2C. We have a journey to each one of the steps (Signin, Signup and Forgot password). We do need that somewhat the link inside of a Login journey redirects the user to another journey and afterward the redirect URI is the one user originally called.

[2020-02-03 18:45] arislomovic opened #916 "WebView Url should only be loaded once per fragment lifecycle."
Currently the LoadUrl function gets called onStart(), which is called every time the activity resumes. This is causing the webview Url to load repeatedly. It should retain its state and only load once.

[2020-02-03 18:46] arislomovic commented on #916
I tried to fix this in the common Libs -
https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/801

[2020-02-03 23:26] xyzwilliamxyz commented on #915
@shoatman Thanks for the reply.

Yes, I'm using B2C.

I'm passing an authority named  **example.b2clogin.com/example.onmicrosoft.com/B2C_1A_AB2CProfileEdit_DR** to acquireToken.

Thanks to you I was able to make some progress. Before your reply I was getting the last account and using its attribute authority, which seems to be wrong since it's always something like this: **htpps://example.b2clogin

[2020-02-04 00:35] iambmelt commented on #904
@koesclem

I received the following guidance from our B2C team -- their suggestion is to configure the validation on the RP to check for permissions embedded in the `scp` claim, of which multiple can be applied

https://tenantname.onmicrosoft.com/resourceName/permissionName
A single user flow maps to a single resource / access token by design, however it can have multiple permissions. <br/><br/>Th

[2020-02-04 02:51] kadalcj commented on #914
@shoatman , I tried to look up to the logcat and I can't find any information about the MSAL expected the input. Would you help me with that? Thank you.

@iambmelt , I tried to compile it but somehow it showing me an error. Is the way I open the project is wrong? I look up to the previous issue #846 to generate the signature key, but it kinda confusing because of the specific location of the keyto

[2020-02-04 12:14] xyzwilliamxyz opened #920 "Crash on Android 7.0"
Hello,

I was testing MSAL on android 7.0 and I had this crash after completing an interactive registration authority.

[code]
on android 7.1 it seems to be working, I didn't test it on older versions though. I will further investigate to check what I can find out.

Do you guys have an ideia of what it might be?

Thanks!

[2020-02-04 16:28] shoatman commented on #920
I haven't seen something like this before.  Possible to provide the repro steps.  I'm not sure I understood what an "interactive registration authority" was/is.  Is this B2C?  If so what kind of policy?  How is that flow completed in the UI?  (Seems to be coming back as a cancelled request)

[2020-02-04 16:29] shoatman commented on #916
@rpdome - Is this something that you can look at?

[2020-02-04 16:32] shoatman commented on #915
In the case of B2C each authority is completely separate.  Meaning that every account for every authority is also separate.  (This something that we're working with B2C service team to improve).  What are the parameters that you're passing to the silent calls?

[2020-02-04 16:33] shoatman commented on #914
@kadalcj When you get the exception logcat should output what it expects as part of the error message.  Would you mind pasting the logcat output here so that I can ensure that the library is working as expected.

[2020-02-04 16:36] shoatman commented on #914
@kadalcj - The easiest way to generate the signature hash is follow the instructions in the Azure Portal using the "new experience".  Open your app registration, Click "Authentication" tab, click new experience, click add Android Platform.  Follow instructions in the portal for generating the signature hash.  It's likely that be default you are using the debug.keystore.  I find it useful to refer

[2020-02-04 16:45] shoatman commented on #913
@valnav - Is this something that you can help @janrk-ciandt with?  I don't think there is anything that the MSAL team can help with here, but i'm guessing that the B2C team may have some suggestions on how to enable your desired scenario.  I'm going to close this issue for now.

[2020-02-04 16:45] #913 closed

[2020-02-04 16:56] shoatman commented on #610
@hamiltonha - Please add this to the backlog for Android.  We need to establish the browser safe list as a web service.  In addition I think it's ok to support this scenario.

[2020-02-04 19:10] enirsilvaferraz opened #921 "Webview quickly displays an internet outage error message before closing the screen"
Hi guys.
Is there a way to not display this message in the webview when the internet turns off?

When we received the error callback indicating this error the webview has already loaded the standard message.

**To Reproduce**

1. Open a screen that has a button.
2. Turn off the internet.
3. Touch the button.
4. Webview to load the screen with the error message.
5. Webview is closed

**Expected beh

[2020-02-04 22:18] valnav commented on #913
@janrk-ciandt - i wanted to confirm that you are in fact using B2C. Are you using user flows or custom policies? also including my colleague @JasSuri who may be able to answer as well.

[2020-02-05 01:10] iambmelt commented on #910
Closed via #911

[2020-02-05 01:10] #910 closed

[2020-02-05 02:47] xyzwilliamxyz commented on #915
Hi @shoatman, thanks for your reply, after some close investigation I was able to find the root cause of this issue.
The issue is that at some moment, MSAL tries to fetch the cached account by passed by localAccountId.

![image](https://user-images.githubusercontent.com/18970657/73806592-b1b92480-47a8-11ea-84c1-495350523df5.png)

However, this id is the same for all accounts.

![image](https://use

[2020-02-05 06:19] kadalcj commented on #914
This had to be true all along that my Signature Hash was wrong. I follow the steps on Azure Portal but Android Studio gives me an error log. So I come across [this](https://stackoverflow.com/questions/4388992/key-hash-for-android-facebook-app). There was a code that I can use to Log the Signature Hash directly from the project.

This is the code.
[code]

Finally, I can make the right redirect_uri.

[2020-02-05 07:49] tulika17 commented on #914
after applying above hash code generation . my application is not crashing but now I am facing another problem while generating token it says "the reply URL specified in the request does not match the reply URLs configured for the application:"

[2020-02-05 10:27] kadalcj commented on #914
Is that so? I haven't tested all the functions that I need tho. I just testing for the auth and it work. Will check it soon

[2020-02-05 11:04] JasSuri commented on #913
Considering you are embedding links from one journey to another, i presume your are using[ Custom HTML](https://docs.microsoft.com/en-us/azure/active-directory-b2c/customize-ui-overview) to embed these links.

These links must be links back to your application, and include some indication of the action the user wanted to do (eg myapp.com/redirect/forgotpwd. The application should then handle this

[2020-02-05 12:09] xyzwilliamxyz commented on #920
Hi @shoatman, thanks for the reply.

Out of curiosity I decided to test this issue against the msal dev branch just in case this NPE is already fixed, and as it turns out, it's already fixed! Not execatly sure on which commit though. But it seems fine to me.

I'll close this issue, thanks for the help!

[2020-02-05 14:00] janrk-ciandt commented on #913
@valnav Yes. We are using B2C as well as custom policies.

[2020-02-05 15:36] shoatman commented on #921
We'll take a look at what's possible given that this is likely default webview behavior.  There may be an opportunity to intercept something though.

[2020-02-05 15:41] shoatman commented on #915
Nice catch.  This is the inverse of the normal situation with Accounts for the rest of AAD.  I think this lookup logic needs to be specific to the type of authority.  Hence we may need some additional refactoring here.  I'm adding @iambmelt to assist in reviewing and working with you on a solution that will work for all authority types current and future.

[2020-02-05 15:47] shoatman commented on #914
@tulika17 - Be sure that your configuration file has the correct value.  Unfortunately the encoding differs between the android manifest and the configuration file.  In the portal you can see examples of both so it's a good idea to take a look.  @hamiltonha do you want to add this to the FAQ?

[2020-02-05 15:47] shoatman commented on #914
I'm going to close this issue for now.

[2020-02-05 15:47] #914 closed

[2020-02-05 16:00] xyzwilliamxyz commented on #915
@shoatman Ok, thanks! I will be waiting.

[2020-02-05 21:50] rpdome commented on #916
Fixed in common.

[2020-02-05 21:50] #916 closed

[2020-02-05 21:50] rpdome commented on #908
Duplicate with https://github.com/AzureAD/microsoft-authentication-library-common-for-android/issues/803

[2020-02-05 21:50] #908 closed

[2020-02-05 22:01] shoatman commented on #921
@enirsilvaferraz - As we discussed on our call this morning.  Feel free to share pointer to code in your fork where you resolved this issue.  Thanks!

[2020-02-06 09:40] koesclem commented on #904
@iambmelt Thanks for this follow-up!

Just to make sure and because the term "app" is nowadays used excessively - when reading the above statement and the term "app" is mentioned, we are **not** talking about the Mobile-App but e.g. API-Services the Mobile-App uses to access those resources - correct?

Also to summarize: In a B2C Mobile Context, working with multiple resources is **not** supported

[2020-02-06 15:13] opt05 opened #922 "Adhere to the semantic versioning scheme"
**Is your feature request related to a problem? Please describe.**
Currently, the versioning scheme for the Android library isn't like other Android libraries and therefore causes a linting issue in Gradle as a `-hf1` build would designated as a prerelease build in [semantic versioning](https://semver.org/).

This also breaks the `+` in version number. For example if we use `1.2.+`, gradle will us

[2020-02-06 16:12] shoatman commented on #922
@iambmelt @rpdome

[2020-02-06 16:48] shoatman commented on #922
This seems to be a historical practice.  That I agree doesn't make sense.  We're going to fix this with the next release.  Which will be today/tomorrow or Monday.  Thanks

[2020-02-06 16:51] #915 closed

[2020-02-06 16:57] iambmelt commented on #922
ACK - we'll take this feedback going forward. As @shoatman mentioned, this is a carryover from the ADAL versioning practice.

I'm going to close this issue; thanks for your feedback @opt05

[2020-02-06 16:57] #922 closed

[2020-02-06 19:02] ecramer opened #923 "MsalClientException: Sdk cancelled the auth flow as the app launched a new interactive auth request"
**Describe the bug**
When using application.requireAuthToken or application.login the callback gets cancelled when the browser opens AND 'Don't keep activities' is enabled in the device developer settings

**Smartphone (please complete the following information):**
 - Device: Any
 - Android Version: Any
 - Browser [e.g. Chrome, Edge] Any
 - MSAL Version: 1.2.0

**Stacktrace**
[code]

**To Reproduc

[2020-02-06 22:05] iambmelt commented on #904
That's correct.

Working with multiple resources associated to a single _policy_ (journey/flow) is not supported. Instead, the developer is expected to associate multiple scopes (permissions) to a single policy and use the embedded `scp` claim to validate the token on the middleware

Thanks for this feedback -- as this experience represents a departure from our typical AAD experience, we'll have t

[2020-02-06 23:35] iambmelt commented on #921
PRs here have merged to `dev` and hotfix branch

[2020-02-06 23:35] #921 closed

[2020-02-07 09:54] alitaimoor1415 commented on #530
we also have the same requirement. kindly update this feature and let us know when the feature is added. Thanks

[2020-02-07 12:33] ArtyomBasharkevich opened #924 "NullPointerException on LocalMSALController.completeAcquireToken (completeAuthorization(int, int, android.content.Intent))"
**Describe the bug**
NullPointerException on LocalMSALController.completeAcquireToken (completeAuthorization(int, int, android.content.Intent))

**Smartphone:**
 - Samsung Galaxy S9, Pixel 3
 - Android 9
 - Chrome
 - MSAL Version = 1.1.0-hf1

**Stacktrace**
Samsung

com.microsoft.identity.client.internal.controllers.LocalMSALController.completeAcquireToken LocalMSALController.java:205
com.microsof

[2020-02-07 15:04] ArtyomBasharkevich commented on #924
completeAuthorization(int, int, android.content.Intent) call is started from AuthorizationActivity.completeAuthorization() in 288 line

[2020-02-07 15:47] rschuerer opened #926 "[Question] Can base64 encoded signature containing "/" causing redirect problems?"
Hi

When running my app with the debug certificate the login is working.
As soon as I publish it to the Google Playstore using App signing by Play store the login stopped working when pressing "Continue" at the question "Are you trying to sign in".

I had this problem before when the AndroidManifest.xml contained the wrong signature but I checked this multiple times with Azured AAD portal and my c

[2020-02-07 16:08] shoatman commented on #923
@ecramer - Can you tell me more about your test scenario.  Are you expecting a user to abandon signing in and then return to in minutes, hours, days later?  Generally this setting is use to assess how an app behaves under memory pressure.

[2020-02-07 16:10] shoatman commented on #924
@ArtyomBasharkevich - We'll try to find a consistent repro using our test app and will report back.

[2020-02-07 16:12] ecramer commented on #923
It's not just memory pressure. There are lots of phones (new and old) that mimic this behaviour on a regular basis regardless of memory pressure. It is good practice to have your app function with and without this setting enabled.

[2020-02-07 16:26] shoatman commented on #923
I'm trying to assess severity of this issue.  Do you have crash reports from a production app that you are trying to resolve or is this test pass completeness.  I understand the best practice aspect; however I've never seen this happen in practice on any device during testing.  Mostly because users who start signing in tend to complete it.  The problem in this case is related to the use of the def

[2020-02-07 16:42] ecramer commented on #923
Not sure if this was clear but the user tries to complete it. They go to the browser, they select their email, click continue and when they are redirected back to the app, nothing happens.

AppAuth also uses the custom tabs to do authentication in the browser and this is not a problem there. I take no issue with the opening of a browser.

No one has experienced this problem in production yet. Howe

[2020-02-07 16:46] shoatman commented on #923
I can check the app auth code... i'm assuming they've chosen to persist the necessary security state (to prevent man in the middle attacks).  I'll discuss with the team again to see how we feel about doing this from a security perspective.

[2020-02-07 16:49] shoatman commented on #923
From AppAuth... where they persist the state of the authorization request.  https://github.com/openid/AppAuth-Android/blob/master/library/java/net/openid/appauth/AuthorizationManagementActivity.java

[2020-02-07 16:56] shoatman commented on #923
FWIW - I do understand your scenario.  I've just never seen memory pressure or "Weird" device behavior get in the way of completing authorization in the wild.  Microsoft has several apps using MSAL and we haven't received any crash reports related to this issue.  With that said, most continue to use embedded webview for reliability reasons.  Not all default browsers actually support redirection to

[2020-02-07 17:00] ecramer commented on #923
Might have missed this in the docs - is there a way to use an embedded web view instead? Definitely open to doing that. We've just been using the method outlined in the README which has defaulted to the custom tabs.

[2020-02-07 17:03] shoatman commented on #923
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration - See authorization_user_agent setting

[2020-02-07 17:07] ecramer commented on #923
Awesome. I am absolutely going to give this a try. If it works, we'll just do that. Will provide an update when I know. Thank you!

[2020-02-07 17:10] shoatman commented on #923
You are most welcome.  Thank you for taking the time to evaluate and provide feedback.  I'm going to followup with the team on this next week to see what their thoughts are.  I'll let you know where we get to on this.

[2020-02-07 20:29] ecramer commented on #923
The webview does work with the setting enabled. Thanks again!

[2020-02-10 15:13] shoatman commented on #926
@rschuerer - I added a section to the FAQ in the wiki to address your question.  Let me know if this helps you resolve this issue.  https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-FAQ

[2020-02-10 16:36] SwathyMothilal opened #929 "In acquireTokenSilent, getting "illegal_argument_exception" - authority is null or empty"
**Describe the bug**
When I am trying to call acquireTokenSilent, getting an illegal argument exception even though the authority is mentioned.

[2020-02-10 16:38] shoatman commented on #929
@SwathyMothilal and I discussed this over phone last week.  It seems when you don't provide an IAccount for forAccount builder parameter that you get the authority error message instead of missing account.

[2020-02-10 16:39] shoatman commented on #929
@shahzaibj - Is this something that we can add to our existing tests to verify?

[2020-02-10 17:16] shahzaibj commented on #929
Hey @shoatman , we have some tests [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/47776c254c2b21d959a60d5d1c896a4d793bb513/msal/src/test/java/com/microsoft/identity/client/e2e/tests/mocked/AcquireTokenMockTest.java#L265), we are not exactly asserting for the complete error message here, instead we are just asserting for the error code. I can update the tests to

[2020-02-10 17:17] shahzaibj commented on #929
@shoatman @SwathyMothilal These errors are thrown [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/47776c254c2b21d959a60d5d1c896a4d793bb513/msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java#L1256).

@SwathyMothilal Can you provide more details about which Application Type (Single vs Multi Account) you are using and which overload of ac

[2020-02-10 18:32] rschuerer commented on #926
@shoatman that's what I have done and it works with the debug key. But as soon as I submit my app to the Google play store I have to use the signature of the Google play store signing certificate.

I downloaded the certificate from the play store console and run

openssl < deployment_cert.der sha1 -binary | openssl base64

the resulting base64 encode signature: a7hXfuJoSlXVCk/yeoji0NaMdwg=
It work

[2020-02-10 19:01] shoatman commented on #926
I think that '/' is a problem.  Slash is a valid character for base64 encoding.  I think we're going to need to change our signature validation logic to account for this.  Do you need brokered authentication  support for your app in the short term?  If not, we can likely replace the slash with another valid character in the generated signature and use that new value to generate the url enocded val

[2020-02-10 22:32] MarcelWinkelEBF commented on #530
Is there any progress on this? Cannot believe that it is not the standard implementation to use a dynamic clientId..

[2020-02-11 00:22] rpdome commented on #926
@rschuerer I'm unable to repro the issue. Is there any stack trace I can look into?
(If It is brokered auth, then logs from authenticator and/or company portal would be very helpful - you can send them through the apps' settings page and forward me the incident IDs). Thanks.

[2020-02-11 00:37] shahzaibj commented on #929
@SwathyMothilal could you also let me know what version of MSAL you are using?

[2020-02-11 15:21] nfgallimore commented on #914
Facing same issue. +1 for adding to FAQ.

[2020-02-11 15:49] shoatman commented on #914
Added here: https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-FAQ

[2020-02-11 17:26] xyzwilliamxyz opened #930 "Custom webview on MSAL"
Hi!

is it possible to add a custom webview on MSAL? I mean, we have a requirement of calling native android functions for analytics from webview.

In order to do that, we would have to declare a **Handler** and add it to the webview through **addJavascriptInterface**.

Is there a way of using exposing MSAL webview or extending it?

thanks!

**Edit:**

I saw that the method **acquireToken** from *

[2020-02-11 18:36] nfgallimore commented on #914
I am getting an error saying that the redirect uri in the app does not match the one set in the AAD app registration.

_AndroidManifest.xml_

    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="{{PACKAGE_NAME}}">

        ...

        <intent-filter>
            <action android:name="android.intent.action.VIEW" />
            <category android:name="android.inte

[2020-02-11 18:59] nfgallimore commented on #914
Basically when you are debugging in Android Studio, it will use the debug key found under your user folder/.android/debug.keystore

The default password to get into the `debug.keystore` is `android`, the default password for the key is `android`

So generating your own key/keystore when setting up the app registration will lead to the wrong redirect URI error, since it will use the debug one when

[2020-02-12 00:13] kadalcj commented on #914
I already add the keytool to my path but still that give me the same problem. But somehow I tried it on MacOS and Linux and it was straight give me the correct Signature Hash, not like on the Windows. I wonder tho.

[2020-02-12 09:02] ArtyomBasharkevich commented on #924
@shoatman - Ok, I am waiting for the result

[2020-02-12 10:13] nazmul32 opened #931 "Crash related to Redirect URL when app is published"
**Describe the bug**
In our current app, we used this library. We set the proper **signature hash** for generating **Redirect URL**. That was working fine until the app was released to **Google play**.

While uploading app to **Google play**, if there is **App Signing** by Google play is enable, then the app crashes while starting as the signature hash has been changed internally in there. Is ther

[2020-02-12 10:18] tanveer-preom commented on #931
Found the exact same issue on my end

[2020-02-12 13:48] MarcelWinkelEBF commented on #530
@danieldobalian @iambmelt can someone from you guys take a look into this issue? and some feedback? here are some guys - including me - who would need that asap. Or you could give us a workaround idea?

[2020-02-12 13:56] saqibmirza2007 commented on #530
@MarcelWinkelEBF you can use ADAL module from Microsoft com.microsoft.aad:adal we are currently using this for iOS and Android Apps

[2020-02-12 14:42] MarcelWinkelEBF commented on #530
Yes that is true. That's working and I'm sure we had this module before (but with an older version). We wanted to switch to MSAL for a better implementation. And I guess the same dynamic clientId flow should also work for MSAL. The custom redirectUri works fine for ADAL but not for MSAL. So the question is why to restrict it that much.

[2020-02-12 14:42] shoatman commented on #931
See if the information here helps: https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-FAQ

[2020-02-12 14:51] nfgallimore commented on #914
@kadalcj Find the binary for it here https://stackoverflow.com/questions/4830253/where-is-the-keytool-application

[2020-02-12 16:16] nazmul32 commented on #931
Hi Shoatman,

I understood that part. Actually for debug and release APK both are fine. Actually recently Google play store has an opton to sign an app using its own unique key which restricts user to accidentally install a version over Google play app  from some unknown source.

https://developer.android.com/studio/publish/app-signing#enroll

The point #1 in **Opt in a new  #app** there. I used t

[2020-02-12 16:25] shoatman commented on #931
You can register multiple redirect uris in the Azure Portal for your app.  With that said you may wan to consider separate app registrations for development, production etc.... so that you can evaluate changes to your app registration in development ahead of release to production.

[2020-02-12 16:32] nazmul32 commented on #931
Thanks for prompt response. I saw there can be multiple redirect urls. But there is a JSON file we need to build an APK which can contains only one *redirect url*. What I understood, we need to publish APK on google play with that specific JSON file and unless it is internally released we have no other way to test its functionality. Sorry if I am missing anything. I will be glad if I can contribut

[2020-02-12 16:38] rpdome commented on #930
Hi @xyzwilliamxyz,

MSAL WebView is designed for authentication activities only. May I ask for more details on what scenario you're trying to achieve here?

Thanks,
Dome

[2020-02-12 16:51] xyzwilliamxyz commented on #930
Hi @rpdome , thanks for replying.

Sure, we would like to have analytics data on user actions, i.e. click on a button or errors handled on within the webview.

Thanks,
William

[2020-02-12 17:02] tanveer-preom commented on #931
Hello @shoatman. The problem we are facing that we have to maintain 3 different json files with different redirect urls for 3 variants. One for debug, another for release and another for Google play console if "App Signing" is enabled there. This is creating a little overhead for us. Suppose we changed the json for google play console signing, then we cannot test it locally on our devices. All I a

[2020-02-12 17:04] shoatman commented on #931
We've been exploring using build.config for this.... https://developer.android.com/studio/build/manifest-build-variables Would this approach alleviate your challenge?

[2020-02-12 17:10] nazmul32 commented on #931
Hi @shoatman, that sounds more like gradle flavor concept or build variant. Thanks for your response.

[2020-02-12 17:24] tanveer-preom commented on #931
Hello @shoatman . Actually I agree with @nazmul32 . Using product flavour or manifest build variant will solve issue for debug and release variant. But we will still have problem with Google play "App Signing" . Actually this is the main problem. We cannot test this variant locally as the signature gets changed when .aab is uploaded to play store

[2020-02-12 17:27] shoatman commented on #931
I could be wrong, but I thought that even when using google to sign your apk... that you could configure signing configs.... https://developer.android.com/studio/publish/app-signing#sign-auto
I'll try this out later today.

[2020-02-13 06:27] nazmul32 commented on #931
Hi @shoatman

After investigating a bit more what was in the code it seems `PublicClientApplicationConfigurationFactor`, the methood `loadConfiguration()` reads config file
and other things like **redirect url**. We have `context` while calling this method. If we can use this

[code]

[code]

Does this thing make **redirect url** dynamic? Sorry if you find it irrelevant.

[2020-02-13 06:30] nazmul32 commented on #931
If we can generate redirect url dynamically, all we have to add the signature hash to the Azure portal. Users do not have to set **redirect url** for each variant manually. (Seeing the pattern of redirect url and signature hash)

[2020-02-13 12:48] xyzwilliamxyz commented on #920
Hi @shoatman after we update our project to **msal:1.3.0**, this issue is happening again.

`
Fatal Exception: java.lang.RuntimeException
Error receiving broadcast Intent { act=cancel_interactive_request_action flg=0x10 launchParam=MultiScreenLaunchParams { mDisplayId=0 mFlags=0 } bqHint=1 } in com.microsoft.identity.common.internal.providers.oauth2.b$a@4a4baeb
android.app.LoadedApk$ReceiverDispat

[2020-02-13 12:53] enirsilvaferraz opened #935 "Crash related to start a new B2C journey from the onError callback of another journey"
**Describe the bug**
Crash related to start a new B2C journey from the onError callback of another journey

**Smartphone (please complete the following information):**
 - Device: Galaxy S6
 - Android Version: 7
 - MSAL Version: 1.3.0

**Stacktrace**

Fatal Exception: java.lang.RuntimeException: Error receiving broadcast Intent { act=cancel_interactive_request_action flg=0x10 launchParam=MultiScree

[2020-02-13 17:03] iambmelt commented on #920
This looks like a ProGuard issue to me; I suggest disabling it to determine if this is the cause

[2020-02-13 18:29] xyzwilliamxyz commented on #920
Hi @iambmelt , thanks for the suggestion. I disabled pro-guard, but the crash still happens :/

[2020-02-13 22:44] rpdome commented on #931
@nazmul32 the redirect url needs to be injected in both manifest and the config file. Is your method covering both?

[2020-02-13 23:37] iambmelt commented on #920
Thanks for verifying @xyzwilliamxyz

Regarding your comment here:

Our `1.3.0` release was not cut from our development branch because _those_ bits haven't been fully tested. Instead, it was cut from our previous `1.2.0-hf1` release with various other fixes cherry-picked from dev.

Are you still seeing this issue _only_ on Android 7.0? Not 7.1 or higher? All devices? Specific devices?

[2020-02-14 02:08] nazmul32 commented on #931
Hi @rpdome,

I was not to able to test this. What I tried is to find from where the redirect url is set. I found this place from where the config file is read. My point was that if we can dynamically generate redirect url then our mentioned problem can be solved. It can be less coupled with manifest and/or JSON file both. Thanks.

[2020-02-14 13:21] xyzwilliamxyz commented on #920
@iambmelt I see, that should explain it.

It's happening to Android 7.0 only on all devices

Android 7.1 onwards is working fine.

[2020-02-14 15:07] nfgallimore opened #937 "Single Account App Login Duration"
After the user signs in for the first time on a Single Account App, how long will I be able to get their account using?

`mSingleAccountApp.getCurrentAccountAsync()`

Basically we are looking to only have the user sign in once. This is a service device.

[2020-02-14 22:07] shahzaibj commented on #935
@enirsilvaferraz Thanks for reporting the issue. I am able to get a repro for this. Seems to be a threading related issue. I will work on a fix for this, discuss it with the team next week and then we will report back to you. Thanks!

[2020-02-15 10:33] SergeyMilevskiy commented on #879
<img width="1333" alt="Screenshot 2020-02-15 at 11 31 07" src="https://user-images.githubusercontent.com/5111553/74586330-d7cf9780-4fe6-11ea-982f-e70256c626f1.png">
Still crash with version 1.3.0 @rpdome

[2020-02-16 03:25] rpdome commented on #879
@SergeyMilevskiy 1.3.0 is technically a 'hotfix' (based on1.2.0-hf1). The fix is in the dev branch, which will be out with the next non-hotfix release.

[2020-02-16 13:40] SwathyMothilal commented on #929
Hi, the MSAL version is 1.2.0 and it's a Single Account. I have got it now working with the overload below.

AcquireTokenSilentParameters acquireTokenSilentParameters = new AcquireTokenSilentParameters.Builder()
                                .fromAuthority(AAD_AUTHORITY)
                                .withCallback(getSilentAuthenticationCallback(callback))
                                .forA

[2020-02-16 21:05] mattlaabs opened #939 "offline_access scope no longer working in v1.3 when using secure browser tab"
**Describe the bug**
In version 1.3 I get a MsalDeclinedScopeException when requesting offline_access via a secure browser tab.
When using Microsoft Authenticator, the problem does not exist.
When removing offline_access from the list of scopes, the problem does not exist.
With MSAL version 1.2 (and identical code) the problem does not exist.

Was there some behavior change, that offline_access sh

[2020-02-18 04:29] shahzaibj commented on #939
Hey @mattlaabs, what do you mean by Secure Browser Tab? Is this the same as browser custom tabs?

Also the scope `offline_access` is always requested by MSAL by default, so the developer doesn't actually need to specify that scope. How are you asking for the `offline_access` scope? Are you specifying through the AcquireTokenParameters?

[2020-02-18 04:32] shahzaibj commented on #929
That's great @SwathyMothilal, I'm just curious however why it wasn't working for you earlier. Can you tell me which overload you were using earlier when it wasn't working?

[2020-02-18 06:51] mattlaabs commented on #939
Yes (custom browser tab) and yes (acquireTokenParsmeters). It's not obvious to the developer, that offline_access is implicitly requested. It's fixed for me then, but still the current situation is dangerous, as it works with MS Authenticator but not with a browser tab and the resulting error message is misleading.

[2020-02-18 14:36] shoatman commented on #939
@shahzaibj - Let's review the validation for scopes to ensure that we're still throwing when a reserved scope is being used.

[2020-02-18 14:37] shoatman commented on #937
The account is in the cache.  It will be there until you remove it.

[2020-02-18 14:37] shoatman commented on #937
If the broker is in use it will be there until you remove it or if the user removes the account from the device via Account Manager (Settings / Accounts)

[2020-02-19 16:29] jdestefano123 opened #940 "complete acquire token error"
**Which Version of MSAL are you using ?**
msal:1.1.0-hf1

**Platform**
Android

**What authentication flow has the issue?**
Mobile
Refresh

Other? - please describe;

**Is this a new or existing app?**

The app is in production, I haven't upgraded MSAL, but started seeing this issue

**Repro**

Unable to reproduce consistently

**Expected behavior**
User should be logged in upon completion of auth

[2020-02-19 18:05] shahzaibj commented on #940
@jdestefano123 Thanks for reporting. We are aware of this issue and currently working on fix. I will discuss plans for a hot fix release with our team and will report back to you after that.

[2020-02-20 16:34] nfgallimore commented on #937
@shoatman Following this guide: https://docs.microsoft.com/en-us/azure/active-directory/develop/brokered-auth it seems that the only thing I have to do is add this `"broker_redirect_uri_registered": true` string to my msal config settings, since I already have a redirect URI set up. But after looking at the chart on the doc it seems necessary to have Microsoft Authenticator or Intune Company Porta

[2020-02-20 16:55] shoatman commented on #937
You don't need to sign in to the Authenticator app.  Just install it.  The authenticator app and the Intune company portal both contain an implementation of an abstract account authenticator.  This is what we use to make "Work Account" available in the accounts list within settings.  This is what's actually providing the auth broker support.

[2020-02-20 21:06] #937 closed

[2020-02-20 23:46] shahzaibj commented on #940
@jdestefano123 We have a fix for this issue and I've opened up a PR [here](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828). We are currently planning to start cutting an MSAL release some time next week. I'll keep you updated on the status of that.

[2020-02-20 23:46] shahzaibj commented on #935
@enirsilvaferraz We have a fix for this issue and I've opened up a PR [here](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828). We are currently planning to start cutting an MSAL release some time next week. I'll keep you updated on the status of that.

[2020-02-20 23:46] shahzaibj commented on #920
@xyzwilliamxyz We have a fix for this issue and I've opened up a PR [here](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828). We are currently planning to start cutting an MSAL release some time next week. I'll keep you updated on the status of that.

[2020-02-20 23:47] shahzaibj commented on #924
@ArtyomBasharkevich We have a fix for this issue and I've opened up a PR [here](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828). We are currently planning to start cutting an MSAL release some time next week. I'll keep you updated on the status of that.

[2020-02-20 23:55] xyzwilliamxyz commented on #920
@shahzaibj Great! Thank you very much. Looking forward to it!

[2020-02-21 08:33] kadalcj opened #941 "[Question] Email value was null when tried to sign in"
Hi everyone.

Why the browser was straight redirect to password and gave that null value on the email so I can't sign in to test my app. Is this bug or something else?

*edit: It doesn't gave me a chance to fill or select pervious registered account

![Screen Shot 2020-02-21 at 15 24 05](https://user-images.githubusercontent.com/43379893/75017280-3f8e5280-54bf-11ea-9d42-1c5c63cd9049.png)
This is w

[2020-02-21 11:12] ArtyomBasharkevich commented on #924
@shahzaibj I am glad to hear that

[2020-02-21 20:19] shahzaibj commented on #941
Hi @kadalcj Can you provide a bit more information like which version of MSAL you are using? Do you have a consistent repro for this issue? If yes, what are the repro steps?

[2020-02-21 20:34] nfgallimore commented on #570
Experiencing same problem

[2020-02-23 09:57] nazmul32 opened #942 "NPE in createCustomTabResponseIntent"
**Issue**
Please find the attached log here.

**Stacktrace**
Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.anyconnect.sampleapp/com.microsoft.identity.client.BrowserTabActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.String java.lang.Class.getName()' on a null object reference
       at android.app.ActivityThread.perfo

[2020-02-23 15:35] mellanox-is opened #943 "NPE in AuthorizationFragment.createCustomTabResponseIntent"
MSAL 1.2.0 exception:

[code]

[2020-02-24 01:27] kadalcj commented on #941
This is the version that I use
![image](https://user-images.githubusercontent.com/43379893/75123950-72626180-56de-11ea-84af-665965b89f4f.png)

Yes, I do. Before that happen, I was using the same version. But 2 days ago the sign in page kinda showing something different. It say's "You already sign in" or something like that and there was 2 option, "Sign in with this account" or "Sign in with anothe

[2020-02-24 20:42] mrudulamrudu opened #945 "signout returning no_current_account error"
I am using below code to signout the user and its giving me no_current_account error code
[code]

[2020-02-25 00:21] shahzaibj commented on #943
@mellanox-is Do you have repro steps for this issue? Any MSAL logs you can provide us to help investigate?

[2020-02-25 00:22] shahzaibj commented on #942
@nazmul32 Do you have repro steps for this issue? Any MSAL logs you can provide us to help investigate?

[2020-02-25 06:06] nazmul32 commented on #942
I found it on Crashlytics when using this library in production.

[2020-02-25 18:39] #935 closed

[2020-02-25 18:39] #940 closed

[2020-02-25 18:39] #920 closed

[2020-02-25 18:39] #924 closed

[2020-02-25 21:13] shahzaibj commented on #940
@jdestefano123 This issue has been closed as the above linked PR has merged. I am currently working on getting the release process started (can take 2-4 days to complete). I'll give you an update once the release is available in Maven.

[2020-02-25 21:15] shahzaibj commented on #935
@enirsilvaferraz This issue has been closed as the above linked PR has merged. I am currently working on getting the release process started (can take 2-4 days to complete). I'll give you an update once the release is available in Maven.

[2020-02-25 21:15] shahzaibj commented on #920
@xyzwilliamxyz This issue has been closed as the above linked PR has merged. I am currently working on getting the release process started (can take 2-4 days to complete). I'll give you an update once the release is available in Maven.

[2020-02-25 21:15] shahzaibj commented on #924
@ArtyomBasharkevich This issue has been closed as the above linked PR has merged. I am currently working on getting the release process started (can take 2-4 days to complete). I'll give you an update once the release is available in Maven.

[2020-02-26 22:06] shahzaibj commented on #941
@kadalcj Based on what you describe, it seems like you want to login with AAD accounts but the login page that you are seeing is specific to Personal MSA accounts. What type of [authority](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authorities) have you declared in your app's config json file?

[2020-02-26 22:12] shahzaibj commented on #942
@nazmul32 I am not able to reproduce the issue, however, I feel that this issue may be related to some of the issues fixed by this PR: https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828

We are currently going through our test pass and will be releasing the next version of MSAL with those bits later this week. I will provide an update once the release is Maven.

[2020-02-26 22:25] shahzaibj commented on #943
@mellanox-is I am not able to reproduce the issue, however, I feel that this issue may be related to some of the issues fixed by this PR: https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/828

We are currently going through our test pass and will be releasing the next version of MSAL with those bits later this week. I will provide an update once the release is in

[2020-02-27 01:39] kadalcj commented on #941
This is what I use for the config file.
![Screen Shot 2020-02-27 at 8 36 32](https://user-images.githubusercontent.com/43379893/75404213-71c70680-593c-11ea-998b-7351c61f6fdd.png)

Is I config it wrong? Because what I do is following the guide from the Graph documentation

[2020-02-27 01:41] shahzaibj commented on #941
What graph documentation? You should be using MSAL documentation instead

[2020-02-27 01:43] kadalcj commented on #941
I mean [this](https://docs.microsoft.com/en-us/graph/tutorials/android?tutorial-step=3). But I change it few parts that different with the config code that generate from AAD.

[2020-02-27 02:01] shahzaibj commented on #941
Okay, that's fine. So the config file, looks good to me. Since the authority audience is AAD, it should not be possible to be redirected to `login.live.com`. When the browser opens, the url should be `login.microsoftonline.com`. Which url are you getting in the browser? From the image it seems like the first one and that is going to be wrong

[2020-02-27 03:02] kadalcj commented on #941
The browser redirect it to this:
`https://login.live.com/oauth20_authorize.srf?response_type=code&client_id=51483342-085c-4d86-bf88-cf50c7252078&scope=openid+profile+email+offline_access&response_mode=form_post&display=host&redirect_uri=https%3a%2f%2flogin.microsoftonline.com%2fcommon%2ffederation%2foauth2&state=rQIIAa2Rv2_TQBzFc01aaFSJghhYkIJoBSqycz7bdRyJIW2aljZnh9RJai_R2b40_m3ZCSnZ2BADQoxdkDqhMo

[2020-02-27 03:48] mellanox-is commented on #943
Thank you

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shahzaib <notifications@github.com>
Sent: Thursday, February 27, 2020 12:25:31 AM
To: AzureAD/microsoft-authentication-library-for-android <microsoft-authentication-library-for-android@noreply.github.com>
Cc: Slava Kamtzan <slavaka@mellanox.com>; Mention <mention@noreply.github.com>
Subject: Re: [Azur

[2020-02-27 04:52] shahzaibj commented on #941
@kadalcj What acquire token method overload are you calling in MSAL? Are you passing any login hint?

[2020-02-27 08:10] kadalcj commented on #941
I am sorry, don't quite understand what you mean. Is it something like "User.Read"?

[2020-02-27 11:04] alinciupeiu commented on #570
I am receiving the same error (Failed to retrieve SSO token) when trying to call application.acquireTokenSilent(scopes, account, authority) on three different threads at the same time. Do you have any updates on this issue?

[2020-02-27 14:14] shoatman commented on #941
Try specifying Prompt.SELECT_ACCOUNT as part of your parameters ... via .withPrompt().  I suspect that you logged into this browser before using an MSA account.  As a result you're bypassing the ability to choose and/or sign in with a different account.  You can confirm this by deleting your cookies from the default browser on your device.

[2020-02-27 17:04] iambmelt commented on #943
Please use an informative name when filing issues and include repro steps as well as device, environment, and other relevant details

[2020-02-27 17:19] iambmelt commented on #930
This is a feature request and it has some security implications regarding exposure of web ui to programmatic access where user credentials are handled

Assigning to @hamiltonha

[2020-02-27 17:23] iambmelt commented on #945
@mrudulamrudu Did `getCurrentAccount()` return an account?

[2020-02-27 18:46] mrudulamrudu commented on #945
Yes, it returned me an account. I am not able to reproduce this issue, hence I am closing the issue.

[2020-02-27 18:46] #945 closed

[2020-02-28 14:47] nfgallimore commented on #570
@alinciupeiu I have been calling acquireTokenSilentAsync on three different threads at the same time no problems

[2020-02-28 14:56] nfgallimore commented on #937
@shoatman I left my app running on the device overnight and I found it unresponsive this morning. It was constantly trying to re-create the ISingleAccountPublicClientApplication since the singleton service I have running (IOpenIdService) where the msal client lives was null.

Error log:
[logcat.txt](https://github.com/AzureAD/microsoft-authentication-library-for-android/files/4267590/logcat.txt)

[2020-02-29 04:46] shahzaibj commented on #940
@jdestefano123 The latest release of MSAL with this fix is available on Maven Central. The release version is `1.4.0`

[2020-02-29 04:46] shahzaibj commented on #935
@enirsilvaferraz The latest release of MSAL with this fix is available on Maven Central. The release version is `1.4.0`

[2020-02-29 04:47] shahzaibj commented on #920
@xyzwilliamxyz The latest release of MSAL with this fix is available on Maven Central. The release version is `1.4.0`

[2020-02-29 04:47] shahzaibj commented on #924
@ArtyomBasharkevich The latest release of MSAL with this fix is available on Maven Central. The release version is `1.4.0`

[2020-03-02 03:41] kadalcj commented on #941
I already do that and apparently deleting cookies doesn't do anything, it still jump to password input. It kind of strange but I try remaking it using Java instead of Kotlin and it work. I check two of them side by side, and I found it not too different . So, yeah. I don't know what to say.

[2020-03-02 14:05] jdestefano123 commented on #940
@shahzaibj awesome, thanks for the updates!

[2020-03-02 17:27] shahzaibj commented on #941
@kadalcj That's interesting! When you use Java, do you still get redirected to `login.live.com` or a different url?

[2020-03-02 17:48] shahzaibj commented on #943
@mellanox-is Can you test on the latest MSAL version `1.4.0` and see if you still have the issue?:

[2020-03-02 17:49] shahzaibj commented on #942
@nazmul32 Can you test on the latest MSAL version `1.4.0` and see if you still have the issue?

[2020-03-03 07:04] mellanox-is commented on #943
I will, thanks

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Shahzaib <notifications@github.com>
Sent: Monday, March 2, 2020 7:48:14 PM
To: AzureAD/microsoft-authentication-library-for-android <microsoft-authentication-library-for-android@noreply.github.com>
Cc: Slava Kamtzan <slavaka@mellanox.com>; Mention <mention@noreply.github.com>
Subject: Re: [AzureA