[2020-12-01 01:21] iambmelt commented on #1000
Closing due to inactivity

[2020-12-01 01:21] #1000 closed

[2020-12-01 01:30] iambmelt commented on #1239
@nishi1612 Thank you for reporting this issue -- I am interested in reproducing it locally to resolve it

Can you provide the following info/answers?
- Is the WebView, browser, or chrome custom tabs being used? Is this consistent with the value specified as your preferred authorization user agent?
- your authorization user agent, as specified in your applications configuration JSON manifest
- does

[2020-12-01 22:03] AdamBJohnsonx commented on #1209
https://github.com/google/gson/issues/1778 This looks like a similar issue. As a question, are you running proguard?

[2020-12-01 23:42] iambmelt commented on #1216
Closing as false positive, thanks @xyzwilliamxyz

[2020-12-01 23:42] #1216 closed

[2020-12-01 23:44] iambmelt commented on #1199
Assigning to you, @hamiltonha - as is a feature request

[2020-12-01 23:45] iambmelt commented on #1165
Assigning feature request to you, @hamiltonha

[2020-12-02 00:42] iambmelt commented on #965
Hi @nicolasbarb - Consider using our support community on [StackOverflow](https://github.com/AzureAD/microsoft-authentication-library-for-android#community-help-and-support) to investigate this issue as it may be configuration/middleware related and not a bug in the Android library

[2020-12-02 00:42] #965 closed

[2020-12-02 00:44] iambmelt commented on #1159
@AdamBJohnsonx can we close this issue with https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1125 merged?

[2020-12-02 00:47] iambmelt commented on #1146
@prbiSeva Please take a look at the troubleshooting API introduced in https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/1111 -- it should help you debug where the mismatched URL value is.

[2020-12-02 00:47] #1146 closed

[2020-12-02 00:50] iambmelt commented on #1043
This issue is the result of using an incompatible ProGuard configuration; please use the one provided here:
https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/consumer-rules.pro

[2020-12-02 00:50] #1043 closed

[2020-12-02 01:00] iambmelt commented on #1033
@pabloromeu Are you continuing to have this issue? If yes, we have provided a B2C sample here that you can clone/run to observe how to authenticate a user across policies:
https://github.com/Azure-Samples/ms-identity-android-java#b2cmodefragment-class

[2020-12-02 01:15] iambmelt commented on #1233
Hi @PeterKucera

Is there any additional info you can provide about this issue? I am unable to reproduce the UX you are seeing above on any of my test devices, including Samsung on Android 10.

Are you seeing this UX on _all_ devices? Specific devices?

![image](https://user-images.githubusercontent.com/990063/100815388-a2226080-33f8-11eb-84aa-f27e343afcec.png)

[2020-12-02 01:38] iambmelt commented on #1233
Additionally, if you could supply an example of your invocation of `acquireToken()` that would be helpful -- I am curious as to if this issue is possibly related to use of [`withFragment()`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/effd5e1822fa0a857a71b6a294aaf36afb93f5e0/msal/src/main/java/com/microsoft/identity/client/AcquireTokenParameters.java#L148-L151)

[2020-12-02 01:40] iambmelt commented on #1234
Hi @PeterKucera

A few questions/thoughts/suggestions:
- MSAL 1.4.0 is an older, out-of-support version -- can you update to the latest library version and let us know if you continue to see the issue?
- If you are using your browser/custom-tabs to authenticate, MSAL _cannot_ clear the cache, as there is no programmatic way to do so (plus, users typically _want_ cookies set by AAD to be cached for

[2020-12-02 01:51] iambmelt commented on #660
Closing as outdated, no longer taking input on this

[2020-12-02 01:51] #660 closed

[2020-12-02 01:51] iambmelt commented on #923
Closing as resolved

[2020-12-02 01:51] #923 closed

[2020-12-02 01:52] iambmelt commented on #939
Closing due to inactivity

[2020-12-02 01:52] #939 closed

[2020-12-02 01:54] iambmelt commented on #926
Closing due to inactivity, please reopen if issue persists with latest version of the library

[2020-12-02 01:54] #926 closed

[2020-12-02 01:55] iambmelt commented on #1098
Closing due to inactivity, please reopen if issue persists on latest version

[2020-12-02 01:55] #1098 closed

[2020-12-02 01:56] iambmelt commented on #994
Behavior is by-design; we don't intend to allow developer to bypass Google security behavior of disallowing WebView access to Google Sign-In

[2020-12-02 01:56] #994 closed

[2020-12-02 01:57] iambmelt commented on #1001
Closing due to inactivity

[2020-12-02 01:57] #1001 closed

[2020-12-02 01:58] iambmelt commented on #1086
With the latest version of MSAL, ADAL's cache will be automatically migrated to MSAL to support seamless SSO/migration.

[2020-12-02 01:58] #1086 closed

[2020-12-02 01:59] iambmelt commented on #1131
Closing due to inactivity

[2020-12-02 01:59] #1131 closed

[2020-12-02 02:49] iambmelt commented on #1123
Closing due to inactivity

[2020-12-02 02:49] #1123 closed

[2020-12-02 04:53] josmithua commented on #1033
@joshfriend Hi and sorry I didn't see your comment before now. Feel free to open an issue in the react-native-msal repo and we can discuss there.

[2020-12-02 06:47] icc-romeu commented on #1033
No It was fixed. We contacted Azure Support and they came back with a modification of our Azure B2C configuration. After the change it worked. I am sorry I cannot give you a hint on what we changed because I develop the mobile part, not the Azure one.

This can be closed. Thank you.

[2020-12-02 15:34] nishi1612 commented on #1239
Hey @iambmelt ,

Providing the answers in order :
- As mentioned earlier, I already have broker app installed hence I am getting Broker Activity for login authorization.
- Authorization agent is "DEFAULT"
- I have tested on two devices : One Plus 7T Pro and Samsung Galaxy S9 both having Android Version 10. Both the devices show this behaviour.
- Yes, I was able to reproduce the same with 2.0.4 ver

[2020-12-02 17:06] iambmelt commented on #1033
Thanks for the update @icc-romeu -- glad to hear you were unjammed

[2020-12-02 17:06] #1033 closed

[2020-12-03 01:17] iambmelt commented on #1239
@nishi1612 Can you tell me which account selection screen you're seeing? Does it look like one of the below? We have both a native and an HTML based selector, which is shown depends on broker/application state. In the event you are seeing the HTML selector, can you tell me which back button you are pressing (as there are multiple, labeled by color):

**Broker Native Selector:**
<img src="https://u

[2020-12-03 01:19] iambmelt commented on #1239
I will add that I was able to identify a bug in the resulting error message when using the browser (_without broker_) while investigating this issue -- the fix is proposed in https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1145

[2020-12-03 04:05] shahzaibj commented on #1139
@nishi1612 We will discuss within the team about rolling out such a feature and get back to you with an update. Thanks!

[2020-12-03 04:06] shahzaibj commented on #1148
Closing due to inactivity and the issue should already be resolved on the latest version of MSAL.

[2020-12-03 04:06] #1148 closed

[2020-12-03 04:07] shahzaibj commented on #1089
@vandac I do not have such a device with me right now....I will see if I can try to repro the issue on another Samsung device.

[2020-12-03 17:13] iambmelt commented on #1232
Sent offline via email

[2020-12-03 17:36] xyzwilliamxyz opened #1243 "Fatal Exception: java.lang.ClassCastException"
**Describe the bug**
We're having this exception reported by crashlytics on the latest MSAL version (2.0.4):

[code]
it seems to be a cast exception caused by some newly thrown exception. Could you guys have a look?

**Smartphone (please complete the following information):**
 - Device: Galaxy S5
 - Android Version: 5.0
 - MSAL Version: 2.0.4

[2020-12-05 01:14] AdamBJohnsonx commented on #1159
Maybe.  There's not a root-cause on this but it won't manifest in the same way - rather than reading a null account from a CacheRecord, we'll get an exception when it is constructed and thereby learn its origin.

[2020-12-07 21:05] josmithua commented on #1027
I'm creating a library that depends on this project. How can I specify the repository in the build.gradle of my library so that users don't have to add the repository in their project top level build.gradle?

[2020-12-08 17:09] iambmelt commented on #1234
Closing due to inactivity; please reopen if my provided answer does not answer the question/resolve the issue

[2020-12-08 17:09] #1234 closed

[2020-12-08 18:37] iambmelt commented on #1243
Thanks @xyzwilliamxyz -- we'll take a look and ship a fix in an upcoming release

[2020-12-08 20:21] leonardochiaranda commented on #1170
@iambmelt the issue started occuring again in the latest app version. I believe we'll unfortunately need to reopen the ticket. Please check the image below with the occurrences being thrown for us.

![image](https://user-images.githubusercontent.com/75698143/101535849-fb017400-3977-11eb-871f-fe3d34b0585b.png)

[2020-12-08 20:37] iambmelt commented on #1239
Also related issue:
https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1149

[2020-12-08 20:47] iambmelt commented on #1170
Reopening this issue to investigate, as some customers report working and others report non-working.

Setting owner to myself, as I can pick up this investigation

[2020-12-08 20:54] iambmelt commented on #1239
Fixes are merged and will be released in a future update to the MSAL and Broker libraries

[2020-12-08 20:54] #1239 closed

[2020-12-08 23:31] iambmelt commented on #1232
@harmjonker @bgavrilMS @trwalke I'm going to go ahead and close this issue, as the Android MSAL team isn't currently investigating this item as a bug. Please reopen or `@` me if this ticket needs to be reopened.

Thanks

[2020-12-08 23:31] #1232 closed

[2020-12-08 23:32] iambmelt commented on #1160
Closing this issue due to inactivity. Please file an issue if you continue to see this crash after updating to MSAL 2.0.4 or later

[2020-12-08 23:32] #1160 closed

[2020-12-08 23:38] iambmelt commented on #758
Closing this issue, as it has been fixed in the external IEF page

Incident Tracking (corpnet reqd):
- https://portal.microsofticm.com/imp/v3/incidents/details/200805212/home

[2020-12-09 11:12] dhirajhimani commented on #637
Tried
val deviceIdClaimsRequest = ClaimsRequest()
        val deviceIdAdditionalInfo = RequestedClaimAdditionalInformation()
        deviceIdAdditionalInfo.essential = true
        deviceIdAdditionalInfo.value = "deviceid"
        deviceIdClaimsRequest.requestClaimInAccessToken("deviceid", deviceIdAdditionalInfo)

        return AcquireTokenParameters.Builder()
                .startAuthorizationF

[2020-12-10 12:19] gitaumoses4 commented on #1243
HI @xyzwilliamxyz  it's not clear to me why the exception is being thrown, as the issue was fixed before the release of MSAL Version 2.0.4

Here's the pull request: https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1121

Are you able to share more details on reproducing the error?

[2020-12-10 14:07] xyzwilliamxyz commented on #1243
hi @gitaumoses4 , it's indeed on 2.0.4. All we have is the stacktrace.

[2020-12-10 17:58] iambmelt commented on #1243
Thanks for confirming @xyzwilliamxyz

@gitaumoses4 and I took a peek at this together; we have indeed developed a fix for this crash already in https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1121 and it will be released in a _future_ release of MSAL. This fix was developed for `common@3.0.7`; MSAL `2.0.4` consumes `3.0.6` -- that is why you continue to see this

[2020-12-11 07:21] fathurrohmane opened #1245 "Id token return null"
**Describe the bug**
The AuthenticationResult.account.IdToken return null when I set it up to my company azure. Is there something wrong with my config? I am not really sure and stuck here.
The iOS version is fine and when I set the MSAL config to my personal azure (AzureADandPersonalMicrosoftAccount type) its also working fine.

**Smartphone (please complete the following information):**
 - MSAL

[2020-12-11 13:03] leonardochiaranda commented on #1243
@iambmelt Thanks for the release date info. We'll keep track of it when the time comes.

[2020-12-11 13:07] leonardochiaranda commented on #1140
@iambmelt @shahzaibj Hey, folks. Do you have any updates for us based on the comments from William? More specific for these following parts:

[code]

[2020-12-11 13:09] leonardochiaranda commented on #1170
@iambmelt I apologize, but we've mistakenly asked for the ticket to be reopened. This can be closed for now.

[2020-12-11 13:28] xyzwilliamxyz commented on #1216
hi @iambmelt , unfortunatelly this is still happening very often, but as a non-fatal (not the false positive crash anymore)

[2020-12-11 13:37] xyzwilliamxyz commented on #1216
Here's an example of one of them:

**Non-fatal Exception:**

`
Non-fatal Exception: com.microsoft.identity.client.exception.MsalServiceException: referral:login_screen
       at com.microsoft.identity.client.internal.controllers.MsalExceptionAdapter.msalExceptionFromBaseException(MsalExceptionAdapter.java:74)
       at com.microsoft.identity.client.PublicClientApplication$16.onError(PublicClientAp

[2020-12-11 16:36] iambmelt commented on #1170
No worries at all, @leonardochiaranda - thanks!

[2020-12-11 16:36] #1170 closed

[2020-12-11 20:02] shahzaibj commented on #1140
@xyzwilliamxyz @leonardochiaranda We will discuss within the team if we can implement specific handling for such links. Would you be able to provide us with a sample msal config file and test account so we can try out the user experience for these?

[2020-12-11 20:52] iambmelt commented on #1216
@xyzwilliamxyz This `MsalServiceException: referral:login_screen` would be coming from your IEF/B2C app's backend, not from the library itself -- MSAL is passing the message from the service to the caller via `onError()`. I would suggest looking at your B2C service logs to determine the cause, as it looks like MSAL is simply relaying the error from elsewhere

[2020-12-11 21:12] iambmelt commented on #1245
The ID token is being returned as a `TenantProfile`, indicating the account being used in not in the context of its home authority (tenant). I can see in your screenshot above that `mTenantProfiles` has `size=1` indicating you have the result, but are inspecting the wrong property on `AuthenticationResult`

Please review the following documentation, it demonstrates how to access the desired profil

[2020-12-11 21:12] #1245 closed

[2020-12-11 21:14] iambmelt commented on #1233
Closing due to inactivity.

[2020-12-11 21:14] #1233 closed

[2020-12-14 09:20] nishi1612 commented on #1198
Hey @iambmelt  / @shahzaibj ,

I am using "i0118" as resource id and yet not able to reference edit text for the password filling.
Additional information : I am trying to sign in using MSA account. I am able to add email id in the edit text but unable to add password for the password screen.

Can you please provide the next steps for solving this?

Thanks in advance!

[2020-12-14 14:50] xyzwilliamxyz commented on #1216
@iambmelt I see. So the log actually just indicates that a backend service is failing.

[2020-12-15 17:08] ralexandre-ciandt commented on #1140
Hi @shahzaibj !

Do you want a sample of the app or the custom journey's file with the links configuration?

[2020-12-17 03:00] wmiranda commented on #1140
@shahzaibj reinforcing ralexandre's question, what would be the "msal config file" you mentioned plz?

[2020-12-17 16:13] sabans-dev opened #1249 "MsalArgumentException: Authority passed to silent parameters does not match with the cloud associated to the account."
**Describe the bug**
Is your app live and in production or is this a development issue? Provide a clear and concise description of what the bug is.
The app is currently being tested with PPE env. The issue is that the call to get the token for MAM service is failing with the mentioned error. The auth call for the app resources is passing and hence able to login into the application but MAM registr

[2020-12-17 16:41] jstubing opened #1250 "Is it possible to render the sign in page in our own WebView rather than a Chrome custom tab?"
I'm wondering if it's possible to bypass the Chrome custom tab and instead specify our own WebView where the sign in page will be rendered.

[2020-12-17 21:13] iambmelt commented on #1250
Please consult the documentation on `authorization_user_agent`
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authorization_user_agent

[2020-12-17 21:13] #1250 closed

[2020-12-20 00:50] dersia commented on #758
This is still not working for me. And now even send SMS stopped working. Am I missing something?

[2020-12-21 11:13] #1249 closed

[2020-12-21 11:14] sabans-dev commented on #1249
This was fixed in a discussion with the team. The missing property for authorities was the rootcause.

[2020-12-22 12:59] nishi1612 opened #1261 "While automating UI tests for AAD and MSA users, not able to fill in Password."
**Describe the bug**
I am using MSAL for authentication and trying to run instrumentation tests for our app. I am able to fill in email id but not able to fill password. It throws me error that "UISelector : Edit text not found".

**Smartphone (please complete the following information):**
 - Device: Pixel 3 Emulator, One Plus 7T Pro Device
 - Android Version: Api Level 29
 - Browser : Chrome
 - M

[2020-12-31 06:37] azakharenka1 commented on #1159
Any updates here?

[2021-01-04 21:30] #1261 closed

[2021-01-04 23:10] iambmelt commented on #758
@dersia I have reached out to the relevant engineering team for an update or link to any documentation; will provide an update here as details are made available to me

[2021-01-04 23:39] stevenxzhou commented on #758
@dersia Are you using 1.2.2 page contract for MFA? Can you describe what you experience and share the repro steps that we can use to pin point the issue?

[2021-01-06 23:36] jonodav opened #1269 "Setting DayNight theme to night breaks authentication"
Hi there, I've been trying to get MSAL working in an app and noticed it was crashing at night time. The cause was the daynight theme being set to night with:

`AppCompatDelegate.setDefaultNightMode(AppCompatDelegate.MODE_NIGHT_YES);`

Authentication is done using the following code from the MS Graph Android example app:

In MainActivity:
[code]
In AuthenticationHelper:
[code]
It appears that mPCA

[2021-01-11 09:55] ashokreddynarra commented on #975
Any progress with this issue?

This is still happening on few devices like   HUAWEI Mate SE(OS:8.0),  Galaxy A10e(OS:9), Galaxy S8(OS:9), Galaxy A50( OS :10), Stylo 6(OS:10) and many

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.conduent.wellcheck/com.microsoft.identity.client.BrowserTabActivity}: java.lang.NullPointerException: Attempt to invoke virtual

[2021-01-12 11:53] combatistor opened #1273 "Set the login hint for signInAgain function"
**Describe the bug**
Actually I'm not sure if this is a bug, or more a feature request.
I'm using SinglePublicClientApplication to login users in the app through azure B2C Sign in recommended user flow using email as Identity provider.
After the token is expired I use signInAgain function, but because I'm using B2C, I can't get "username", "email" or "upn" from the token response, in this case I g

[2021-01-14 00:52] iambmelt commented on #1273
Hi @combatistor

Uh oh! This is not supported; please have a read of our documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/docs/publicclientapplication.md#introduction) and [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-b2c#configure-known-authorities-and-redirect-uri). Because B2C policies are modeled as sepa

[2021-01-14 09:16] combatistor commented on #1273
Thank you for the clear reply.

I switched back to MultiAccount using msal android sample code, now at least I can customize login hint with something when renewing the token.

Regarding B2C policy I think it is not possible at the moment to get `upn` or `preferred_username` but this might be a B2C limitation.

[2021-01-14 09:16] #1273 closed

[2021-01-14 20:09] iambmelt commented on #1243
@xyzwilliamxyz

This fix is available in our most recent release of MSAL 2.0.5. Please feel free to reopen or file a new issues if you continue to experience problems after updating to the latest version

[2021-01-14 20:09] #1243 closed

[2021-01-15 08:43] mohit1993 opened #1276 "Sign out MSAL android"
Please help to find a way to sign out user from native app with MSAL, and let me know what would be experience of that api, it will auto trigger sign in again or do i need to do that separately.

[2021-01-15 17:23] AdamBJohnsonx commented on #1209
https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/1277

[2021-01-15 22:06] BrettThib commented on #558
I'm having a similar issue.  Would someone be able to to tell me what's happening with the following?

Timestamp: 2021-01-15 22:04:15Z ---> Microsoft.Identity.Client.MsalUiRequiredException: AADSTS9002313: Invalid request. Request is malformed or invalid.

Correlation ID: 2effc749-6db8-4469-8308-41ef97e8e7fa

Thanks in advance!

[2021-01-15 22:33] iambmelt commented on #1276
Hi @mohit1993

- For SAPCA, see [`signOut()`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/ISingleAccountPublicClientApplication.java#L147-L162)
- For MAPCA, see [`removeAccount()`](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/IMu

[2021-01-15 22:33] #1276 closed

[2021-01-15 22:46] iambmelt commented on #558
@BrettThib Looks like you're using our desktop client... I can't see exactly piece of the request is failing but can see the message below. I would suggest checking the format/integrity of your query params (and/or POST body). Beyond that, you'll need to reach out desktop client's maintainers to report bugs or get more details
[code]

[2021-01-18 13:31] azakharenka1 commented on #1160
Got new crash on huawei p20 (one user and once):
msal version 2.0.4
Stacktrace:
[code]

[2021-01-19 17:16] AdamBJohnsonx commented on #1209
I have not been able to reproduce this issue: is it happening with the latest MSAL?

[2021-01-21 00:12] shahzaibj commented on #1140
@wmiranda @ralexandre-ciandt @xyzwilliamxyz What you are seeing is expected behavior. When the user navigates to an external site then the token request operation is cancelled and hence you are seeing the on cancel callback being invoked.

In terms of URL handling within webview, we write our code to be very specific about the types of URLs we handle because MSAL is an Authentication library with

[2021-01-26 03:57] shahzaibj opened #1287 "MSAL Logger Bug - Developer provided settings are overwritten by default config"
Developer provided logger settings for the logger MAY get overwritten by our default values in some cases. Consider the following scenario:

- A developer does NOT provide a logger config via config file such as: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#logging
- A developer however sets a log level on the logger using the following:
     - Logger.getInsta

[2021-01-26 19:12] AdamBJohnsonx commented on #1209
Resolving issue due to lack of reproduction.

[2021-01-26 19:12] #1209 closed

[2021-01-27 11:47] HristoStoevZ opened #1289 "Attempt to invoke virtual method 'long java.lang.Long.longValue()' on a null object reference"
it is similar to
https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/563

My B2C AD supports only "Local account" as Identity provider.

Using msal:2.+
[code]
And here is my raw config file:
[code]
where XXX is client id.

It seems like the field `expires_in` in token response happens to be null, so the `getExpiresOn()` method in MicrosoftStsAccountCredentialAdapter thro

[2021-01-27 14:50] horus12 opened #1290 "Msal getAccounts Exception"
I have captured in my project this Execution inside Msal lib:
Someone could help-me ?

Fatal Exception: java.lang.IllegalStateException: method: getAccounts may not be called from main thread.
       at com.microsoft.identity.client.internal.MsalUtils.throwOnMainThread(MsalUtils.java:512)
       at com.microsoft.identity.client.MultipleAccountPublicClientApplication.getAccounts(MultipleAccountPubl

[2021-01-27 16:20] iambmelt commented on #1290
@horus12 The Exception contains the error: `getAccounts may not be called from main thread.` You will need to call this method either through the [async API](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/27375e034fdb40005946f5d1c4a2ae03569248f0/msal/src/main/java/com/microsoft/identity/client/IMultipleAccountPublicClientApplication.java#L45-L50) or from a background

[2021-01-27 16:20] #1290 closed

[2021-01-27 18:33] iambmelt commented on #1289
@HristoStoevZ This is a known limitation; please see the documentation provided in https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/1291 and configure your policies accordingly

/cc @hamiltonha FYI ^^

[2021-01-27 18:33] #1289 closed

[2021-01-27 18:34] iambmelt commented on #563
Adding documentation to improve this experience here:
https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/1291

[2021-01-29 17:31] hamiltonha commented on #971
@SwathyMothilal is this still an issue? Looks like it was resolved with #967

[2021-02-01 09:40] nishi1612 opened #1294 "On pressing back button, it asks me to fill my email id"
**Describe the bug**
The app is currently available for a set of people for dogfooding and we observe that when broker app is installed, and a new user signs in our app and clicks on back button, the app takes the user to text box to fill in email address.

**Smartphone (please complete the following information):**
 - Device: One Plus 7T Pro
 - Android Version: API Level 29
 - Browser : Chrome
 -

[2021-02-01 09:57] HristoStoevZ opened #1295 "Attempt to invoke virtual method 'long java.lang.Long.longValue()' on a null object reference"
@iambmelt
continuation of https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1289

seems that even if we have _expires_in_ in the token, exception still occurs, after further research seems it is related to the deserialization for the token.  _performTokenRequest_ in **BaseControler.java** sent properly the request and get the proper response from the Azure. Here is the

[2021-02-01 19:20] iambmelt commented on #758
Closing due to inactivity

[2021-02-01 19:20] #758 closed

[2021-02-01 19:59] Tyler-A opened #1296 ""Forgot Password" Flow Appears Mobile-Unfriendly on 400x800 Device"
**Describe the bug**
Using MSAL v2.0.6, when the user is directed to the Azure login screen and clicks "Forgot Password", the experience becomes quite unfriendly to the point of being unusable.

Our application is enterprise internal only using new hardware. The screens look like they were made with some mobile friendly characteristics, but still results in the pages being cutoff and needing to sc

[2021-02-02 00:55] iambmelt commented on #1295
Including the stacktrace from #1289, assuming it is still relevant

[code]

[2021-02-02 01:01] iambmelt commented on #1295
@HristoStoevZ

Please ensure you're not confusing `expires_in` with `exp`

There should be an `expires_in` in the payload of your `/token` response, as below
[code]

[2021-02-02 01:43] iambmelt commented on #1050
ADO Tracking:
- https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1282149

[2021-02-02 07:57] HristoStoevZ commented on #1295
@iambmelt

Seems that it is null in the parsed token object, even that it is presented in the received token

[code]
I've captured short video for your reference.
![tokenIssue](https://user-images.githubusercontent.com/61584808/106569196-e9ce8100-653c-11eb-9640-c38301357880.gif)
So your suggestion to configure custom policy with `expires_in` , should affect payload of /token response, shouldn't it

[2021-02-02 13:09] rmaramreddy opened #1297 "Application is getting crash in BrowserTabActivity, when user is enabling/disabling Samsung Dex while using the application."
Application is getting crash in BrowserTabActivity, when user is enabling/disabling Samsung Dex while using the application.

When my app(uses MSAL2.+) is in background enabling/disabling Samsung DEX feature setting is leading to crash with below stack trace.

 - Device: Samsung Dex
 - Android Version: Android 9,10,11
 - Browser : Chrome
 - MSAL Version - 2.+

**Stacktrace**
com.microsoft.identity

[2021-02-02 13:11] HristoStoevZ commented on #1295
Another thing that I've noticed is that the actual HTTPResponse looks like
[code]

and the library is trying to deserialize this in `TokenResponse implements ISuccessResponse` which does not support `refresh_token_expires_in`, and i think in this case the `refresh_token_expires_in `should be stored in to the
[code]

[2021-02-02 14:57] wilmerlm11 commented on #1140
Hi @shahzaibj
Tks for getting back to us.
I understand your point when you mention the main goal of Azure B2C as an IAM tool.
However, the scenario we are presenting must be a common situation for sure:

Our native app calls the Sign Up journey (B2C) and load the proper form in a webview.
During the registration flow, we must present the Terms & Conditions and the Privacy Policy.
It's a legal requ

[2021-02-02 16:18] dominicj-nylas commented on #558
Hello, we are also seeing a case where we receive this error. Is there any chance we can get insights from the Microsoft/Azure side on what's causing it? Here are the details:

[code]

Thank you!

[2021-02-02 21:19] iambmelt commented on #1050
Closed by https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1214

[2021-02-02 21:19] #1050 closed

[2021-02-03 13:18] faraz9x commented on #558
Hi all,
Our refresh_token expired and now Iam getting this while trying to generate new refresh_tokens.
Here what Iam doing:
Signing in through the direct link with desired scopes, and getting a code in response:
**Step 1:**
Simply paste it in browser and get the code in redirect uri, this seems to work all fine and I get the code
`https://login.microsoftonline.com/common/oauth2/v2.0/authorize?cli

[2021-02-03 23:47] iambmelt commented on #1295
@HristoStoevZ Please review the documentation [here](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/docs/b2c_required_artifacts_and_claims.md) -- your token response is missing required properties (scopes cannot be empty, AT must be returned)

[2021-02-04 20:50] joshfriend opened #1299 "Please migrate artifact history to Maven Central"
Bintray JCenter is shutting down soon: https://jfrog.com/blog/into-the-sunset-bintray-jcenter-gocenter-and-chartcenter/

Only the current release (v2.0.6) is available on maven central. All older releases are only available on jcenter. It would be greatly appreciated to have the entire artifact history available.

[2021-02-04 20:54] joshfriend commented on #1299
ugh, please ignore me, the error was caused by something else

[2021-02-04 20:54] #1299 closed

[2021-02-06 05:42] nishi1612 commented on #1139
Hey @shahzaibj ,

Any updates on shipping of this feature?

Thanks

[2021-02-08 23:16] shahzaibj commented on #1140
@wilmerlm11 Have you looked into using BROWSER as the authorization user agent? That shouldn't have these problems.

[2021-02-09 12:10] vramasam opened #1301 "Remove account api is not removing the account from Authenticator app or not even signout"
**Describe the bug**
Development issue.
STEP 1: Using create PublicClientApplication created the application with the clientID, redierct uri and other details
STEP 2: Using getAccount publicClientApplication, able to get the account
STEP 3: Pass the account information to the removeAccount api. Call back of removeAccount api is success (onRemoved gets called).

But the account is still present in

[2021-02-10 23:52] hamiltonha opened #1303 "Allow federated auth with 3rd party broker from embedded webview"

[2021-02-11 00:33] tanmaymanolkar1 commented on #1303
Specific ICM: https://portal.microsofticm.com/imp/v3/incidents/details/224104767/home

[2021-02-11 09:24] HristoStoevZ commented on #1295
@iambmelt ,

so i had to configure TrustedFrameworkBase.xml from the starter pack https://github.com/Azure-Samples/active-directory-b2c-custom-policy-starterpack
with the following metadata, which properly configure token issuer:

` <TechnicalProfile Id="JwtIssuer">
...
<Metadata>
....
            <Item Key="token_lifetime_secs">3680</Item>
            <Item Key="id_token_lifetime_secs">3601</Item

[2021-02-11 09:25] #1295 closed

[2021-02-12 00:21] iambmelt commented on #1301
I received an internal email message about this GitHub issue and have responded there; leaving this issue open.

[2021-02-12 01:26] iambmelt commented on #1294
Hello @nishi1612 -- our team does not own this UI; that said, I will reach out to you personally via email and point you towards the proper team.

[2021-02-12 01:26] #1294 closed

[2021-02-12 01:55] iambmelt commented on #1296
Hi @Tyler-A -- Thanks for reaching out to inform us of this poor UX

This is correct, these pages are hosted external to the MSAL library.

I can try to get this issue routed to the proper engineering team to address these issues. First, I need some additional information and details from you:
- Is this a B2C or AAD application?
- Are you (@Tyler-A) an employee of Microsoft?

[2021-02-12 01:56] iambmelt commented on #1297
@hamiltonha Assigning to you, as this is a feature request to add support for Samsung Dex. This functionality is not presently supported

[2021-02-12 06:59] fongfuse opened #1304 "Azure MSAL Integration not work when app download from play store"
I have some Issues when app download from play store

https://stackoverflow.com/questions/59622440/azure-msal-integration-not-work-when-app-download-from-play-store

lib version : 'com.microsoft.identity.client:msal:2.+'

How to fixed this issue?

[2021-02-12 15:26] Tyler-A commented on #1296
Hi @iambmelt, thanks for responding.

- This is an AAD application, used internally by my company.
- I am not an employee of Microsoft.

Let me know if I can provide any further information to assist.
Thanks again!

[2021-02-12 21:09] iambmelt commented on #1304
Hi @fongfuse -- You might try using our debugging activity to troubleshoot this issue:
https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/Troubleshooting-Redirect-URI,-IntentFilter-Issues

This issue could occur if the release signing certificate does not match the configured redirect uri in the `AndriodManifest.xml` or in the app configuration json file

[2021-02-12 21:12] iambmelt commented on #1296
Thanks @Tyler-A -- This is enough for me to run with. I'll need to track down the relevant contact for these pages and raise this issue with them

[2021-02-16 16:03] vramasam commented on #1301
We have any update here. Ideally using "MultipleAccountPublicClientApplication" how to do sign-out. Please give the preferred way of sign-out.

[2021-02-17 21:01] iambmelt commented on #1296
Hi @Tyler-A

Just reaching out to let you know: this engineering team who owns the password reset experience has been made aware of the issue on mobile/small-screen devices and acknowledged the issue. I cannot provide an ETA on when a new UX will be made available.

I will leave this issue open and tagged `External` / `Service Issue`

[2021-02-17 21:15] iambmelt commented on #1301
Seems my answer from the other thread never made it to you: reposting here.

----

I can take a shot at filling in some of the gaps here; at a glance, this looks to be expected behavior.

First, I’ll direct your attention towards this documentation concerning the expected behavior of removeAccount APIs – see the class summary.

(screengrab of doc below)

![image](https://user-images.githubusercont

[2021-02-17 21:22] Tyler-A commented on #1296
Hi @iambmelt, thank you for the update. Good news to hear that it is acknowledged.

Is there a case ID or internal reference number that I can use for speaking with our Microsoft rep? I'd like to make sure this gets the right level of attention and see if we can pull any strings.

Thanks again for following up!

[2021-02-17 21:32] iambmelt commented on #1296
@Tyler-A I was not provided one, but will follow-up with the engineering team to see what they can provide and get back to you

[2021-02-19 03:28] vramasam commented on #1301
@iambmelt  Thank you for the clear explanation on Authenticator approach

In case of Non-broker(Without Authenticator) approach ( "broker_redirect_uri_registered" false and "authorization_user_agent" DEFAULT. ), then app will use the custom tab/browser approach.

During this case , what is the appropriate sign-out approach we can follow for "MultipleAccountPublicClientApplication"? Can you please

[2021-02-19 21:35] iambmelt commented on #1301
Sure @vramasam -- calling `removeAccount()` will remove the tokens from the _local cache_ in the absence of the broker. If you also wish to remove SSO state (ie cookies) from the user's Browser you will need to navigate to the AAD `end_session_endpoint`. Alternatively, if you are using the WebView, you can [clear the WebView's cookies](https://developer.android.com/reference/android/webkit/CookieM

[2021-02-21 00:35] snijsure opened #1308 "Repeated calls to StorageHelper:decryptWithSecretKey and info logging"
**Describe the bug**

Noticed ton of messages like these are getting logged when I am running my app on Pixel 3XL phone, it slows down the app and actually crashes adb logcat!!

[code]

Eventually adb crashes:

This means that either the device shut down, logd crashed, or this instance of logcat was unable to read log
messages as quickly as they were being produced.
If you have enabled significant

[2021-02-22 04:53] vramasam commented on #1301
Thank you @iambmelt for all the inputs.

[2021-02-22 13:43] ralexandre-ciandt commented on #1140
Hi @shahzaibj !

We tested changing the links to **browser://www....** instead of **https://www....** but same result =/

[2021-02-22 21:38] iambmelt commented on #1308
Thanks for reaching out to report this issue @snijsure -- this issue should be resolved by changes submitted by @AdamBJohnsonx  in the following PR:
https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1213

These changes are available in the following `androidcommon` releases:
- [`3.1.0`](https://github.com/AzureAD/microsoft-authentication-library-common-for-android

[2021-02-22 22:53] snijsure commented on #1308
Thanks @iambmelt. Not sure what MSAL policy is in terms of keeping older versions updated, any chance this change will make it to 2.X

In case we don't want to jump on latest release right away!

[2021-02-22 22:55] AdamBJohnsonx commented on #1308
@snijsure It'll be a 2.x release of MSAL, which will take the leading version of MSAL-Android-Common (which has been in the 3.x series for at lease a little while now).

[2021-02-22 23:02] snijsure commented on #1308
Thanks @iambmelt thanks for that clarification, will test out next MSAL 2.x release.

[2021-02-23 15:07] smckenzieSP opened #1310 "Is there a way to cache the username and password in the webview?"

[2021-02-23 21:43] iambmelt commented on #1310
@smckenzieSP Please review the documentation for [prompt behavior](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/docs/prompt_behavior.md) -- this parameter will control how the cached user's state/identity are presented during interactive auth with AAD. I'd recommend supplying the [`login_hint`](https://javadoc.io/doc/com.microsoft.identity.client/msal/2.0.2/com/

[2021-02-23 21:43] #1310 closed

[2021-02-24 16:31] ankitahuja0508 opened #1312 "Google login not working via B2C_1A_SignInOnly"
**Describe the bug**
In production app, while trying to login using B2C_1A_SignInOnly policy via google, it displays error Auth Error. Error 403: disallowed_agent.

**Smartphone (please complete the following information):**
 - Device: Pixel 2
 - Android Version: All
 - MSAL Version - com.microsoft.identity.client:msal:1.6.0

**To Reproduce**
Start login process and try using login via google.

If

[2021-02-24 16:39] Nealsoni00 opened #1313 "Intent filter for: BrowserTabActivity is missing"
**Describe the bug**
In development and production, the error "Intent filter for: BrowserTabActivity is missing" keeps coming up even though I had added the activity with the intent-filter in the AndroidManifest.xml file.

It worked previously before upgrading to 3.0.4 from 3.0.1 (not sure when it broke — sometime in the last 2 months and didn't verify login after updating) and I verified the `Sig

[2021-02-24 16:58] pedrofarnetaniabi opened #1314 "Fatal Exception: java.lang.NullPointerException"
**Describe the bug**
We're having this exception reported by crashlytics since MSAL version 2.0.4 (currently we are using MSAL version 2.0.5 that also has this problem).

**Smartphone (please complete the following information):**
 - Device: Samsung Galaxy A30s (and many others including other brands)
 - Android Version: 10
 - MSAL Version: 2.0.4 and 2.0.5

**Stacktrace**

       Fatal Exception:

[2021-02-24 18:17] iambmelt commented on #1312
@ankitahuja0508 - If you are authenticating B2C accounts with Google, you must [configure your `authorization_user_agent` to `BROWSER`](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authorization_user_agent).

I'll work with our docs team to see that this guidance is featured in our [MSAL + B2C documentation](https://docs.microsoft.com/en-us/azure/active-direct

[2021-02-25 16:08] ankitahuja0508 commented on #1312
I renamed authorization_user_agent from DEFAULT to Chrome. But still I am
getting same error message. Can you please advise.

On Wed, Feb 24, 2021 at 11:47 PM Brian Melton-Grace <
notifications@github.com> wrote:

--
Regards,
Ankit Ahuja
Android Application Developer
Software Developer
7838660180

[2021-02-25 17:21] iambmelt commented on #1312
@ankitahuja0508

getting same error message. Can you please advise.

Do you mean `BROWSER`? `Chrome` is not a valid parameter to this file.

This issue can continue to occur if your device does not [have a compatible browser installed](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/res/raw/msal_default_config.json#L29-L133).

I would suggest taking a

[2021-02-26 08:30] ankitahuja0508 commented on #1312
HI @iambmelt
I tried with "BROWSER" as well. See screenshot attached. And I have chrome installed in my device. But still login screen opens in Webview and gives error.

![Screenshot_20210226-135627](https://user-images.githubusercontent.com/2051636/109275417-bb417e80-783a-11eb-9946-cfc043e1cd2d.png)

![Screenshot_20210226-135603](https://user-images.githubusercontent.com/2051636/109275413-b7adf78

[2021-02-26 21:09] iambmelt commented on #1312
Thanks @ankitahuja0508 -- sorry to hear your are still having issues.

I have some suggestions for how you might try troubleshooting this locally:
- Use AndroidStudio to open inspect the class [`AuthorizationStrategyFactory`](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/blob/dev/common/src/main/java/com/microsoft/identity/common/internal/ui/AuthorizationStrategyFa

[2021-02-27 11:49] ankitahuja0508 commented on #1312
Hi @iambmelt

I tried adding debug on class  AuthorizationStrategyFactory at function getAuthorizationStrategy().
See attached screenshot, It goes to "Use browser for authorization."
<img width="1440" alt="Screenshot 2021-02-27 at 5 06 42 PM" src="https://user-images.githubusercontent.com/2051636/109386204-29f80800-791f-11eb-9aa5-8edb17a1432b.png">

But still I cannot see Browser UX in phone. Its

[2021-03-01 14:02] wilmerlm11 commented on #1140
Hi @shahzaibj , any suggestion following @ralexandre-ciandt 's response?
We just want to be able to open these links in the browser, without closing the user journey.
It should be a common use case, considering links to T&C and PP (external pages).
Or even links to customer center's phone and email address (triggering phone's default behavior).

[2021-03-01 22:31] iambmelt commented on #1312
@ankitahuja0508 The behavior your are seeing appears correct; CustomTabs UX vs. Browser are considered by our library to be equivalent non-WebView based experiences, as CustombTabs & the system browser (Chrome) will share a cookie jar.

As Google login prohibits login only with WebView, use of the CustomTabs UX should unblock your scenario. MSAL currently does not support any differentiation betwe

[2021-03-02 15:05] ankitahuja0508 commented on #1312
@iambmelt  If behaviour is correct, that is fine. But problem persists as error disallowed_useragent is still shown

[2021-03-03 00:27] iambmelt commented on #1312
@ankitahuja0508 To confirm; you are seeing that Chrome CustomTabs successfully opens, but you are still seeing the error?

As a sanity check, I just cloned our dev sample [here](https://github.com/Azure-Samples/ms-identity-android-java) and performed an interactive sign-in using a Google Account. With Chrome CustomTabs, I am able to proceed with sign-in

![image](https://user-images.githubusercont

[2021-03-03 03:19] ankitahuja0508 commented on #1312
@iambmelt  yes custom tabs are shown as screenshot shared earlier. Error comes only in app which I upload to store. When i run directly in device or emulator it works fine.
FYI - I have opted for managing keystore in play store so signature is different in live build. I think that should not make any difference ?

[2021-03-03 09:42] sbiton123 opened #1320 "Microsoft Modern Authentication using Chrome with MSAL on Android"
The question is related to https://stackoverflow.com/questions/66053874/microsoft-modern-authentication-using-chrome-with-msal.
Using MSAL library for Android with Edge browser, then the redirection URL below works properly. The user is required to choose the identity certificate installed as part of Microsoft Intune Company portal.

https://login.microsoftonline.com/common/oAuth2/v2.0/authorize?w

[2021-03-03 18:20] iambmelt commented on #1312
@ankitahuja0508 After syncing with a teammate, this is likely due to package visibility changes [introduced in Android 11](https://developer.android.com/training/basics/intents/package-visibility-use-cases). These issues were addressed in our [3.0.6 release of `AndroidCommon`](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/releases/tag/v3.0.6) which requires updatin

[2021-03-04 01:24] iambmelt commented on #1269
Hi @jonodav -- this appears to be an issue with the MSGraph sample. You will need to follow-up with the author of that sample to troubleshoot this issue. If it is later discovered that this is indeed a bug in the MSAL-Android library, please feel free open another issue here and we can investigate.

I have created a new issue for you here, for the owner of that sample to follow-up:
https://github.

[2021-03-04 01:24] #1269 closed

[2021-03-04 03:32] ankitahuja0508 commented on #1312
@iambmelt  Thanks for suggestion. It worked.

[2021-03-04 03:32] #1312 closed

[2021-03-04 10:13] slowcar opened #1322 "How to authenticate with different scopes?"
Hello,
we have an application that utilizes Exchange Webservices (EWS). For accounts on O365 we user OAuth2/ModernAuth via MSAL.
I would like to add functionality that is only available via the Graph API, for example creating an online meeting.

According to https://docs.microsoft.com/en-us/outlook/rest/compare-graph#moving-from-outlook-endpoint-to-microsoft-graph

My default authorization is EWS.

[2021-03-04 17:31] rpdome commented on #1313
@Nealsoni00 I just noticed that we're missing an extra '/' under android:path in `PublicClientApplication.showExpectedMsalRedirectUriInfo`

e.g. it should be android:path="/[SAME HASH]", not android:path="[SAME HASH]"

Could you please give it a try and let me know if you still run into the issue? Thanks!

[2021-03-04 19:23] iambmelt commented on #1304
Closing to inactivity

[2021-03-04 19:23] #1304 closed

[2021-03-05 01:11] iambmelt commented on #1296
@Tyler-A The engineering team tracking this issue got back to me: there's currently no case ID for it, however they gave me an Epic ID you may be able to mention with your rep: `1010586`. This corresponds to a service called SSPR ("Self-Service Password Reset").

Hope this helps.

[2021-03-08 12:32] #1313 closed

[2021-03-08 15:24] Nealsoni00 commented on #1313
Apologize, I am unable to test this as I migrated to use standard OAuth2.0 flow with `net.openid:appauth`

Hopefully, this is helpful for other people!

[2021-03-10 11:04] vramasam commented on #1301
Hello @iambmelt

We are having one query on SSO in Android

We have 4 different apps in Android. Each app is having its own redirect URI.

For better understanding giving the below scenario:
Step 1:  From "X1" app , I am doing interactive login. On Interactive login success in Authentication result got the account information and we store the "Identifiaction User" info authenticationResult.getAcco

[2021-03-10 23:07] iambmelt commented on #1301
Hi @vramasam -- This sounds expected. There is no "silent SSO" across 3rd party apps with MSAL. Please see this documentation for more information on these scenarios:

https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on

[2021-03-11 04:01] wangshufu opened #1330 "Enter the mobile phone number in the login page and click next. The WebView page will be white"
Enter the mobile phone number in the login page and click next. The WebView page will be white

This is my demo information:
targetSdkVersion 28
implementation 'com.microsoft.identity.client:msal:1.6.+'

{
"client_id" : "a035c4f5-a6f0-4228-9569-4b6f0ddbd378",
"authorization_user_agent" : "DEFAULT",
"redirect_uri" : "msauth://com.yunxiang.myapplication/wf7V%2BpHUs%2BYqkbNS%2BxoVvJDzbH0%3D",
"accoun

[2021-03-11 06:47] vramasam commented on #1301
@iambmelt  Thank you so much for the quick reply

In that case if there is no "silent SSO" across apps, if we can pass the  "Login Hint" to the interactive login with out any Prompt, will authenticator able to get the token without any "Authenticator selector and password" screen, to achieve the SSO functionality works across the apps?

Can you please confirm, will the above approach is proper?

[2021-03-11 10:59] ZBlaZe opened #1331 "JSON Parsing exception instead of clear and understandeble MSAL exception"
Hello,
I'm using MSAL library to create another lib that provides a simple interface for authorization and covers some routine flow that uses MSAL and API of our product. When I'm trying to use `acquireTokenSilentAsync()` before the user will sign in via B2C flow, MSAL throws an exception and that is logical. In the IOS version of MSAL we will get for this case something like InteractiveLoginRequi

[2021-03-11 20:16] matheusfreire opened #1335 "Customize loading on common_activity_authentication.xml"
We have a new feature in our app and we'd like to replace or even customize a loading for Msal WebView. We want to know if the option is available or if not, it's possible to create a way to pass a view to be used as loading?

[2021-03-12 01:26] #1330 closed

[2021-03-12 20:05] iambmelt commented on #1331
Hi @ZBlaZe

This is unexpected. In my local testing I was unable to reproduce this behavior and am instead seeing the following exception, which looks to match the desired behavior you described.
![image](https://user-images.githubusercontent.com/990063/110992540-e93ebc80-832a-11eb-84ca-0da6d5a31b14.png)

To help me troubleshoot this issue, could you provide:
- Approximate repro steps, generic to

[2021-03-12 20:05] iambmelt commented on #1331
I'll add, I am using the following B2C sample to test:
https://github.com/Azure-Samples/ms-identity-android-java

[2021-03-12 20:31] iambmelt commented on #1335
Hi @matheusfreire -- We don't currently have a _documented_ way to do this /cc @hamiltonha FYI

However, looking at the implementation it should be possible to style the colors of the WebView frame and loading bar by overriding the following color and style elements... Note, you may need to apply `tools:override="true"` to override the library's defaults, I've not tried it locally

Color name of a

[2021-03-15 17:32] thgmaziero-ciandt opened #1336 "WebViewAuthorizationFragment.java line 128"
**Describe the bug**
We're receiving some crashs that seems to related to not supporting some webview version.

**Smartphone (please complete the following information):**
 - Device: Galaxy J7 Prime
 - Android Version: 8.1.0
 - MSAL Version: 2.0.5

**Stacktrace**
[code]

[2021-03-15 18:54] iambmelt commented on #1336
Hi @thgmaziero-ciandt

This is not an MSAL issue, but a device configuration issue. Specifically, there's mismatch of the WebView binary version that is installed versus the one expected by WebKit's `WebViewFactory`. This [validation is performed by AOSP](https://android.googlesource.com/platform/frameworks/base/+/master/core/java/android/webkit/WebViewFactory.java#310), not MSAL, and [isn't actua

[2021-03-15 19:20] iambmelt commented on #1301
@vramasam

This is not supported _by design_, otherwise applications that a user has not consented to would be able to request tokens on behalf of a user. Requesting tokens on behalf of a user requires authorization/authentication and granting consent to the requested OAuth scopes. Therefore, the expectation is that any 3rd party (non-msft) app which is requesting tokens on behalf of a user _must_

[2021-03-15 19:28] iambmelt commented on #1322
Hi @slowcar

#&#x2060;2 is the pattern for doing this; these requests should not yield the same token. Can you confirm the scopes you are sending in your request are the correct ones for the EWS / Graph endpoint? As these are separate resources, you should have two separate access tokens for them. You should be able to acquire 1 silently from the refresh token of another

[2021-03-16 06:47] vramasam commented on #1301
@iambmelt
My observation from PoC is below:

Authenticator based:
1. From "App1" I am doing interactive login (Giving username and password), stored the "LoginHint"(Ex: xxx.onmicrosoft.com) information in the local DB.
2. From "App2",  I am doing interactive login by passing the stored "LoginHint"(with xxx.onmicrosoft.com), I am able to sign-in successfully without username and password (Because t

[2021-03-16 08:52] slowcar commented on #1322
Hi @iambmelt

My default scope is EWS.AccessAsUser.All
My first call is
`AcquireTokenParameters acquireTokenParameters = new AcquireTokenParameters.Builder()
                            .withLoginHint(mailAddress)
                            .withScopes(SCOPES_LIST)
                            .startAuthorizationFromActivity(activity)
                            .withCallback(authenticationCallbac

[2021-03-16 08:52] #1322 closed

[2021-03-16 12:45] ZBlaZe commented on #1331
Hi @iambmelt
Here are the steps:
1. Open the app with
2. Sign in interactively
3. Open the app again when it will not possible to authorize via an interactive flow
4. Run silent login (in code I try to get users first and then run `acquireTokenSilentAsync `method)

My exception:
![зображення](https://user-images.githubusercontent.com/7900439/111310331-a3a12d00-8665-11eb-83ba-b3437ac041b7.png)
Stac

[2021-03-16 17:32] thgmaziero-ciandt commented on #1336
Yes, I understand that, but crashing the app doesn't seems to be good experience for user. Wouldn't be better if and was thrown back to the app so we can show a proper error explaining that the user has to update the webview?

Thanks

[2021-03-16 17:59] iambmelt commented on #1336
See below question @thgmaziero-ciandt

[2021-03-17 03:13] iambmelt commented on #1308
Fixed in our latest release, sorry for the trouble:
https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v2.0.8

This fix will be available in the Intune Company Portal & Microsoft Authenticator builds in the late-March/early-April releases

[2021-03-17 03:13] #1308 closed

[2021-03-17 13:48] thgmaziero-ciandt commented on #1336
The crashed happened with a just a couple a users, but those had like 50 crashs each, as I said crash is bad experience cause it does't tells the user what they need to do to fix it.
Your suggestion is to do this webview check on our side instead of the library doing it?

[2021-03-17 23:38] iambmelt commented on #1336
@thgmaziero-ciandt If resolving this issue for these two users is a high-priority item for you/team in the near term, this may be an item you want to address at the app-level, versus MSAL addressing as part of the auth library.

This being an open source library, you are of course welcome to submit a Pull Request and it would be evaluated for inclusion in a future release. Should you elect to go t

[2021-03-19 10:30] MathieuCalba opened #1340 "Sign ins requests are using Microsoft Graph as a resource while not requested"
**Describe the bug**
Our application is a B2B application, our customers are large companies, they use Microsoft as an identity provider for their employees.

Our application is using the latest version of the MSAL library to let employees authenticate with their Microsoft account, we then provide the access token to our backend so the user can be authenticated within our product. After that, we d

[2021-03-22 18:08] #1002 closed

[2021-03-23 01:10] iambmelt commented on #1340
Hi @MathieuCalba -- Thanks for reaching out; this is an implementation detail of the Azure Active Directory (AAD) identity backend implementation regarding where certain properties (claims) of a user's identity are sourced. As I recall, not all ID token claims are authoritatively owned/sourced from AAD's own backend: some of this data is derived from tenant information that is known to MSGraph.

T

[2021-03-24 19:19] iambmelt commented on #1340
Closing (presumed answered).

[2021-03-26 21:42] iambmelt commented on #757
New guidance is available on this:
https://docs.microsoft.com/en-us/azure/active-directory-b2c/add-password-reset-policy?pivots=b2c-user-flow#self-service-password-reset-recommended

I'll see that the public documentation is updated too.

[2021-03-26 21:42] #757 closed

[2021-03-29 07:06] evenlan1990 opened #1349 "SIGSEGV AuthorizationActivity Segmentation violation (invalid memory reference)"
**Describe the bug**
Is your app live and in production or is this a development issue? Provide a clear and concise description of what the bug is.

**Smartphone (please complete the following information):**
 - Device: samsung Galaxy Tab A (SM-T510)
 - Android Version: 10
 - Browser
 - com.microsoft.identity.client:msal:1.6.0

**Stacktrace**
SIGSEGV · Segmentation violation (invalid memory refere

[2021-03-29 21:05] iambmelt commented on #1349
This is not an MSAL library issue.

Consider reviewing the following, possibly related thread:
https://android.stackexchange.com/questions/234830/com-google-android-trichromelibrary-causes-many-android-apps-to-crash

[2021-03-29 21:05] #1349 closed

[2021-04-14 10:37] aditya38112 opened #1360 "Why is non http URIs not working on msal"
I am using react-native-app-auth which is using azure auth but any non HTTP URIs are not working, and I am getting this window where no button works and using HTTP URI causes it to open that link in browser and no redirect happens.
![msalissue](https://user-images.githubusercontent.com/20928906/114697260-50d99480-9d3b-11eb-9d27-6be80d4673c8.jpg)

I found one related issue (https://stackoverflow.co

[2021-04-20 15:02] VinSmile opened #1369 "CacheRecord without oid claim and clientInfo causes NullPointerException in PublicClientApplication.homeAccountMatcher when account.getId() is null"
I'm running our app inside Company Portal Work Profile
Just a moment after intune sdk starts configuring app after first launch app crashes

Here are some of my investigations:
MultipleAccountPublicClientApplication.getAccountInternal
migrationCallback
one CacheRecord found, but it doesn't contain neither client info
![image](https://user-images.githubusercontent.com/12799579/115417561-64846f80-a2

[2021-04-20 21:45] SFocus commented on #931
@DivyaYadav25 what hash should I use in this decision? The one generated by my release key or the key signed by Google? (I'm using aab format and google sign my app) I'm not able to debug the production app because can't log in.

[2021-04-21 00:12] tanmaymanolkar1 commented on #1320
Hi, This does seem to be the way to trigger Client TLS which helps pick the certificate in chrome, this can be done by removing the "x-client-SKU=MSAL.Android" filed from the URL. I would soon update this thread with a possible solution/explanation.

[2021-04-21 00:51] tanmaymanolkar1 commented on #1320
@sbiton123, I wanted to clarify, why isn't the broker being used here? It looks like you are skipping the broker and trying to use chrome.

[2021-04-21 12:12] sbiton123 commented on #1320
Hi, Thanks.
In general, we use MSAL library 2.0.1 (and now moved to 2.0.10 - still same problem remain). Therefore, we can not remove the field "x-client-SKU=MSAL.Android" filed from the URL (or at least we prefer that the change will be in the library if needed).
Regarding broker, we use Microsoft Company Intune Company Portal application on the Android device. The application is installed, signe

[2021-04-21 17:33] tanmaymanolkar1 commented on #1320
@sbiton123 yes there is a special provisioning for chrome, so the work around for now is to use the Edge browser.
I would provide some clarity about the situation with Chrome browser soon.

[2021-04-21 18:10] tanmaymanolkar1 commented on #1320
Currently the way chrome can access the cert installed is when the `x-client-SKU=MSAL.Android` is removed from the url and then the URL is loaded again.

[2021-04-22 06:41] sbiton123 commented on #1320
When looking on network capture with Chrome when doing the Microsoft
Modern Authentication using our app (immediately after entering credentials on the company SSO portal), then I do not see any TLS CERTIFICATE REQUEST from a any server that the Android device connects to. Therefore, Chrome does not provide a popup to choose the certificate. This is not the case with Edge.

[2021-04-23 13:28] nishi1612 opened #1370 "Not able to perform SSO with ISingleAccountPublicClientApplication.getCurrentAccount()"
**Describe the bug**
MDE Android app with ADAL is currenlt available on Google Play Store. We have migrated to MSAL and want to ship the app. Our app with ADAL supports SSO in Android Enterprise Work Profile, however with MSAL SSO is failing here. We receive that there is no signed in account however CP [broker app] has user logged in.

**Smartphone (please complete the following information):**

[2021-04-23 15:05] DivyaYadav25 commented on #931
Hash would be the release key that you’re generating by code.

[2021-04-23 15:06] DivyaYadav25 commented on #931
@SFocus
Hash would be the release key that you’re generating by code.

[2021-04-27 12:11] larsbj commented on #530
This is a showstopper for us. We develop an app that we distribute via App Store, and the customers must be free to select which Azure AD app registration to use and trust. Any plans for supporting a dynamic client id for Android?

[2021-04-27 22:22] iambmelt commented on #530
@larsbj This is [already supported](https://github.com/AzureAD/microsoft-authentication-library-for-android/blob/dev/msal/src/main/java/com/microsoft/identity/client/PublicClientApplication.java#L330-L374) - my apologies, this ticket was never updated to reflect this fact.

[2021-04-27 22:22] #530 closed

[2021-04-28 02:14] evenlan1990 opened #1372 "ERR_NAME_NOT_RESOLVED"
**Describe the bug**
Our application has been frequently exposed recently about `SDK:com.microsoft.identity.client.exception.MsalServiceException: net::ERR_NAME_NOT_RESOLVED`

**Smartphone (please complete the following information):**
 - Device: samsung Galaxy Tab A (SM-T510)
 - Android Version: 10
 - Browser
 - MSAL Version:com.microsoft.identity.client:msal:1.6.0

**Stacktrace**
[code]

[2021-04-28 20:10] sidgrover21 opened #1373 "After successful authentication with Azure AD B2C access token is available but no id token and claims."
This is an issue we are facing during development.

MSAL requires preferred name attribute passed by idp in id token. If not passed MSAL library shows no id_token and null claims after successful authentication and gives error "Missing from the token response"  (ref#https://docs.microsoft.com/en-us/azure//active-directory/develop/msal-net-aad-b2c-considerations#known-issue-with-azure-ad-b2c). ID T

[2021-04-28 20:21] iambmelt commented on #1372
@evenlan1990 This is not an error message from MSAL: this is a DNS error being returned by the browser (typically Chrome). I suggest reviewing the failing hostname for correctness, as well as the DNS/network configuration of your failing clients.

Please note that MSAL 1.6.0 is out of support as this library has a 'fix-forward' model: our latest releases can be found [here](https://github.com/Azur

[2021-04-28 20:21] #1372 closed

[2021-04-29 01:59] evenlan1990 commented on #1372
Thansk!I will update to latest version test it.

[2021-04-29 07:28] evenlan1990 opened #1374 "Upgrade to 2.0.10,build error."
**Describe the bug**
Upgrade to 2.0.10,build error.

**Smartphone (please complete the following information):**
 - Device:
 - Android Version:
 - Browser [e.g. Chrome, Edge]
 - MSAL Version: 2.0.10

**Stacktrace**
[com.microsoft.identity:common:3.3.1] /Users/runner/.gradle/caches/transforms-2/files-2.1/763ebb2520ed98f39b92f4e039738c4b/jetified-common-3.3.1/AndroidManifest.xml:20:9-59 Error:
	Miss

[2021-04-29 21:23] iambmelt commented on #1374
@evenlan1990 At a glance it appears your project is using an outdated gradle version, please see the following documentation:
https://android-developers.googleblog.com/2020/07/preparing-your-build-for-package-visibility-in-android-11.html

[2021-04-30 08:09] #1360 closed

[2021-04-30 16:48] vinceweeks-69 opened #1377 "MSAL .aar"
I want to use Azure AD and msal sso for Xamarin. Is there an .aar for this project? Specifically for the MSAL module? If so, couldn't that .aar be used in a Xamarin Binding Library? I'm specifically looking for MultipleAccountPublicAccountApplication interfaces and classes that don't exist in the .net library for Microsoft.Identity.Client. Is this even do-able?

[2021-04-30 19:12] iambmelt commented on #1377
All of our Android binaries are published to [Maven Central](https://repo1.maven.org/maven2/com/microsoft/identity/client/msal/2.0.10/) - you can find AARs of our releases there.

Development and issue tracking of our Xamarin offerings is available in a separate project at the following URL: https://github.com/AzureAD/microsoft-authentication-library-for-dotnet

[2021-05-03 14:59] NLLAPPS opened #1381 "Connection is not available to refresh token (v 2.0.10)"
Hi, I have seen issues #998 and set SingleAccountPublicClientApplication.getConfiguration().setPowerOptCheckEnabled(false) in my config but I still get the following exception when I try to refresh token from background service.

`getTokenOrRequestLogin -> exception = com.microsoft.identity.client.exception.MsalClientException: Connection is not available to refresh token
at com.microsoft.identity

[2021-05-03 15:04] shoatman commented on #1381
Which version of MSAL are you using?

[2021-05-03 15:10] NLLAPPS commented on #1381
2.0.10

[2021-05-03 15:36] shoatman commented on #1381
We moved off a deprecated API for network check recently and identified an issue with the new implementation making that API too sensitive.  I'll update you shortly on when you can expect a new release that fixes this.

@tanmaymanolkar1, @AdamBJohnsonx , @iambmelt, @gitaumoses4 - FYI

[2021-05-05 02:35] iambmelt commented on #1373
@sidgrover21 If you getting the `id_token` in the response and successfully completing `acquireToken` (interactive), this should be available on the resulting `IAuthenticationResult` object yielded by this library. If you're still facing this issue, consider creating a test/demo account I might be able to troubleshoot with and reach out to me at `brianmel` at `microsoft.com`

[2021-05-05 15:52] Tyler-A opened #1384 "B2C Local Account Auth: ClientException: Missing required tokens of type: {0}"
**Describe the bug**
We are developing an enhancement to our application that will allow users to login from external IDPs such as Google using Azure B2C. Using our Azure B2C tenant, we may also setup local accounts that can access our application. Currently, when we initiate the B2C login flow using "acquireToken", we are shown the B2C login page, can enter a username and password, but when were

[2021-05-05 16:20] enrricomv opened #1385 "Android Teams certificate issue with intermediate CA sent by server"
Please ensure the following information is provided when logging a new issue:

* Expected behavior
Succesful login redirection to our IdP

* Actual behavior
Teams on Android login redirection error

* Steps to reproduce the problem
Any Teams for android with a xxxxx@infn.it user (it is non necessary to have an activated account to test the redirection)

* Specifications like the version of the lib

[2021-05-05 16:25] iambmelt commented on #1385
Hi @enrricomv -- I took a look at this and it appears that this IDP is attempting to load scripts over the obsolete TLS 1.0 protocol. As of [Chrome 81 (released March 2021) connections over TLS 1.0 are blocked](https://developers.google.com/web/updates/2020/02/chrome-81-deps-rems#remove_tls_10_and_tls_11).

![image](https://user-images.githubusercontent.com/990063/117175282-85150380-ad83-11eb-9790

[2021-05-05 17:06] Tyler-A commented on #1384
Turns out that this error was caused by not using a proper admin-consented Scope in the Azure B2C app registration. Once we changed to a valid scope, this error went away and we were able to login successfully.

[2021-05-05 17:06] #1384 closed

[2021-05-06 17:34] enrricomv commented on #1385
Hi @iambmelt,
sorry! I forgot that call. Thanks for your help in debugging.

Ciao,
           Enrico

[2021-05-10 12:56] ryandegruyter commented on #1381
We have the same issue with the following version:
![image](https://user-images.githubusercontent.com/12190633/117662375-c3555d00-b19f-11eb-9bcd-e3e9173c7b78.png)

Users can not log in, does not happen all the time...

[2021-05-10 13:06] AdamBJohnsonx commented on #1381
Version MSAL version 2.0.12 was released last week to address this problem.  To be clear, this error will happen from time to time because it is a result of the network not being available.

[2021-05-10 13:34] ryandegruyter commented on #1381
Thank you for the swift response. We made a new build last week Friday, so our build server might not have picked up the 2.0.12 version. We will try and make a new build.

[2021-05-10 20:36] iambmelt commented on #1370
@rpdome Assigning this over to you; this appears to be the `getAccounts()` question we got w.r.t no tokens in cache. @nishi1612 AFAIK our team has already communicated with you via IcM and we are tracking this incident there

[2021-05-10 20:42] iambmelt commented on #1369
@VinSmile Are you with the Intune team? Or external to Microsoft?

[2021-05-10 20:51] iambmelt commented on #1331
Thank you for the details @ZBlaZe - I will need to route this issue over to our B2C service team; these endpoints shouldn't be returning HTML for error cases

[2021-05-11 07:16] vinhdp195 opened #1391 "MSAL For Android Platform Auto Computed Redirect URI"
MSAL version: 2.0.10
Using MSAL to get token
Code in My App:
[code]
I initialized PublicClientApplication with the above code
Required parameters pass a redirectUri
In case of using a config file, it is also required to pass a redirectUri
(Or setting redirectUri at AppManifest)
I'm having to copy directly from the AzurePortal Android Platform

However, if I refer to MSAL.NET, the redirectUri is au

[2021-05-11 16:28] #1373 closed

[2021-05-12 16:14] nishi1612 commented on #1370
Yes @iambmelt , our team has raised ICM for this same issue and it is being tracked there.

[2021-05-13 14:27] vramasam opened #1396 "MSAL Authenticator approach - Authenticator app is not getting launched (Once killed the Authenticator explicitly)"
**Describe the bug**
In Android, when we call the method "publicClientApplication.acquireToken(mAcquireTokenParameters);" with the usebroker values as true, it launches the Authenticator app fine and entering the password every thing working fine.

Suppose when we press back on the Authenticator app we get this log in MSAL sdk, which is expected
2021-05-13 18:18:34.366 1430-1844/com.fiberlink.maas

[2021-05-14 12:19] rusmichal commented on #1189
@z3ntu I think I have similar problem, User has logged in the azure account in Android system account manager and he uses the same account to login in the app. I don't understand how the token is refreshing. I don't get it how could I handle the login properly. I assume that some of users don't add azure account to android account manager.

[2021-05-14 16:47] shoatman commented on #1396
Hi @vramasam  - When you say that you close the authenticator do you mean that you opened the recents/overview window and closed the task hosting the authenticator(broker)/signin page?

[2021-05-14 17:04] vramasam commented on #1396
Hello @shoatman  It's happening in Android device. So for clear understanding when I meant close we can take the case of force stop the Authenticator when it shows the sign-in page . ( Settings -> Apps -> Authenticator - > Force stop) . Other case simply swipe the Authenticator app when it shows the sign-in page kills the Authenticator app process.

In both these cases I m seeing com.microsoft.ide

[2021-05-16 21:28] rusmichal opened #1400 "We have trouble to signing in."
**Describe the bug**
Starting from 5 May we observed increasing number of following exceptions while logging from our Android Application on Galaxy Note 10 devices.

AADSTS50194: Application 'xxx-aaa-vbbb-ccc-xxxx'(XX) is not configured as a multi-tenant application. Usage of the /common endpoint is not supported for such applications created after '10/15/2018'. Use a tenant-specific endpoint or c

[2021-05-17 12:49] cgrathwohl commented on #1400
We're experiencing the same problem as of 11 May. It might be related to the new Microsoft Authenticator app update?
In our case there is a (temporary?) workaround by selecting "Use another account" and just reentering the account informations.

[2021-05-17 12:56] rusmichal commented on #1400
We found out that if we add `broker_redirect_uri_registered: false` to config file. then it is gonna skip Authenticator app and user can login again with the credentials. please try it.

[2021-05-17 13:53] GHTaylor commented on #1400
I have also been experiencing this with ADAL.

[2021-05-17 14:24] miqm commented on #1400
If worth adding - devices had also Intune installed and were enrolled as corporate-owned with company account set-up.

[2021-05-17 14:48] ryandegruyter commented on #1400
We've have also started experiencing this issue.

[2021-05-17 17:26] miqm commented on #1400
according to docs (https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#when-a-broker-is-installed) first installed broker is used.

[2021-05-17 20:27] shoatman commented on #1396
Thanks.  I'm working on a fix for this; however the fix will require configuration changes in MSAL config and your manifest.

[2021-05-17 20:36] rpdome commented on #1400
We've identified the issue - this is an issue in our code that got shipped with the latest Authentcator/Company Portal.

The fix currently being rolled out in both apps.

Sorry for any inconvenience this may have caused!
-Dome

[2021-05-17 20:46] GHTaylor commented on #1400
Thank you for the response. When you say now, do you mean right now? Or is there somewhere we can track progress? Thank you

[2021-05-18 01:55] vramasam commented on #1396
Okay @shoatman . Thank you.

Can you please tell what can be the change in configuration, is there any effect custom browser/ browser based flow?
And also what is the change we need to add in the manifest, please add that also.

Thank you

[2021-05-18 04:05] vinhdp195 commented on #1391
@vladzaharia @i-am-dan @shuagarw-ms @RamonPage

[2021-05-18 04:10] vinhdp195 commented on #1391
Help Me !!! @shoatman

[2021-05-18 12:46] GHTaylor commented on #1400
Thank you for the information, Dome. Is there anywhere we can track the status of these apps being updated? Also, is there an official page that acknowledges the issue? We are in an enterprise environment and stakeholders are looking for more messaging/information on this. Thank you!

[2021-05-18 13:56] slowcar opened #1402 "MsalArgumentException: Authority passed to silent parameters does not match with the cloud associated to the account"
**Describe the bug**
We get this error in our logs from time to time. The application works correctly again afterwards.

We only have a minimal configuration file, and do not have a custom authority in it. Redacted client_id and redirect_uri:
[code]
`Authority authority = publicClientApplicationConfiguration.getDefaultAuthority();`

**Smartphone (please complete the following information):**
 - De

[2021-05-18 15:09] slowcar commented on #1391
Try showExpectedMsalRedirectUriInfo of the PublicClientApplication class

If you want to check out the source it uses, it's in the PackageHelper class

[2021-05-18 17:50] ryandegruyter commented on #1400
Same here, 8000 enterprise users. Last week, there was also a bug in the Android common library, which caused many authentication errors...

[2021-05-19 00:33] rpdome commented on #1400
@GHTaylor, @ryandegruyter We don't have any other pages for the issue (It's tracked internally), but I can keep you posted for the rollout status in this thread.

Currently, the fix is being rolled out with Microsoft Authenticator. It's currently 50% in BETA ring as we speak. We're aiming to hit 100% prod by 05-22.

Company Portal is planning to go to 100% BETA by tomorrow (05-19).

[2021-05-19 00:44] rpdome commented on #1402
Hi @slowcar

The error message here is misleading. What you ran into is actually a network issue. (MSAL performed a 'cloud discovery', which is a network operation, and it failed).

We're planning to rework this layer for the upcoming feature. cc: @iamgusain

[2021-05-19 00:44] #1402 closed

[2021-05-19 07:02] ryandegruyter commented on #1400
Ok thanks for the update!

[2021-05-19 07:57] vinhdp195 commented on #1391
@slowcar showExpectedMsalRedirectUriInfo seems to be just for viewing
I need to get a value that I can use to pass it to the function PublicClientApplication.create

[2021-05-19 08:01] slowcar commented on #1391
Well, you view it, copy it and put it into your configuration file (and register it with Azure AD).
If you are somehow unable to start the activity, you can execute the code from PackageHelper in your class somewhere, it's basically just your package signature in base64

[2021-05-19 09:46] CPonchet commented on #1340
Hi @iambmelt,

Thanks for your feedback. We had the same issue on the python SDK and some improvements have been done by the team:
https://github.com/AzureAD/microsoft-authentication-library-for-python/issues/207#issuecomment-841502996

The root reason seems to be the same (impossible to define the scopes asked during the login). If true, is it possible for you to do the same please?

[2021-05-19 17:38] rpdome commented on #1400
Authenticator is rolling out to 1% Production today.

[2021-05-19 19:14] iambmelt commented on #1340
Hi @CPonchet /cc @hamiltonha

I'm curious to learn a bit more about this ask; is this a matter of compliance? User perception? As I understand it, there's some desire to not request a `refresh_token`... The general impact of such a change [were someone to adopt it] would be interactive auth prompts according to the lifetime of the `access_token`, typically about an hour for most tenant configurati

[2021-05-19 21:08] iambmelt commented on #1340
Thanks for this additional info, @CPonchet - I'm going to forward this request as well as the context you've provided over to our Program Management team to evaluate this work for inclusion on our roadmap. Thanks!

/cc @hamiltonha

[2021-05-20 14:49] emilmarkose opened #1403 "ISingleAccountPublicClientApplication#getCurrentAccount() returns null while trying to achieve complete SSO between native apps"
**Describe the bug**
I am trying to achieve SSO between two native apps. The device doesn't have a broker app installed.

[code]
The getCurrentAccount method returns null when I tried to login to the second application after success-full login with the first app.

**Smartphone:**
 - Device: Samsung Galaxy S10+
 - Android Version: Android 11 (API Level 30)
 - Browser: Chrome tab
 - MSAL Version: 2.

[2021-05-20 16:36] rpdome commented on #1403
Hi @emilmarkose

This is by design. MSAL does not share account between apps.

User must take an 'action' to sign into each app -  either by logging in from scratch, or just provide a login hint [If the broker is installed and the user has registered their device](https://docs.microsoft.com/en-us/windows-server/identity/ad-fs/operations/walkthrough--workplace-join-to-an-android-device) - we don't

[2021-05-20 16:36] #1403 closed

[2021-05-21 01:10] iambmelt commented on #1340
Hi @CPonchet - I wanted to let you know that I've sent this item over to our PM team and it is on our backlog for Community Feature Asks. This backlog is prioritized quarterly, so I cannot give any estimate or commitment on it at this time

[2021-05-21 02:43] emilmarkose commented on #1403
Thanks @rpdome for the information. I have one more questions in this case.

I am getting this same behaviour if both of my applications has only one registration in Azure. Means both of the apps are using same `clientId` but different `redirect_uri`. Here also I am getting the currentAccount as null.

Is is also by design? Because I am not getting this accountSelector in iOS if both apps are unde

[2021-05-21 07:02] CPonchet commented on #1340
@iambmelt thanks for the update and again, thanks for your time.

[2021-05-22 00:27] rpdome commented on #1400
Authenticator is rolling out to 20% production today.
Company Portal is 0.5% production.

Both are already 100% Beta.

[2021-05-24 07:56] davidkarlsson commented on #1396
For me this can happen even if you don't kill the Authenticator app but just simply switch back to the app that you're logging in with by clicking the launcher icon or the apps foreground notification. I'm guessing this is because the activity it launches has its `launchMode` set to `singleTask`?

When you call `SingleAccountPublicClientApplication:signIn()` a subsequent time after switching back

[2021-05-24 08:32] vramasam commented on #1396
For your information, we are using using MultiAccountPublicClientApplication and I observed this issue is happening only when we the Authenticator app is killed explicitly. Suppose if we press back button in phone or back button of the Authenticator app screen, it gives the proper callback "MSALUserCancelException".

And the activity that launches the Authenticator app , there is no launch mode ha

[2021-05-24 08:45] davidkarlsson commented on #1396
I think maybe you misunderstood this. I meant that the activity of our app that the click on the foreground service notification or the launcher icon starts has `launchMode` set to `singleTask` and not the Authenticator apps activity.

I'm guessing this is relevant to this issue because this launch mode makes it so the activity will always be at the root of the activity stack for the task it creat

[2021-05-24 09:00] Tarapaty opened #1406 "AuthorizationFragment using deprecated fragment manager"
**Is your feature request related to a problem? Please describe.**
AuthorizationFragment line 116 and 117 is using getFragmentManager()

**Describe the solution you'd like**
Should be using getChildFragmentManager()

[2021-05-24 12:21] AlbusTrevor commented on #1400
are there anymore updates to this please? Still having users not being able to log in (Company Portal)

[2021-05-24 18:47] rpdome commented on #1400
As of Today (May 24)

Authenticator is rolling out to 100% production.
Company Portal is rolling out to 5% production.

[2021-05-24 21:28] iamgusain commented on #1406
Thanks for reporting this,
I have added a workitem in our backlog to address this. (PRODUCT BACKLOG ITEM 1409307)

[2021-05-25 01:20] hkobagh opened #1407 "Adding Chromium to "browser_safelist" is not working"
**Describe the bug**
I want to use Chromium (org.chromium.chrome) with MSAL. But, my app never open Chromium for authentication. My app uses MSAL which I added Chromium to "browser_safelist" then.

**Smartphone (please complete the following information):**
 - Device: Lenovo TB-X705F
 - Android Version: API 29
 - Browser Chromium
 - MSAL Version 2.0.10

Other devices (API 16 and 21) got the same r

[2021-05-25 17:26] iamgusain commented on #1407
@hkobagh What is the value of "authorization_user_agent" set to in your config?

[2021-05-26 00:47] hkobagh commented on #1407
@iamgusain The value of "authorization_user_agent" is set to "DEFAULT".

[2021-05-26 07:40] vramasam commented on #1396
@shoatman  Can you give any approximate release plan

[2021-05-26 19:10] rpdome commented on #1400
As of Today (May 26)
Company Portal is rolling out to 15% production  (5.0.5155.0)

[2021-05-26 23:06] rpdome commented on #1400
As of Today (May 26)
Company Portal is rolling out to 100% production  (5.0.5155.0)

[2021-05-26 23:06] #1400 closed

[2021-05-27 03:47] iamgusain commented on #1407
@hkobagh I will try you scenario and get back. Which chromium based browser are you trying with?
Also do you see any errors/warnings in the logs

[2021-05-27 04:14] vramasam opened #1409 "During MSALUIRequiredException when sign-in-freqency expired gives expired token for sometime even after successful interactive login"
**Describe the bug**
We have set the sign-in frequency for 1 hour to an account. Once the Sign-in frequency got expired, it throws MSALUIRequiredException with the following error code "invalid-grant" and the error message contains "Caused by: AADSTS70043: The refresh token has expired or is invalid due to sign-in frequency checks by conditional access. The token was issued on xxxxxxxxxxxx and the

[2021-05-27 05:01] hkobagh commented on #1407
@iamgusain The browser that I'm trying is Chromium (org.chromium.chrome), not other chromium based browsers.

The download URL is here.
https://download-chromium.appspot.com/
https://commondatastorage.googleapis.com/chromium-browser-snapshots/index.html

I'm trying to find error/warnings in the log, but I couldn't find it when MSAL didn't open Chromium.

[2021-05-27 19:35] rpdome commented on #1403
@emilmarkose yes, we also use app uid to store account data.

[2021-05-28 01:22] iambmelt commented on #1409
@vramasam Can you try this scenario with the [`2.0.12` build](https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v2.0.12)? I suspect what you're seeing here is our request cache turnover, which was disabled in our [common 3.4.3](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/releases/tag/v3.4.3) release. If that doesn't resolve the

[2021-05-28 09:34] vramasam commented on #1409
@iambmelt  Thank you its working as expected with latest library. I am closing the ticket.

[2021-05-28 09:34] #1409 closed

[2021-05-28 22:07] iamgusain commented on #1407
@hkobagh I think the package name that you want to use is "**com.android.chrome**" instead of "org.chromium.chrome"

    {
      "browser_package_name": "com.android.chrome",
      "browser_signature_hashes": [
        "7fmduHKTdHHrlMvldlEqAIlSfii1tl35bxj1OXN5Ve8c4lU6URVu4xtSHc3BVZxS6WWJnxMDhIfQN0N0K2NDJg=="
      ]
  }

[2021-05-28 22:13] iamgusain commented on #1407
If you are trying other channels (beta/dev/canary) than the package name would be either
"com.chrome.beta", "com.chrome.canary", "com.chrome.dev"

[2021-05-31 02:51] hkobagh commented on #1407
@iamgusain I think that using "com.android.chrome" instead of "org.chromium.chrome" is the same of the original MSAL code. Also, I have already used "com.android.chrome", because I didn't delete it when I added "org.chromium.chrome" to "browser_safelist".

I am not trying other channels of Chromium, but I confirmed that the package name is "org.chromium.chrome" by "adb shell pm list packages" comm

[2021-05-31 03:17] iamgusain commented on #1407
@hkobagh how are you installing the browser, I tried to install from the links you provided above and I don't see the package name "org.chromium.chrome" from the command "adb shell pm list packages".  I only see the package names as I listed above.

[2021-05-31 04:24] hkobagh commented on #1407
@iamgusain
I installed Chromium by the following process and confirmed the package name.

0. Run "adb shell pm list packages" and save the results.
1. Open "https://download-chromium.appspot.com/?platform=Android&type=snapshots".
2. Click "downloadchromium" and download "chrome-android.zip".
3. Install "ChromePublic.apk".
4. Run "adb shell pm list packages" and compare with before.
There are a new

[2021-05-31 05:31] iamgusain commented on #1407
@hkobagh Thanks for the details, I was able to install it that way and figured that the problem is with the signature hash
Please try with this hash
flIU1iFHjL3IKEqiD5L3_74rcaTicT7NigI4wiAa7BE6YyWvUNv50O1_NpBnmdS2unOBHIQ1URMREIkPHJO8nw==

[2021-06-01 09:36] ChetnaNakum opened #1413 "OpenID App authentication Issue in Android app"
I found below log and can not complete OpenID App authentication in application. Could you please help?
[code]

[2021-06-01 23:57] AdamBJohnsonx commented on #1413
This would typically happen when the calling application is closed after the authorization request was started.  Can you give us some more insight into what you've got going on here?

[2021-06-02 06:01] ChetnaNakum commented on #1413
My application remain open while authorization request going on. I have integrated openId Authentication in my application using this library [](https://github.com/openid/AppAuth-Android)
I got below error from Microsoft.
**Unable to complete authorization as there is no interactive call in progress. This can be due to closing the app while the authorization in process.**

[2021-06-02 11:16] vramasam opened #1414 "Conditional Access : Device registration flow after deleting the device entry in the Azure portal"
**Describe the bug**
Step 1: Did the device registration in Authenticator via our app.
Step 2: Now the entry of the device will be available in the Azure portal.
Step 3: Now delete the device entry in the Azure portal
Step 4: Now in the end user device, Authenticator will have all the device registration details.
Step 5: Now from end user device if we try to do the registration, register button is

[2021-06-02 12:47] hkobagh commented on #1407
@iamgusain Thank you for your advice. My app opens Chromium now! The hash I calclated is wrong.

Why did the underscore become a slash? I confirmed that both of Windows and Mac is the same "slash" result. My commands is here.

[code]

[2021-06-02 14:39] iamgusain commented on #1407
I am not sure, maybe something to do with the base64 encoding.

I will be marking this issue as closed.

[2021-06-02 14:39] #1407 closed

[2021-06-02 19:45] Halfpint-Code opened #1415 "Buttons in BrowserTab for Sign-In screen are not responding"
We are updating to MSAL 2.0 on Android from an old ADAL library. I am calling acquireToken. Our app opens the BrowserTabActivity with our sign in screen. Our forgot password link does not respond and neither does the sign-in button at anytime after valid credentials are entered. It will still prompt to enter valid email and password when they are left empty. It does not appear to be sending to the

[2021-06-02 20:53] Halfpint-Code commented on #1415
An update. I tested a little. It's making a call to validate the account. If I enter the wrong email or password I get the appropriate errors on the screen. But using correct credentials does not leave the screen or hit the callback in the app.

[2021-06-03 15:15] Halfpint-Code commented on #1415
I updated to MSAL 2.0.2 which I think is the latest. Still same results

[2021-06-03 23:30] shoatman opened #1416 "When using an app URI with the token request the app URI is lowercased before being sent to server"
**Describe the bug**
AAD returns an access token with an audience value based on the app URI provided as part of the resource identifier with the token request.  Although this feels like a server bug we are going to fix in the client to expedite the fix.

**Smartphone (please complete the following information):**
- All

**Stacktrace**
No failure in the code.  Resulting access token has the incorr

[2021-06-04 17:29] Halfpint-Code commented on #1415
Seemed to be a wrong hash issue. Closing

[2021-06-04 17:29] #1415 closed

[2021-06-08 10:45] waqarul opened #1422 "Pass query parameters to url"
My app support different languages. So, is there any way I can pass queryParameters to the request to differentiate between different languages? e.g. `ui_locales=EN` or `ui_locales=AR`

[2021-06-09 12:31] vramasam commented on #1414
Here we are expecting Authenticator app to show an option to "Register" button when the device record is not present in the Azure Portal.

Can you please assign this ticket to some one and look into it the scenario.

[2021-06-09 15:39] EmilyWen opened #1425 "Unable to call broker"
**Describe the bug**
In development app using latest MSAL for Android version is unable to call broker to sign-in.
Followed the [doc](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#:~:text=%20There%20are%20two%20ways%20for%20applications%20using,for%20benefits%20like%20device-wide%20SSO%2C%20account...%20More%20) to use MSAL for the app.

I have already

[2021-06-10 07:19] gitaumoses4 commented on #1422
Well, localization is supported and should be automatic and set by the device's locale.

[2021-06-10 15:48] gitaumoses4 commented on #1425
Hello. Thanks for raising this issue.

1. Seems you are using an older version of MSAL. The latest version is `2.0.12`

Question:
Is the app installed under the work profile?

[2021-06-10 15:59] EmilyWen commented on #1425
Hello,
1. Sorry for the version that is typo in the issue description. I have checked the dependency declare which is 2.0.+.
2. No, it does not installed under work profile.

[2021-06-11 08:44] GHTaylor commented on #1425
Hi, we have noticed this same issue with ADAL 1.16.3 on different devices with Android 11 over recent days, and the issue appears to be occurring for some and not others. Could this be related to the recent update of the broker applications?

[2021-06-11 10:27] GHTaylor commented on #1425
I have filed an issue against the ADAL library but please check the details of it as if the issue seems identical it would suggest an issue with Company Portal rather than either of the authentication libraries

[2021-06-11 10:43] GHTaylor commented on #1414
This could potentially be related to the following issue where we are not seeing register button appear when user is on Android 11 with Company Portal version 5.0.5164.0

https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/1612

[2021-06-11 13:24] EmilyWen commented on #1425
And we found the issue may be realted to the api permission.

We test the sample [code.](https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-Code-Samples) When we add the same api permission to the sample app, it also encountered the same issue. (It is to say that the root cause may not be related to their package.)

Since the api permission is another app also regist

[2021-06-14 07:18] vramasam commented on #1414
@GHTaylor  I am not very sure above mentioned issue and this one are identical. The issue mentioned here will happen irrespective of any OS.
And I am also not sure steps mentioned in the issue here and the other one are not same.

Kindly ask the development to see and come to conclusion and give the solution ASAP.

Thank you

[2021-06-16 12:19] AndaBucsa opened #1439 "WebView - Skype behaviour"
Hello,

I am in the process of adding "Login with microsoft"  functionality and I would like to implement the same behaviour as Skype. I attached also a gif of how Skype is  behaving.

I already read the official documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#webview) and I couldn't find any guidance related to customising the WebView or

[2021-06-17 18:10] EcAkash opened #1443 "Need To access Web application which is hosted in Azure MSAL in android webview"
We are having two application one is deployed in web and secured using msal now we have made another mobile app and we want to access that web application in android mobile app. After successfully authenticating android mobile app i launch web application. It again ask for sign in.
I tried to pass the MSAL Access token in header to webview where website url is loading but nothing changed it again

[2021-06-21 19:03] shahzaibj commented on #1439
@AndaBucsa Thanks for reaching out. The following statement is a bit misleading:

It is misleading because I believe what this really means is it allows us as MSAL maintainers to customize the webview, however, our consumers that use MSAL can only customize it as much as we let them. @hamiltonha we should improve that documentation to be more explicit about what is supported for customization vs n

[2021-06-21 19:08] shahzaibj commented on #1443
Hi @EcAkash Thanks for reaching out. Which website are you trying to access? Is this a Microsoft site or some custom site? If this is a custom website, what authentication library are you using to authenticate with the website?

[2021-06-23 08:31] EcAkash commented on #1443
Hi @shahzaibj  this is microsoft site developed and deployed by same organisation. So its an ESO authentication in that website using msal library. while i login from chrome i can access that website as it accepts my enterprise login credentials. But when i login into my native app from same login credential and inside my app i access that website in webview its not taking that msal token. May be

[2021-06-23 15:25] Depesha commented on #1369
Is there any update on it? The same issue in this [example application ](https://github.com/msintuneappsdk/ms-intune-app-sdk-android)

[2021-06-24 04:16] vramasam commented on #1414
Any update here

[2021-06-24 13:47] EcAkash commented on #1443
Hi @shahzaibj. did you get a chance to look into this?

[2021-06-25 06:02] p3dr0rv commented on #1414
Thanks for reporting this,
I have added a workitem in our backlog to address this. (PRODUCT BACKLOG ITEM 1446457)
I will het in contact soon

[2021-06-29 07:31] abdurahmanadilovic commented on #1381
is there a way to force token refresh? It seems very strange to me that msal is refusing to refresh the token when it "thinks" there is no connection because its very difficult to actually determine that.  We noticed a lot of 401 responses from our backend because of this issue, connection is there, requests are going through to the backend but msal is stuck in no connection state, refusing to ref

[2021-06-30 17:20] matheusfreire opened #1453 "Error OOM when try to access MSAL"
**Describe the bug**
We are receiving an error (thus killing the journey) when trying to go through our journeys. It's live in production.

**Smartphone (please complete the following information):**
Device: Samsung (J2 Core, J4, J5, J7 and A20) and Motorola (Moto E)
Android Version: Android 8 and 10
Browser Chrome
MSAL Version 2.0.12

**Stacktrace**
`com.newrelic.agent.android.instrumentation.Htt

[2021-06-30 20:49] christianrowlands opened #1454 "AADSTS900384: JWT token failed signature validation with Azure US Government"
I am writing an Android app and setting it up to use authentication against an Azure AD tenant running in Azure US Government Cloud. I followed the guide [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android) to setup AD in the Azure portal and configure my Android application. I was able to get it to work in regular Azure (login.microsoftonline.com) but was un

[2021-07-02 08:49] meinto opened #1457 "Distribution of MS-Authenticator app in shared mode (for single-sign-on) without Intune."
This is not directly library related but it's necessary to know before you start using it. Therefore I ask this question here.

We want to use the brokered authentication with the MS-Authenticator for our apps as SSO solution and I was told that distributing the MS-Authenticator app in shared mode without Intune is not really possible. The thing is, we already have a MDM and already have our workf

[2021-07-06 15:28] christianrowlands commented on #1454
I tried version 1.5.5 of MSAL and I received a different error. It could be that the old library version does not work, but I thought the error might help debug the problem. It seems interesting to me that it is saying "Invalid national Cloud ID (0) is specified". As far as I can tell, I am specifying the cloud correctly in the authority URL, so I am not sure where else to set it.

[code]

[2021-07-06 17:21] shoatman commented on #1454
Are you using an account from the US Gov cloud to sign in?  Possible to share you MSAL configuration file contents here?

[2021-07-06 17:23] shoatman commented on #1454
If you're app is intended to work with multiple clouds, US Gov and public for example.  You may want to take a look at the following: https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#multiple_clouds_supported

[2021-07-06 17:25] shoatman commented on #1453
Does OOM mean out of memory?  Possible to share your MSAL configuration file here?

[2021-07-06 17:44] shoatman commented on #1457
@rpdome @hamiltonha @iamgusain @Om83 - FYI - I'm not sure what the official restrictions are here.  I believe that I suggested a long time ago that it be possible for the cloud device admin to be able to enroll a device in shared device mode in the way that's proposed by @meinto.

[2021-07-06 18:54] meinto commented on #1457
Just to clarify my concern: We were able to set the MS-Authenticator in shared mode with [the instructions of the documentation](https://docs.microsoft.com/de-de/azure/active-directory/develop/tutorial-v2-shared-device-mode#set-up-an-android-device-in-shared-mode). But this is the manual way to do this. We want to automate the rollout process for the MS-Authenticator on our company devices with ou

[2021-07-06 20:31] christianrowlands commented on #1454
Thank you for getting back to me. I actually just came across that option and it fixed the problem I happened to come across it when I was hitting breakpoints in MSAL for Android and noticed that login.microsoftonline.com was still being used even though I was specifying login.microsoftonline.us. It turns out that the call was not failing on aquireTokenSilentAsync, but it was failing on the actual

[2021-07-09 14:25] matheusfreire commented on #1453
@shoatman is there some way to send to you a safe way this info? Here we can't display.

[2021-07-09 20:51] shoatman commented on #971
Closing this issue due to lack of response.

[2021-07-09 20:51] #971 closed

[2021-07-12 10:56] wgbnyes opened #1461 "Sign-in with "Accounts in this organizational directory only - single tenant" not work with this library"
**Describe the bug**
We are having a serious problem when trying to log in via Azure AD Single-tenant.
We've read many forums and many other issues and no solution or answer seems to explain how to correctly configure a native android application, using msal library, to work as it should.
The error says that we are using an incompatible endpoint, but there is no way to force an endpoint in the cur

[2021-07-12 14:30] wgbnyes commented on #1461
It appears that the "authorities" > "audience" > "tenant_id" setting in msal.config is simply ignored.

[code]

[2021-07-12 21:36] iambmelt commented on #1461
Hi @wgbnyes - Sorry to hear you're running into issues.

I tried using your configuration in my local test harness (using MSAL 2.1.0) and am not observing the behavior you reported -- I am instead taken to a tenant specific endpoint. Are there perhaps multiple configurations in your workspace which could be getting mixed up? Any hints you can give me that might help me troubleshoot this issue?

Sc

[2021-07-13 12:27] wgbnyes commented on #1461
Thanks for the answer, however, even this screen that you are showing I can also get there without any problems.
The problem occurs when I login on this screen, the feedback that the MSAL Library gives is the error.

But I discovered one thing, there is an incompatibility between the redirect created in the manifest and the string registered in Azure AD on the Android platform.

Special characters

[2021-07-13 12:27] #1461 closed

[2021-07-14 07:59] meinto commented on #1457
Are there any news on this topic? We need to decide in the next view days wether to go with MS-Authenticator for SSO or looking for another solution.

[2021-07-14 08:10] FarazJelani opened #1463 "MS Login page does not comes up in Samsung Device"
**Describe the bug**
Yes app is available on google play. We have implemented msal authentication in app. This is working fine but in 1 specific samsung device its not able to open up MS login page where we enter email address.

**Smartphone (please complete the following information):**
 - Device: Samsung A51. Model SM-A515F/DSN
 - Android Version: 11
 - Browser [e.g. Chrome, Edge]
 - MSAL Versio

[2021-07-14 16:45] iambmelt commented on #1463
@FarazJelani MSAL 1.5.5 is an older, unsupported version. Please update to the [latest version](https://github.com/AzureAD/microsoft-authentication-library-for-android/releases) and retry your scenario to confirm if the issue is fixed or remains outstanding.

/cc @wainaina as FYI...

[2021-07-14 18:09] iambmelt commented on #1463
If this issue continues to occur with the latest version of the MSAL library, please consider capturing logs and/or a video of the repro and provide details on this issue as required. Please ensure that no sensitive data, passwords, or personally identifiable information is provided. @wainaina can assist you with this issue

[2021-07-28 11:09] MiguelBenitezGomez opened #1470 "Sign out with MSAL 1.3 and Sign in with MSAL 2.0.8 cause error at acquireTokenSilentAsync"
I'm getting the following error when I sign out with an app with msal 1.3 and after I sign in with an app with msal 2.0.8 installed.

com.microsoft.identity.client.exception.MsalClientException: The signed in account does not match with the provided account.
        at com.microsoft.identity.client.SingleAccountPublicClientApplication.acquireTokenSilentAsync(SingleAccountPublicClientApplication.ja

[2021-07-29 12:03] vramasam opened #1471 "AADSTS900384: JWT token failed signature validation - Android"
**Describe the bug**
In Android, we are getting the following error "AADSTS900384: JWT token failed signature validation" when we use the Authority as "https://login.microsoftonline.com/common/" .

But when we use ""https://login.microsoftonline.us/common/" as Authority it's working as expected.

Whereas in IOS, we have noticed it is working with "https://login.microsoftonline.com/common/" for the

[2021-08-03 08:26] MiguelBenitezGomez opened #1475 "Migrating MSAL 1.3 and Sign in with MSAL 2.0.8 cause error at acquireTokenSilentAsync"
I'm getting the following error when I'm calling acquireTokenSilentAsync with a user who is using MSAL 2.0.8 and was sign in using MSAL 1.3:

2021-08-02 11:35:17.298 6153-6153/ng.sch.bridge.letsmark D/AuthenticationRepository$getAcquireTokenSilentAsyncCallbackNew:  Error occurred while Logging in The signed in account does not match with the provided account.
    com.microsoft.identity.client.exce

[2021-08-03 10:07] RRaulAndrei opened #1476 "Not able to inspect the UI elements from the Microsoft login webview"
We are trying to automate some tests on an Android app using Appium and we are not able at all to interact with the UI elements from the Microsoft login webview.

The issue is reproducing only on Android real devices, on emulator it is working fine.
 - Devices: Samsung Galaxy Tab Active 3, Lenovo Tab M10 Plus
 - Android Version: 10
 - Appium version 1.21

I found a related issue opened on stack ov

[2021-08-03 13:42] eduardothiesen commented on #526
Same error here. And I'm already setting the authority.

[2021-08-05 13:57] mlynch opened #1477 "Unable to launch Microsoft Authenticator for brokered auth on Android 30"
I struggled with this issue for ages until I found a random documentation page about changes required for Android 30 to allow your app to launch the brokered Microsoft Authenticator or Intune Company Portal apps.

Leaving this so others can find from google it if they run into this issue.

As of Android 30, you must declare the packages your app will query for. Without this, you'll receive a `andr

[2021-08-05 13:57] #1477 closed

[2021-08-06 01:34] iambmelt commented on #494
No longer applies as we're no longer using Travis-CI

[2021-08-06 01:34] #494 closed

[2021-08-06 01:35] iambmelt commented on #1296
@hamiltonha Assigning this item over to you so it doesn't get lost to the sands of time. This is an external ask on SSPR: it is on their backlog.

[2021-08-06 01:36] iambmelt commented on #1463
Closing due to lack of activity

[2021-08-06 01:36] #1463 closed

[2021-08-06 01:37] iambmelt commented on #728
Closing due to lack of activity

[2021-08-06 01:37] #728 closed

[2021-08-06 01:38] iambmelt commented on #476
Support has been added via https://github.com/AzureAD/microsoft-authentication-library-for-android/pull/1103

[2021-08-06 01:38] #476 closed

[2021-08-06 01:39] iambmelt commented on #1314
Closed via #1324 and #1327

[2021-08-06 01:39] #1314 closed

[2021-08-06 01:42] iambmelt commented on #1331
@hamiltonha Assigning over to you so that this doesn't get lost. This HTML instead of JSON issue is a B2C service issue and not an MSAL client lib problem.

[2021-08-06 01:42] iambmelt commented on #1336
Closing this issue as 'External'

[2021-08-06 01:42] #1336 closed

[2021-08-06 01:43] iambmelt commented on #240
Closing as this ask will come from PM/sec-compliance via SDL

[2021-08-06 01:43] #240 closed

[2021-08-06 01:44] iambmelt commented on #1335
Closing as answered. We could consider taking this level of customization 'officially' with a feature ask /cc @hamiltonha

[2021-08-06 01:44] #1335 closed

[2021-08-06 01:49] #1301 closed

[2021-08-06 01:51] iambmelt commented on #512
Closing due to lack of activity; feel free to reactivate via a new ticket if this issue exists in our latest release and continues to present issues.

[2021-08-06 01:51] #512 closed

[2021-08-06 01:53] iambmelt commented on #317
Closing as not a current priority (3 yr old ask); doesn't appear to present any real-world authn issues

[2021-08-06 01:53] #317 closed

[2021-08-06 17:16] iambmelt commented on #708
Removing assignee as they're no longer contributing to the project

[2021-08-06 17:17] iambmelt commented on #595
Closing as no-op: this is still in-use

[2021-08-06 17:17] #595 closed

[2021-08-06 17:23] iambmelt commented on #150
Closing as a no-op. No plans to try and support DNKA

[2021-08-06 17:23] #150 closed

[2021-08-06 20:03] iambmelt commented on #570
Documenting a know _expected_ case where this can happen before I close this issue.

When a refresh token is invalidated due to expiring or revocation (such as when a user changes their account password) AAD will issue a special error code to the client library with the message `bad_token`; this code signals to the client that this token cannot be used again for any purpose and will _always_ be re

[2021-08-06 20:03] #570 closed

[2021-08-06 23:10] iambmelt commented on #1197
Removing the bug tag as this isn't an MSAL issue, but a dependency version consideration by apps taking MSAL.

[2021-08-06 23:16] iambmelt commented on #1197
Took a look at this - unfortunately MSAL cannot yet update to `androidx.browser:1.2.+` due to a lack of J8 bytecode support in our build pipeline. Support for this will show up eventually, but we don't have it today. Once we have it we will update the version of `androidx.browser` to a newer version at which point we will have to add the `androidx.localbroadcastmanager` dependency explicitly. As t

[2021-08-06 23:16] #1197 closed

[2021-08-09 16:13] rpdome commented on #1475
@MiguelBenitezGomez
- may I ask for MSAL logs?
- Are you always calling getAccounts/getCurrentAccount prior to the silent token request, or are you caching it somewhere?

[2021-08-09 22:40] rpdome commented on #1476
@RRaulAndrei MSAL supports both Chrome custom tabs and Webview. (The difference is that You'll see a 'top bar' in Chrome Custom tabs - as seen in the image in the attached thread).

MSAL will pick what to use based on the following criteria
1. If Broker app is installed (Authenticator/ Company Portal), and MSAL is NOT opted out from brokered auth, then WebView will always be used.
2. By default, M

[2021-08-10 08:35] MiguelBenitezGomez commented on #1475
@rpdome

I put relevant part of the log in the previous post. I don't think is there anything else that talk about the problem but I can get you a full log if you really need it.

I'm getting the application using this:
`    fun getApplication(context: Context) =
        Single.create<PublicClientApplicationData> { singleSubscriber ->
            PublicClientApplication.createSingleAccountPublicCl

[2021-08-10 16:40] rpdome commented on #1475
Can you share how you're constructing `AcquireTokenSilentParameters`? (The `getParameters()` function?)

[2021-08-10 16:50] MiguelBenitezGomez commented on #1475
`    fun getParameters(callback: SilentAuthenticationCallback, scope: Array<String>):
            AcquireTokenSilentParameters? {
        return AcquireTokenSilentParameters.Builder()
            .withScopes(scope.toMutableList())
            .forAccount(account)
            .fromAuthority(BridgeAADLoginFlowManager.AD_AUTHORITY)
            .withCallback(callback)
            .build()
    }`

[2021-08-10 22:31] parnesen opened #1481 "Urgent: No account saved after acquireTokenWithDeviceCode"
**Describe the bug**
This bug is affecting live users of AltSpaceVR, a Microsoft product.

To login on an Oculus Quest device, we first do a SingleAccountPublicClientApplication.**acquireTokenWithDeviceCode** for the user.read scope. Since we haven't gotten to 1st party status yet, this allows new users to grant permission for us to access their account, and also implicitly grants access to our ow

[2021-08-10 23:17] AdamBJohnsonx commented on #1481
Do you have a selection of logs from the device seeing the failure, or a correlation Id from the requests that are not succeeding?

[2021-08-11 00:35] parnesen commented on #1481
Adam Johnson helped me out on this. It looks like there's a bug where msal isn't saving the account after acquireTokenWithDeviceCode succeeds. This can be worked around by calling getCurrentAccount after acquireTokenWithDeviceCode completes, since getCurrentAccount has the side effect of saving the current account.

This is a pretty bad bug that I can easily imagine others getting tripped up on, s

[2021-08-11 00:47] AdamBJohnsonx commented on #1481
https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1509622

[2021-08-12 00:36] iambmelt commented on #1402
Fixed via https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1440

[2021-08-12 00:36] iambmelt commented on #1402
Fix shipped in Android-Common `3.4.5`

[2021-08-16 11:56] mirkocuidado opened #1486 "URGENT: Refresh token not being returned?! Please, help!"
I am using this following code to get refresh and access tokens from MSAL Graph, but it only returns the access one.

Code :
https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android

Obviously, I am using single account mode and the following problems occur. When I add offline_access to the scopes, it says that "Authentication failed: com.microsoft.identity.client.except

[2021-08-16 14:09] Halfpint-Code opened #1487 "Non external browser login type"
Is there any way to not load an external browser tab when accessing the login screen? Before we updated MSAL, it used to use the native web view and stayed in the app. We have a client who can't allow browsers to be accessible by their users and now has to unlock them. We are hoping we can help them out.

[2021-08-16 15:40] duca9 commented on #1486
Hi, I have same problem too.

[2021-08-17 08:29] saeidz70 opened #1489 "Failed to load generated key from keystore"
**Describe the bug:**

We are using MSAL-for-Android in our application, but we got an error on our device.

Error: com.microsoft.identity.clinet.expection.MsalClinetException: Failed to load generated key from keystore

**Smartphone:**
 - Device: An android device that doesn't have any security settings
 - Android Version: 7.1
 - MSAL Version: 2.0.5
 - Account Mode: Single account
 - Authorizatio

[2021-08-17 16:15] dschuermann opened #1490 "Enforce browser in browser_safelist"
**Is your feature request related to a problem? Please describe.**
One of our customers is using a custom browser that is installed alongside Google Chrome. We use the MSAL "Browser" option and added this browser to the browser_safelist. Unfortunately, Google Chrome is still chosen and used (because it is included in MSAL's main browser_safelist).

**Describe the solution you'd like**
We would lov

[2021-08-17 19:28] hypino opened #1491 "When Logging in Federated Users (with local guest account), Claims data is null"
**Describe the bug**
This is in our application that is under development. We are trying to setup a separate tenant ("Tenant B") from our main tenant ("Tenant A") to manage users that are not directly part of our organization, but partners of ours that we're taking on management of. Our application is only authenticating against "Tenant A".

When we authenticate a user in "Tenant A", we sign in su

[2021-08-18 23:24] GuyPaddock commented on #1140
We're having a similar problem here; really wish that the flow/journey was still open in the source app. Right now this leads to an error coming back to our app (and, therefore, an error back to the user).

[2021-08-18 23:41] shahzaibj commented on #1140
@hamiltonha We should look into whether we want to support redirecting to unknown URLs from our WebViews. These are some links that are included in the Terms and Conditions pages of B2C User Journeys and from there they want to redirect to either other apps or other URLs. For instance, there may be a phone number link or email address in one these pages and the user expectation is that an appropri

[2021-08-19 17:56] hypino commented on #1491
Just an update, we found the difference.

It seems that when the user that logs in is a guest from an external tenant, the claims actually show up in a different place.

We had to specifically use the IMultiTenantAccount interface, and found that the claims moved from:

- account.claims

And moved to

- account.tenantProfiles[<tenantId>].claims

It's unfortunate that it is in two places, but it pr

[2021-08-19 17:57] #1491 closed

[2021-08-20 20:36] p3dr0rv commented on #1487
@Halfpint-Code
You can modify the Android Microsoft Authentication Library configuration file to use an embedded webview when signing in an account or authorizing access to a resource
 `"authorization_user_agent": "WEBVIEW",`
https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration

[2021-08-23 15:16] p3dr0rv commented on #1486
@mirkocuidado @duca9
The Microsoft Authentication Library (MSAL) currently specifies offline_access, openid, profile, and email by default in authorization and token requests. This means that, for the default case, if you specify these permissions explicitly, Azure AD may return an error.
https://docs.microsoft.com/en-us/graph/permissions-reference#remarks-17
Regarding to refresh token
There are c

[2021-08-23 18:08] AdamBJohnsonx commented on #1489
Looks like this may have been around.  There can be difficulties with AndroidKeyStore on older devices.

See: https://github.com/AzureAD/azure-activedirectory-library-for-android/wiki/Common-Issues-With-AndroidKeyStore

Related issue: https://github.com/AzureAD/azure-activedirectory-library-for-android/issues/740

[2021-08-24 09:19] manish-etymon commented on #1312
@iambmelt Thanks for your code sample. I am able to run your code and i am able to go to google login, without any issue related to user agent. but when i replace my redirect_uri, policy, tanent, config file, manifest file etc. in your code only and it has same problem of about disallow user agent.

So, I assume, problem might be at Azure configuration or google app level. Note that my app is work

[2021-08-25 10:18] RRaulAndrei commented on #1476
Hi @rpdome! Thank you for your input and sorry for the late response.

 I did more investigations based on your comment and I have the following information.

We are using webview on both device and emulator.

useEmbeddedWebview flag is set as true.

I will also provide the logs from both device and emulator. What can be seen there is that within device logs we have anything regarding chromium whi

[2021-08-30 20:41] #1487 closed

[2021-08-30 20:42] #1486 closed

[2021-09-01 04:27] adarshmanoharan opened #1505 "The account set on silent operation parameters is NULL for multi-tenant accounts"
Refresh Token Silently causing these errors when using some of users, not all accounts showing this issue

**Smartphone:
 - Device: Pixel, OnePlus 6
 - Android Version: 30
 - Chrome
 - MSAL Version 2.0.10

W/MsalOAuth2TokenCache:getAccount:  [2021-08-31 04:00:09 - thread_name : pool-3-thread-1, correlation_id : UNSET] No matching account found. Android 30
W/SilentTokenCommandParameters:  [2021-08-

[2021-09-01 11:33] RRaulAndrei commented on #1476
Hi @rpdome ,
Any updates on this one? Do you have in pipeline to address this bug/enhancement?
Or can we contribute to it somehow?

[2021-09-01 16:47] rpdome commented on #1476
@RRaulAndrei I just filed a bug to our server team. Will keep you updated once we hear back. Thanks!

[2021-09-01 17:15] shahzaibj commented on #1505
Hi @adarshmanoharan I think you've got the expected behavior and actual behavior swapped? Is that right?

It looks like you not getting the account back after calling getAccount, while it seems that you've already acquire token with that account before. Can you share MSAL logs with us so we can investigate further?

Instructions for capturing MSAL logs: https://docs.microsoft.com/en-us/azure/activ

[2021-09-02 09:13] markbeij opened #1508 "[docs] README.md: Intent-filter is not always necessary"
Step 3.2 says it's required to add an intent-filter. However this is not the case when `authorization_user_agent` is set to `WEBVIEW`

[2021-09-02 17:09] eduardothiesen commented on #1187
Hi. I'm having a similar problema with the default Mi Browser. Can you guide me on how do I find the correct browser signature hash for it?

I suppose that after that I just have to add
[code]

to my auth_config file and it will be good to go.

Thanks in advance.

[2021-09-03 13:34] eduardothiesen opened #1509 "Support for Mi Browser"
**Is your feature request related to a problem? Please describe.**
Since Mi Browser is not on the safe list, the fallback for DEFAULT agent is WebView, which does not work with Google and Facebook Login. And the BROWSER agent gives the "No browser found on this device" error.

**Describe the solution you'd like**
It would be nice to add the Mi Browser (com.mi.globalbrowser) to the safe list since

[2021-09-06 07:04] adarshmanoharan commented on #1505
He @shahzaibj

I am seeing the difference in those accounts responses I am attaching the screenshots
<img width="489" alt="Screenshot 2021-09-06 at 12 31 27 PM" src="https://user-images.githubusercontent.com/49401818/132174358-ce43dcab-6cc7-400d-9676-73997575fe92.png">
<img width="483" alt="Screenshot 2021-09-06 at 12 30 33 PM" src="https://user-images.githubusercontent.com/49401818/132174373-cf60

[2021-09-06 08:11] adarshmanoharan commented on #1505
https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1033

This is the exact issue I am getting

W/MsalOAuth2TokenCache:getAccount: [2021-08-31 04:00:09 - thread_name : pool-3-thread-1, correlation_id : UNSET] No matching account found. Android 30
W/SilentTokenCommandParameters: [2021-08-31 04:00:09 - thread_name : silent-1, correlation_id : {Value}] The account set on si

[2021-09-07 07:47] aditya38112 opened #1511 "Token expiring in 12 hours when using MSAL Android library"
We have a Microsoft Internal app in which we recently moved from ADAL to MSAL to resolve the issue that the token was expiring under 12 hours, but even now the issue is not fixed, so we raised a ticket with the AAD team and they said that they are not getting the device ID from the MSAL, that is why the device is not seen as compliant and the token is expiring in 12 hours, so why is this happening

[2021-09-07 13:39] jsroest commented on #1457
Did you ever had an answer or found a solution?

[2021-09-09 15:24] MatteCarra opened #1512 "Getting "The user has denied access to the scope requested by the client application" after granting access"
**Describe the bug**
A couple of users are getting the error "The user has denied access to the scope requested by the client application" after granting access to the application.
Most users do not have that issue.

**Smartphone (please complete the following information):**
Two people have currently reported the same issue:

 - Device: Huawei Mate 10 Pro
 - Android Version: Android 10
 - Browser

[2021-09-10 07:02] markbeij commented on #1391
Something like this

    /**
     * This code can be used to show the internally detected base64 signing hash of the package
     *
     * @return
     * @throws PackageManager.NameNotFoundException
     * @throws NoSuchAlgorithmException
     */
    private String CalculateSigningHash() throws PackageManager.NameNotFoundException, NoSuchAlgorithmException, UnsupportedEncodingException {
        f

[2021-09-10 07:11] markbeij opened #1513 "Open tenant-specific login page"
**Describe the bug**
When only one tenant is configured, the wrong login page is shown.

**Smartphone (please complete the following information):**
 - Browser Webview
 - MSAL Version 2.1.0

**To Reproduce**
[code]

**Expected behavior**
When only one tenant(authority) is configured, the login page specific for that tenant should be shown.

**Actual Behavior**
The general login page from Microsoft

[2021-09-10 07:12] markbeij commented on #1513
I believe ADAL used to support this, so I consider this a bug.

[2021-09-11 19:29] iamgusain commented on #1513
The list of authorities defined in the config files tells MSAL to treat those as trusted authorities, in addition to the list of authorities known to Microsoft. [See here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#authorities).
The login page that is shown depends upon what was the authority passed in the token request to MSAL,
So I think what you are seein

[2021-09-11 21:03] iamgusain commented on #1512
From the error it looks like the consent is not setup correctly. Therefore the library is returning the error code that it gets from the service.
Can you compare the permissions between the users for which it is working and users who are experiencing the problem.
Also you can try clearing the permissions from the consent management page and try again to see if that solves the issue

[2021-09-11 21:09] iamgusain commented on #1511
Can you answer the following questions to help better understand the issue
1, Is the device registered/compliant?
3. Does the app participate in brokered auth.
2. What is the behavior after the token expiry, does the user get prompted to sign in again or can the app acquire new token silently?

[2021-09-11 21:39] iamgusain commented on #1509
Thanks for your feedback,
You can also add specific browser to the safelist from the Msal config file [See here](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-configuration#browser_safelist)

[2021-09-12 16:13] aditya38112 commented on #1511
1. Yes the device is compliant and has been registered in Intune company portal, but I am currently testing it in my personal profile.
2. Yes the app participates in brokered auth as I am using the brokered auth config in msal_config as true and using a correct redirect URI.
3. Previously it used to fail with the error that the token has expired due to policy under our tenant, but now I just promp

[2021-09-14 01:06] iamgusain commented on #1511
Can you check if there is a [Sign In Frequency policy](https://docs.microsoft.com/en-us/azure/active-directory/conditional-access/howto-conditional-access-session-lifetime#user-sign-in-frequency) set on the tenant that requires the user to sign in every 12 hrs.

[2021-09-14 05:24] aditya38112 commented on #1511
No, I have checked as we have a corresponding web platform in which we do not need to login again and which is under the same tenant, hence this is not the default policy.

[2021-09-14 08:22] jsroest opened #1514 "Signout experience shared device mode"
When a device is in "shared device mode", the signout experience is not optimal.

During the 'sign in' process, the user stays in the comfort of the installed broker, in my case that is the Microsoft Authenticator.

During the 'sign out' process, the user switches to the default browser, showing the message "You signed out of your account".

With every 'sign out' a new browser tab is opened, which

[2021-09-14 11:09] MatteCarra commented on #1512
Hello,

I tried to contact back the original users that reported the issue, but they are not responding currently.
Some other users reported me that the issues happens to them as soon as they tap the "Use another account".
I was able to reproduce the same bug on my device two days ago, but I'm not able to reproduce it anymore (without changing anything).
I will ask the user again. I'm thinking it

[2021-09-16 04:28] #1505 closed

[2021-09-16 04:47] adarshmanoharan commented on #1505
it was some account privileges problem. Support Team made some changes on the account preferences. its go resolved

[2021-09-17 15:15] ClaudioConsolmagno opened #1516 "Package Inspector does not find all apps starting from Android 11"
**Describe the bug**
I tried using the Package Inspector to double check the Signature Hash of an app running on my Pixel 4a-Android 11 device but it couldn't find the application. I found out that since [Android 11, there's been some package visibility changes](https://developer.android.com/about/versions/11/privacy/package-visibility) meaning the current inspector won't show all installed apps.

[2021-09-19 08:59] MatteCarra commented on #1512
The issue seems indeed gone, indicating that it was probably a server issue.

[2021-09-19 08:59] #1512 closed

[2021-09-20 22:32] Rob97 commented on #437
Has this been addressed? We are still facing this bug :/

[2021-09-21 06:37] markbeij commented on #1513
Thank you @iamgusain.
I'm not sure how to accomplish this for `PublicClientApplication`

[code]

`app.signIn(...)` does not have a way to pass the authority.

`app.acquireToken(...)` does, but we need it at signIn.
[code]

[2021-09-24 08:41] lukaspechar opened #1520 "Extra scopes are not shown for consent"
#stashenergy/react-native-msal/issues/98

I've linked the issue posted on https://github.com/stashenergy/react-native-msal. We've tested this and all the appropriate scopes are being sent to `AzureAD/microsoft-authentication-library-for-android`. The issue seems to be in MSAL for Android.

Any help would be appreciated.

[2021-09-24 15:44] ljunquera opened #1521 "Azure AD B2C on Android: he app is still using legacy MSAL redirect uri and Switch to MSAL local auth"
I am using Azure AD B2C on Android and am getting some errors.

When I am call:

PublicClientApplication.createMultipleAccountPublicClientApplication
I get a few errors.

**First:**
LocalMSALController is not eligible to use the broker. Do not check sharedDevice mode and return false immediately. Android 29

**Second:**
Telemetry is disabled because the Telemetry context or configuration is null A

[2021-09-27 13:03] ljunquera opened #1524 "Error trying to change applicationid in Android"
I have changed the name of my Android application, but am getting an error when I change the name of the redirect_uri in the json configuration file.

I am using:
   implementation 'com.microsoft.identity.client:msal:2.0.4'

The error I am getting is:
    E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.enablewear.xxxxxxxxxx, PID: 8032
    java.lang.StackOverflowError: stack size 8192KB

[2021-09-28 09:24] lukeisontheroad commented on #1425
Can you provide an update to this issue? We are facing this on some Android 11 devices.

[2021-09-28 09:48] ghtaylor commented on #1425
Hi Luke, I managed to fix this issue last week. I hope this helps you and others.

The issue affects both MSAL and ADAL and is related to changes to Package Visibility with Android 11. You must add the following code to your manifest file. I also found that I needed at least gradle plugin version 3.5.4; we were experiencing build errors with 3.5.3.

[code]

See the below links for extra informatio

[2021-09-28 13:04] lukeisontheroad commented on #1425
Thanks a lot, this was the problem I was running into.

[2021-09-28 14:23] lukaspechar commented on #1520
bump

[2021-09-29 15:26] paulkagiri commented on #1524
Hello @ljunquera, kindly start by updating the MSAL version to the latest - https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v2.2.1 and then if the problem persists share the full exception stack traces to enable us figure out what the issue is

[2021-09-29 15:30] paulkagiri commented on #1521
Is this related to this issue you raised - - https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1524, if so could you try the suggestions I shared first?

[2021-09-30 02:29] ljunquera commented on #1524
I changed this in the build.gradle:

    implementation 'com.microsoft.identity.client:msal:2.2.1'

Here is the error I get:

2021-09-29 22:22:46.469 9261-9261/com.xxxxxxx.yyyyyyyyy, E/AndroidRuntime: FATAL EXCEPTION: main
    Process: com.xxxxxxx.yyyyyyyyy, PID: 9261
    java.lang.StackOverflowError: stack size 8192KB
        at d.b.a.l.a$c.onError(:764)
        ......
        at d.b.a.l.a$c.onEr

[2021-09-30 02:33] ljunquera commented on #1524
The patch says this:

[PATCH] Picks up common@3.6.2
[PATCH] Allow Authenticator to pass older format for redirect uri (#1517)

Is there some other format I should be using?

[2021-09-30 03:44] HoangHuyVoZ commented on #1516
I think I can refer to this way
https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/1425#issuecomment-929032648

[2021-09-30 08:18] SirElTomato commented on #1520
Please can this be looked into?

[2021-10-01 12:47] ljunquera commented on #1524
FYI the only line I change to get this error is in:

auth_config_multiple_account.json

it is represented by the z's in this line:

 `"redirect_uri" : "msauth://com.xxxxxxxxxx.zzzzzzzzzzzz/xxxxxxxxxxxxxxxxxx",`

I change it to what is in the AndroidManifest.xml:

     `android:host="com.xxxxxxxxxx.zzzzzzzzzzzz"`

and what is in the build.gradle:
[code]

and the "Redirect URI" (I change the package

[2021-10-02 14:36] ljunquera commented on #1524
Here is the error:

AuthHelper.loadB2CApp.onError: The redirect URI in the configuration file doesn't match with the one generated with package name and signature hash. Please verify the uri in the config file and your app registration in Azure portal.

[2021-10-03 13:41] ljunquera commented on #1524
I read [this](https://github.com/AzureAD/microsoft-authentication-library-for-android/wiki/MSAL-FAQ) and ran the keytool again. I received a different hash which seems to work. I cannot tell you why the previous one seemed to work, which is disconcerting. I am also not sure how or if this hash changes as I move the app through environments (from dev to test, from test to prod). I read some additio

[2021-10-04 08:45] lukaspechar commented on #1520
Just some extra information. I've tested both Android and iOS (on the iOS MSAL library) and made the identical requests and permissions. The JWTs are identical (with some exceptions like expiry etc).

[2021-10-05 16:40] eduardothiesen commented on #1001
I'm experiencing the same issue on MSAL v2.2.0

[2021-10-05 16:52] MarceloEsser commented on #1001
Same here on redmi 8.

[2021-10-05 16:55] LTMezzari commented on #1001
Same issue happening on Samsung Galaxy S8 and others.

[2021-10-06 16:58] paulkagiri commented on #1520
This is being looked into, will share an update soon

[2021-10-07 15:19] Kameswari opened #1531 "Generating signature hash for the app signed by Google in Google play store"
Hi, I have integrated MSAL in my Android app and uploaded in Google play store using my own keystore. Once it got uploaded, the MSAL initialization failed. I found that Google is using a different keystore to sign the application. Could somebody help me on how to get the signature hash from keystore used by Google?

I can see the MD5, SHA-1, SHA-256 keys like below.

![image](https://user-images.g

[2021-10-13 15:21] paulkagiri commented on #1524
Hello @ljunquera, kindly go through this doc that details how to configure your application - https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android, specifically, note the following:
- You generate the signature hash from the specific key you're signing the application with at the time
- The format of the redirect uri is `msauth://{app package name}/{encoded signature

[2021-10-14 12:03] AkashSaxenaSaviantConsulting commented on #437
Is this issue fixed?
facing the same issue in one of my applications. Trying to get the username but it gives an error.

[2021-10-14 14:47] Rafael-Alves-Ab-Inbev opened #1535 "Question: id_token_hint on Header"
Hi!
We have a solution using id_token_hint, passing the id_token as a query string parameter to the B2C journeys.
We'd like to know if we can pass it on the header instead (because on query string sometimes we are getting too long tokens and it's generating some problems), and how to do it.

Thanks!

[2021-10-18 13:11] educosta opened #1539 "Service not registered: com.microsoft.identity.common.internal.ui.browser.CustomTabsManager"
**Describe the bug**
I am using msal library in an android app and this crash is occurring on many devices.
My user agent cannot be WEBVIEW.

**Smartphone:**
 - Device:
moto g(6) play;
moto z3 play ;
moto g(6);
Galaxy S8;
Galaxy Note8;
Galaxy A30;
LG Q60;
K61;
Redmi Note 8;

 - MSAL Version 2.2.0

**Stacktrace**
Fatal Exception: java.lang.IllegalArgumentException: Service not registered: com.micro

[2021-10-19 12:34] ljunquera commented on #1524
I got it working. I changed the signature hash to the one with the default password. Previously I created a signature hash with a custom password, as I thought the default one was just an example. It seemed to be working for a few months, until I got this error. I'm not sure why. Perhaps it coincided with the expiration of the 90 day token.

[2021-10-19 12:35] #1524 closed

[2021-10-19 21:04] StuSharpe opened #1540 "Google Play reporting "Unsafe cipher mode" for StorageHelper.java"
**Issue**

Our android app is receiving this error in our Google Play pre-launch report :

[code]

**Proposed Solution**

To resolved the error.  The report suggests changing from existing cyber algorithm from:

` private static final String CIPHER_ALGORITHM_FOR_KEY_TRACKING = "AES/ECB/PKCS5Padding";`

to

` private static final String CIPHER_ALGORITHM_FOR_KEY_TRACKING = "AES/GCM/NoPadding";`

as

[2021-10-21 16:23] paulkagiri commented on #1531
Yeah, did it help?

[2021-10-21 16:25] paulkagiri commented on #1539
Hello @educosta, will look into this

[2021-10-23 01:36] ljunquera opened #1543 "Google Play Internal Testing error, production hash, App Store Signing"
I am using AAD B2C in an Android app, which is working on my dev machine (Macbook Pro) but is crashing when I deploy it on Google Play for Internal Testing. The error I am getting is:

`The  redirect URI in the configuration file doesn't match with the one generated with package name and signature hash. Please verify the uri in the config file and your app registration in the Azure portal.`

When

[2021-10-26 14:35] #1531 closed, assigned to nobody

[2021-10-28 12:03] unhammer opened #1546 "Override expiry for testing"
**Describe the bug**
This is a development issue. I'm trying to test that expiry and refresh are working, but I can't find anywhere to ask for a shorter expiry or set it to something shorter. Waiting an hour each time leads to slow development time. I can't see anywhere in the API that mentions expiry (though I do see `AcquireTokenSilentParameters.Builder.forceRefresh(true)` at least so I can manu

[2021-10-28 12:17] unhammer opened #1547 "Missing clear docs on B2C token refresh"
**Describe the bug**
My app is not yet live. Similarly to https://stackoverflow.com/questions/66351743/how-to-implement-imultipleaccountpublicclientapplication-in-a-app-requiring-mult I can't find any clear documentation of the expected workflow for doing token refresh.

Should we be running `acquireTokenSilentAsync` every few minutes, or before every request?

https://docs.microsoft.com/en-us/azu

[2021-11-01 06:18] paulkagiri commented on #1543
@ljunquera for the first question, since you are using Play App Signing, head over to Google Play Console -> Play App Signing and pick the SHA-1 certificate fingerprint and generate a hash from it using various ways such as `echo {SHA-1 FINGERPRINT} | xxd -r -p | openssl base64` and use that in your App.

For the second question, you can use build type specific res values to dynamically switch bet

[2021-11-01 11:38] ljunquera commented on #1543
Thanks, @paulkagiri. I think I got that one answered.

**Android Manifest**
In the build.gradle I added this for each buildType where needed:
`manifestPlaceholders = [signatureHash:"<your signature hash>"]`

and this in the AndroidMainfest.xml:
`android:path="${signatureHash}"`

**Configuration File**
[This article ](https://www.journaldev.com/21533/android-build-types-product-flavors)and [this do

[2021-11-02 09:38] RRaulAndrei commented on #1476
Hi @rpdome, any updates on this one?

[2021-11-03 15:18] paulkagiri commented on #1543
Cool, I will close this one for now

[2021-11-03 15:18] #1543 closed

[2021-11-03 16:22] OmarHassan25 commented on #1340
Any updates on this issue?

[2021-11-03 21:09] OmarHassan25 commented on #1094
Could you please show a sample for the custom scopes which enable CA policy?

[2021-11-06 12:06] ljunquera opened #1550 "How to configure Signature Hash with Google Play Signing"
How do you generate a signature hash for an app when Google manages the key. I am getting errors when deploying to internal testing:

![image](https://user-images.githubusercontent.com/4500512/140608836-80dd33a1-1e7b-4591-8455-b65c5c86bc25.png)

The redirect URI matches. It seems to be related to the signature hash and how it is generated. The instructions for generating a production (I think this

[2021-11-07 15:22] ljunquera commented on #1550
Here is the solution, which I found [here.](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/931#issuecomment-632837482)

Go to the app in the Google Play Console and in the Release section of the menu options you will see:
![image](https://user-images.githubusercontent.com/4500512/140650760-3c4888ce-888e-40b6-97c3-3bcb5f5dfcba.png)

The main screen will show:
![image

[2021-11-23 11:09] MookieFumi opened #1557 "Can't update from 2.0.2 to 2.0.3"
I'm trying to upload the com.microsoft.identity.client:msal package from 2.0.2 to 2.0.3 but I'm getting an exception building the project from Android Studio.

MSAL Version: 2.0.2 to 2.0.3

**Stacktrace**

[com.microsoft.identity:common:3.0.6] /Users/mookiefumi/.gradle/caches/transforms-2/files-2.1/2b17282acf2559378f73cf15df3ed506/AndroidManifest.xml:20:9-59 Error:
	Missing 'package' key attribute

[2021-11-23 11:34] MookieFumi commented on #1557
I think it's resolved updating com.android.tools.build:gradle from 3.4.2 to 3.5.4

Now, its building successfully

[2021-11-23 11:34] #1557 closed

[2021-11-26 18:38] MarceloEsser opened #1561 "com.microsoft.identity.client.exception.MsalClientException: Sdk cancelled the auth flow as the app launched a new interactive auth request."
**Describe the bug**
Hi guys! I'm experiencing literally the same closed [issue](https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/923#issue-561208423) in a production app.  But my authorization_user_agent cannot be WEBVIEW (social login don't work with webview).

 - Device: any
 - Android Version:  6 or higher
 - Browser: any
 - MSAL Version - 2.2.1

**Stacktrace**
co

[2021-11-26 18:51] LTMezzari commented on #1561
I'm having the same problem in a production app as well. We cannot use the **authorization_user_agent** as WebView.

[2021-11-29 12:24] educosta opened #1562 "Unable to complete authorization as there is no interactive call in progress. This can be due to closing the app while the authorization in process."
It gives below error when go to login page. I can't use webview because I have social login

**Unable to complete authorization as there is no interactive call in progress. This can be due to closing the app while the authorization in process.**

![MicrosoftTeams-image (5)](https://user-images.githubusercontent.com/3913187/143867321-f79fcdda-6141-484d-a6ea-2cd68f2efbc9.png)

[2021-11-30 15:59] samai2 commented on #1561
Very similar issue with account mode "SINGLE". After start authentication, browser won't close and will get in loop with authorization window. Issue reproduced only with enabled  'Don't keep activities' in the developer settings on your device

[2021-12-01 06:39] sherwin14 opened #1565 "Missing 'package' key attribute on element package at [com.microsoft.identity:common:3.6.2] AndroidManifest.xml:20:9-59"
I'm having these error while rebuilding my projects.

![image](https://user-images.githubusercontent.com/6423143/144184632-ed668337-9518-484c-aff4-2ed4afb0b293.png)

[2021-12-01 06:46] sherwin14 commented on #1565
SOLVE!

Updated my gradle from 3.4.2 to classpath 'com.android.tools.build:gradle:3.4.3'

[2021-12-01 06:46] #1565 closed

[2021-12-03 10:33] luethib opened #1566 "Failed to load generated key pair from keystore with Android 7.1.2"
**Failed to load generated key pair from keystore with Android 7.1.2**
When using our app on a normal android Cellphone (e.g. samsung device with Android 8.0.0) it works fine. However when we try to login on an Android device with Android 7.1.2, without screen lock and without google services (unfortunately we cannot change that), we get an error. The error occures during login, the login page is

[2021-12-06 15:40] mtapiero opened #1567 "MsalClientException: No cached accounts found for the supplied homeAccountId and clientId"
When requesting a silent token on a custom B2C authorization flow, the MSAL library throws the exception: `No cached accounts found for the supplied homeAccountId and clientId`
Requesting an interactive token works well.

The DotNetCore and Javascript implementations work.
The error occurs when calling the IMultipleAccountPublicClientApplication.acquireTokenSilentAsync method

**Smartphone (please

[2021-12-06 15:44] mtapiero commented on #1033
@icc-romeu Do you remember by any chance what was the issue exactly? We are facing the same problem, and cannot find a solution.

[2021-12-07 07:42] icc-romeu commented on #1033
Hi @mtapiero, as I explained before, it was a B2C configuration issue but I am not the Azure engineer and I do not have the details.

We have been using the react-native-msal library and I found the same problem and this time, the thing was that the idToken is returned in a different place if the account does not belong to the local tenant. Maybe it helps: https://github.com/stashenergy/react-nati

[2021-12-07 10:48] paulsoman opened #1568 "Unable to perform cloud discovery in Android 12 Google pixel device"
**Describe the bug**
My app is in production, I am facing an issue with the Android 12- pixel device. When I run the app on Pixel device (Android 12) username and password is asking for again and again.

**Smartphone (please complete the following information):**
 - Device:Google Pixel
 - Android Version: Android 12 - API 31
 - MSAL Version : 2.2.0

**Stacktrace**
E/AdalMigrationAdapter:loadCloudD

[2021-12-07 14:41] felipe-allmeida commented on #1561
Just tried on my machine. I'm using a Mac Air Bigsur M1 ARM64. Facing the exact same issue.

Dou you guys have any update on this?

Thanks

[2021-12-09 11:29] trev83 opened #1569 "ADFS?"
Hello, i have an android app running msal 2.2.2 and have been connecting to azure ad perfectly.
I now have a need to get it to connect to ADFS
Does this library support it and if so how do i format the .json for it?

Ive been given

Client ID: ???????
Client Secret: ?????
Metadata: https://f????

URLS configured:
https://???
https://?????

Application identifier:
???? (this seems to be the same as

[2021-12-10 09:08] ManasiKher opened #1570 "Authentication is failing with COMPANY_PORTAL_REQUIRED Error in all Dev(Engg), Test and Prod environments even though it's completely registered with user"
**Describe the bug**
Below are the issue details:

Logs from device:

2021-12-10 13:36:10.970 31023-31023/? I/System.out: class d.c.a.b.m.a.b.h MsalIntuneAppProtectionPolicyRequiredException received.
2021-12-10 13:36:10.971 31023-31023/? I/System.out: LoginActivity acquireTokenFail : AADSTS53005: Application needs to enforce Intune protection policies.
2021-12-10 13:36:10.971 31023-31023/? I/Syst

[2021-12-15 11:41] anandayyanar3450 commented on #758
Dear team I using the openid connect library ie net.openid:appauth:0.10.0
Although the mfa verification via sms redirects me to the app, and mfa call verification done on a different device works, But suppose the mfa call verfication is done on the same device then I am unable to redirect back to the app .
Kindly help me to resolve this issue

[2021-12-17 13:49] Digipom commented on #1540
Just commenting that the issue is still present in version 2.2.2. I'm receiving this warning as well.

[2021-12-21 12:30] luethib opened #1573 "Google Play Store console flagging Unsafe Cipher Mode"
please update to [https://github.com/AzureAD/microsoft-authentication-library-common-for-android/releases/tag/v3.6.6](https://github.com/AzureAD/microsoft-authentication-library-common-for-android/releases/tag/v3.6.6) to get rid of [https://github.com/AzureAD/microsoft-authentication-library-common-for-android/issues/1646](https://github.com/AzureAD/microsoft-authentication-library-common-for-andr

[2021-12-22 16:56] nguyenvanminhc9nvm opened #1574 "(Android App) invalid_request: the provided value for the input parameter 'redirect_uri' is not valid. the expected value is a uri which matches a redirect uri registered for this client application."
**Describe the bug**
i try implement oneDriveSDK https://github.com/OneDrive/onedrive-sdk-android like this
but when i Get a OneDriveClient object i was receiver this error and i can't resolved this, please

**Smartphone (please complete the following information):**
 - Device: [Note 20 Ultra]
 - Android Version: [11]
 - Browser [e.g. Chrome, Edge]
 - MSAL Version 0.8.6

[2021-12-29 04:16] anandayyanar3450 opened #1575 "Call Me option not able to redirect to redirect_uri after doing using openid-connect library"
I am using the open id connect library to get the authorisation tokens to validate the user.
So here user taps login in app
• app opens custom tab with Microsoft authentication
• user inputs credentials in custom tab and taps login in the custom tab
• user has 2FA enabled so he choses phone call verification(ie MultiFactor authentication via call) on this second step
• he gets called by the phone

[2022-01-16 23:59] VansonLeung opened #1581 ""withFragment" does not work, I need help / a sample of how to use "withFragment" to embed MSAL login into my app"
This issue only occurs when using:

    parametersBuilder.withFragment(fragment)

[code]

The result is that the AuthorizationActivity was "finish()"ed immediately after AuthorizationFragment runs "onCreate()"

Here's the MSAL debug log:

[code]

By removing:

            parametersBuilder = parametersBuilder.withFragment(fragment)

, the MSAL login works immediately

[code]

There is NO documenta

[2022-01-18 08:09] muhammad-farhan-bakht opened #1582 "SSO is asking for login again in Webview in few devices"
**Describe the bug**
The app is in Production.
We have followed the MASL SSO implementation from the documentation [here](https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android) after login we show the content in Webview.

1. The flow is working fine in almost all testing devices as we sign in through MASL SSO then go to Webview Activity and load the content everything

[2022-01-18 18:42] mlynch opened #1583 "aud in JWT token payload is not client id"
**Describe the bug**

When requesting a token, the `aud` field is coming back as `"https://graph.microsoft.com"` instead of the client id.

**Smartphone (please complete the following information):**
 - Device: Pixel 2 API 28 (emulator)
 - Android Version:  Android 9
 - MSAL Version - 2.0.12

**To Reproduce**

Acquire a token as follows:

[code]

When the `result.getAccessToken()` is returned in t

[2022-01-21 07:11] Nicole9233 opened #1586 "Is there any plan for calling broker that used by react native application?"
### Core Library

MSAL.js v2 (@azure/msal-browser)

### Core Library Version

2.14.1

### Wrapper Library

Not Applicable

### Wrapper Library Version

none

### Description

We're developing a react-native web-view mobile application on Android device to call Microsoft Graph. We use WebView for authentication instead of system browser so they cannot use TLS device authentication and react native

[2022-01-21 14:05] premnirmal commented on #1540
Any updates on this issue? It is still being reported in google play and it can prevent apps from being released

[2022-01-21 19:09] fernando-aguiar-cit commented on #1567
Hi @mtapiero Did you find any solution for this?
I'm having the same issue here that only the silent renew token is not working.
I tried everything with my code and the sample code for this.

[2022-01-24 17:29] ellymakuba commented on #1586
Javascript doesn't have full support for this.

[2022-01-24 18:26] aeroxr1 commented on #1540
The new version 2.2.3 resolve the issue ?

[2022-01-24 19:14] ellymakuba commented on #1586
Does the Anroid team have plans to support React native? please help me answer this enquiry!

[2022-01-28 21:37] DavidPROVOST opened #1588 "Hello, my organization uses google as its main directory and authentication provider. Our veolia.com domain is "federated to google". So when I connect to azure from a browser, google authentication page opens and guides me through the MFA that's configures for my google account"
From Samsung A41, trying to connect teams or power bi through google-federated Azure accounts.
Works fine from à browser : Microsoft sign on buttons opens a google webview which guides me through the mfa configured on my google account.
But trying to connect from an Android app (teams, power bi, Microsoft aithenticator) always triggers a Google 403 error and message complaining about disallowed us

[2022-01-29 10:14] v-po commented on #1061
Greetings!
I don't mean to resurrect this old issue. However, I thought I'd share my solution that builds upon some of the suggestions from this discussion. My intention was to support the more "modern" ways of working on Android (Dagger/Hilt, AAC VMs, Kotlin coroutines). The sample can be found here: https://github.com/v-po/msal-sample

It's still very much a work in progress and I would greatly

[2022-02-07 13:12] vicpinm opened #1589 "Custom tabs color"
Hi, I need to set the toolbar color when opening chrome custom tab. I've seen this issue: https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/57

No updates in 5 years? Can we set the color of chrome custom tab somehow?

[2022-02-08 01:05] bshigley opened #1590 "MsalException - BrowserTabActivity is missing"
For a quick background, my Android project has more than 100 `productFlavors` in the `app/build.gradle` file. Each `productFlavor` is a distinct app, with a different package name, different resources, and different Office SSO information. I inject the `host`, `path` and `scheme` values into the manifest from the `app/build.gradle` file like this:

[code]

and

[code]

My `compileSdkVersion` and `

[2022-02-10 19:46] FarazJelani opened #1591 "Chrome is the only option, MS Sign-in Page not opening on other browser. If chrome is not set as default, this page won't open at all."
**Describe the bug**
The app is live and in production. If chrome is not set as default the MS sign-in page won't open. Other than chrome if we choose browser for example Samsung's Internet browser, the sign-in page won't open.

**Smartphone (please complete the following information):**
 - Device: [ALL]
 - Android Version: [Android 5.0 and above]
 - Browser [ALL]
 - MSAL Version - 1.5.5

**Stackt

[2022-02-11 10:19] NLLAPPS opened #1592 "How to create PublicClientApplicationConfiguration dynamicly?"
Hi, I am trying to build PublicClientApplicationConfiguration  in Java rather than using json file.
 My json config is
      `   {
  "authorities": [
    {
      "type": "AAD",
      "audience": {
        "type": "AzureADandPersonalMicrosoftAccount"
      },
      "default": true
    }
  ],
  "account_mode": "SINGLE",
  "authorization_user_agent": "WEBVIEW",
  "multiple_clouds_supported": true,

[2022-02-14 10:52] nithinyell commented on #1540
Any Update on issue?

[2022-02-15 05:30] harishvgk opened #1594 "Aquire Token Silently - Exception thrown - Attempt to invoke virtual method 'void com.microsoft.identity.common.internal.providers.oauth2.TokenErrorResponse.setStatusCode(int)' on a null object reference"
Getting this exception on calling acquireTokenSilentAsync,  after 1 hour of login:-
silent token error :: com.microsoft.identity.client.exception.MsalClientException: Attempt to invoke virtual method 'void com.microsoft.identity.common.internal.providers.oauth2.TokenErrorResponse.setStatusCode(int)' on a null object reference

Calling the same method acquireTokenSilentAsync in multiple scenarios,

[2022-02-21 15:35] mlynch commented on #1583
Curious if anyone has any ideas why we can't get the `aud` field to match the client id here. We're really struggling to figure this out.

[2022-02-21 18:27] ashu2451990 opened #1596 "getting DRS request failed."
I am getting below error in  acquireToken Interactive callback . Can anyone help me for the same?

==> getAuthorizationInteractiveCallback onError exception: com.microsoft.identity.client.exception.MsalClientException: DRS request failed
2022-02-21 23:54:57.563 7446-7446/E/App: Authentication error
    com.microsoft.identity.client.exception.MsalClientException: DRS request failed
        at com.m

[2022-02-21 20:23] mlynch commented on #1583
It seems like we're getting a token with ver 1.0 rather than 2.0. How can we make sure we get a 2.0 token using this API?

[2022-02-23 15:07] Digipom commented on #1540
I tried version 2.2.3 and the warning no longer appears in Google Play for me.

Now if only the team would update their Proguard documentation. :)

[2022-03-02 08:33] wainaina commented on #1573
Issued fixed.

[2022-03-06 18:02] ashu2451990 commented on #1148
Getting again same issue as below :

2022-03-06 23:31:01.199 22188-22188/ E/App: Authentication error
    com.microsoft.identity.client.exception.MsalServiceException: OpenId Provider Configuration metadata failed to load with status: 400
        at com.microsoft.identity.client.internal.controllers.MsalExceptionAdapter.msalExceptionFromBaseException(MsalExceptionAdapter.java:74)
        at com.mi

[2022-03-08 09:26] kuladeepu-pillaappalasurya-by opened #1598 "No cached accounts found for the supplied homeAccountId and clientId"
**Bug description**
When acquiring token silently in android app(development mode), we are getting the issue **No cached accounts found for the supplied homeAccountId and clientId**. Although with the same set of configurations we are able to acquire token interactively.

**Smartphone (please complete the following information):**
 - Device: Emulator(Nexus 5X)
 - Android Version: [API Level - 29]

[2022-03-09 13:50] wainaina commented on #1574
Hello, kindly raise this issue on https://github.com/OneDrive/onedrive-sdk-android/issues

[2022-03-09 14:16] wainaina commented on #1568
As a first step, kindly update to the latest version v2.2.3 as we continue investigating this error.

[2022-03-10 20:32] mdivkovic-speech opened #1602 "Is MSAL for Android using FIPS validated cryptography?"
[FIPS](https://en.wikipedia.org/wiki/FIPS_140-2) Is a security standard that federal agencies in the US have to adhere to, and that means that the software they use also has to be built on top of FIPS validated cryptography.

Following this, could you answer these questions:

Is the MSAL Android client library using [FIPS approved cryptographic algorithms](https://cryptosense.com/blog/which-algori

[2022-03-15 05:16] FarazJelani commented on #1591
Please let me know if more information is required.

[2022-03-16 08:33] paulokagiri commented on #1596
@ashu2451990 could you kindly share some more information on how your application is configured?

[2022-03-16 08:46] paulokagiri commented on #1594
@harishvgk what token expiry configurations do you have in place?

[2022-03-16 09:00] paulokagiri commented on #1592
@NLLAPPS kindly use the `SingleAccountPublicClientApplication`, refer to https://docs.microsoft.com/en-us/azure/active-directory/develop/tutorial-v2-android

[2022-03-16 09:10] paulokagiri commented on #1591
@FarazJelani kindly update MSAL to the latest version, also have a look at the tested browsers here and how to switch between the different options here - https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#tested-browsers

[2022-03-16 12:58] Luiz-Franco commented on #1140
Hi!

Any news on this?

[2022-03-16 14:25] wainaina commented on #1570
The token was not acquired because the app needs to enforce Intune protection policies.
`2021-12-10 13:36:10.970 31023-31023/? I/System.out: class d.c.a.b.m.a.b.h MsalIntuneAppProtectionPolicyRequiredException received.`
`2021-12-10 13:36:10.971 31023-31023/? I/System.out: LoginActivity acquireTokenFail : AADSTS53005: Application needs to enforce Intune protection policies.`

This leads to company

[2022-03-16 14:32] wainaina commented on #1562
This is due to closing the app while the authorization is in progress. The flow requires that the browser/webview be opened, for authorization and then revert control back to the calling thread..

[2022-03-16 15:07] wainaina commented on #1561
When you have "Don't keep activities enabled", Android System calls onStop to the Activity/ Fragment.when a new interactive request is started, this leads to a `Hosting Activity is destroyed before Auth request is completed` which then leads to cancelling of the authentication flow.

[2022-03-16 19:46] rpdome commented on #1598
Hi @kuladeepu-pillaappalasurya-by

May I ask how you load the account object? I'm assuming you're using

[code]
If so, what realm are you using? and what is the value you're seeing in the cache?

It would really be helpful if you can [wire up MSAL logs](https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-logging-android) (+ set log level to verbose and enable PII). Repro the issue

[2022-03-17 10:38] Dommerjon commented on #1566
I see exactly the same behavior on our DJI Enterprise Smart Controller (Android: 7.1.2), but not a connected Android 11 Phone on MSAL: 3.0.2

[2022-03-21 10:21] ghost opened #1605 "[Question] Cannot refresh MSAL account claims when acquiring token silently."
Hello,

Is there any way to refresh the account claims when using the acquireTokenSilent method?

We have noticed that account claims refresh only when we use acquire token method interactively. However, we don't want to require the user to log in again, each time a custom claim in our account claims changes.

Thank you  for your time.

[2022-03-21 12:04] ljunquera commented on #1568
I'm having the same problem.

[2022-03-21 12:16] ljunquera opened #1606 "Documentation says 'com.microsoft.identity.client:msal:2.0.+' when v2.2.3 is recommended"
Why does the [documentation ](https://github.com/AzureAD/microsoft-authentication-library-for-android#step-1-declare-dependency-on-msal) say:

[code]
When it looks like you're up to [2.2.3](https://github.com/AzureAD/microsoft-authentication-library-for-android#microsoft-authentication-library-msal-for-android) and recommending when [triaging issues](https://github.com/AzureAD/microsoft-authentica

[2022-03-21 12:23] wainaina commented on #1606
Thanks for this feedback, we will quickly update the same to reflect the progress.

[2022-03-21 13:55] kuladeepu-pillaappalasurya-by commented on #1598
Hi,
Thanks for the reply.

We are using SDK method to silently login into B2C Mode,
```void acquireTokenSilentAsync(@NonNull final AcquireTokenSilentParameters acquireTokenSilentParameters);```
not the below mentioned method for getting the Account.
[code]

we already tried on the [sample application](https://github.com/Azure-Samples/ms-identity-android-java) with our credentials, able to login su

[2022-03-23 08:57] wainaina commented on #1586
Kindly have a look at this https://www.npmjs.com/package/@azure/msal-react

[2022-03-23 09:04] wainaina commented on #1586
Kindly have a look at this project, unfortunately, we are not officially supporting it.

https://www.npmjs.com/package/react-native-msal

[2022-03-23 09:10] #1574 closed

[2022-03-23 16:52] shoatman commented on #1569
We don't support ADFS in MSAL.  We only support Microsoft Identity cloud IDPs....  Which version of ADFS are you hoping to support?  We had plan to add support, but it was de-prioritized.

[2022-03-23 16:55] shoatman commented on #1561
@wainaina - Let's discuss if this is something that we want to try and fix.  Do we have a repro without configuring this developer option?  A user impacted by memory pressure in this scenario?

[2022-03-23 21:41] iori57 opened #1607 "AcquireTokenSilently took fairly long time to retrieve access token from cache"
Following the guidelines highlighted at https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-acquire-cache-tokens , every time before I make an API call I'll first call acquireTokenSilentAsync to get the access token either from cache, or a new one automatically using the refresh token.

This works well, except that it seems to be quite slow in retrieving from cache. See below scre

[2022-03-28 11:04] SamC-Apadmi opened #1609 "Refresh Token not invalidated on logout"
**Describe the bug**
I'm not entirely sure this is a bug, may be user error on my part but on logout the refresh token is not invalidated server side. I can continue using a refresh token after logout.

By proxying I'm also not seeing the SDK attempt to make any network calls to notify the server of the logout.

**Smartphone (please complete the following information):**
 - Device: OnePlus 8
 - An

[2022-03-29 13:30] slowcar commented on #1607
I implemented a small cache in our application to circumvent this issue, a simple hashmap with the msalAccountId as key and the token with an expiresOn date as value. Retrieving the cached token checks the expiresOn value against the current timestamp.
In case of an authorization error the cache entry is discarded and a fresh token requested from the library.

[2022-03-29 22:11] saeedalhamed commented on #1505
what was the issue please, what account privileges?

[2022-03-31 09:23] alexandru-spasenie commented on #1140
Interested on this also, we have a similar problem with our app as well. `The webView was redirected to an unsafe URL.` error when tapping certain links in Terms and conditions page.

[2022-03-31 11:34] gauravadr commented on #1396
@shoatman, any update on this issue.

[2022-04-01 11:01] ManasiKher commented on #1570
Thanks, Team. We had added required code to remediate compliance, when we receive an error for protection policies. However, this issue actually got resolved by extending Android Application class by MAMApplication  and Login Activity  (Where we get the Authentication UI)by MAMActivity. I guess these details seems to be not added in documentation. Please check if that needs to be updated.
Thanks.

[2022-04-01 11:01] #1570 closed

[2022-04-01 12:43] mdivkovic-speech commented on #1602
Any news on this topic? Thank you in advance! Basically, I would like to know, if:

- You use only the FIPS approved algorithms and key sizes
- You use only the OS standard cryptography (Android Jetpack Security, Cipher, etc.), and don't have your own build of something like OpenSSL or similar bundled with the SDK to do the encryption or hashing with instead

[2022-04-02 04:28] SIRAJUDHEENyakamoz opened #1613 "DREAM LAUNCHERS"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-04-04 18:48] ghost commented on #1605
@paulokagiri @wainaina Any feedback on the issue?

[2022-04-05 10:37] SamC-Apadmi commented on #1049
Have there been any changes on this?

[2022-04-07 14:24] rakeshh025 commented on #1486
@p3dr0rv Since refreshtoken is not exposed now, Could you please advise on how to access files from SharePoint? How do I  get the accessToken for Sharepoint? Please help.

I'm using MSAL SDK 2.2.3 for Android

[2022-04-07 23:25] saeedalhamed commented on #1505
what was the issue please, what account privileges, is it custom policy changes or account previliges on the B2C tenant side!

[2022-04-12 07:43] mundhava commented on #1396
@shoatman facing the same issue, is there any alternative to breaking the flow to handle such a situation? what's the release plan for a permanent fix?

[2022-04-19 07:22] mdivkovic-speech commented on #1602
OK, I've gone through the code myself, and I can see only system default cryptography being used. So in theory, if the crypto module has been FIPS validated for a given OEM hardware and OS combination, this should be fine.

The algorithms and key sizes also look OK. I noticed a single use of `MessageDigest.getInstance("SHA");`, but that's used in the Inspector app, and not in the SDK itself, so it

[2022-04-19 07:22] #1602 closed, assigned to shoatman

[2022-04-19 15:59] #1613 closed

[2022-04-20 16:04] wainaina commented on #1607
The extra verification step occurs while performing cloud discovery.

Before any :acquireTokenSilent call the broker service has to check whether the Azure Active Directory Service is initialized or not, if not, we start by initializing the AAD service and this requires a HTTP call to the service. We validate the cloud we are using at that point in order for us to verify that the clients are only

[2022-04-20 16:04] #1607 closed, assigned to nobody

[2022-05-05 06:52] vishal-pachori-by commented on #1598
Do we have any updates on this? @wainaina @rpdome
@rpdome  we have already shared the logs through Email

[2022-05-09 03:53] skbrijesh13 commented on #1027
Hi,
I have added all the repositories as mentioned above, however I am still facing the same issue where it is looking for deplay-mask library

Could not find com.microsoft.device.display:display-mask:0.3.0.
Required by:
    project :app
    project :app > com.microsoft.identity:common:2.0.12-hf1
Search in build.gradle files

strange that it is not fixed for dependencies, if I wish to use the late

[2022-05-17 13:35] mpomiankiewicz commented on #1335
Hi @iambmelt, is there a way to change the background of the loading screen? Or delay showing WebView until login page is loaded? Our app and login page has dark background and it would be great if we could skip showing the white loading page.

[2022-05-17 21:07] dcannaWegmans opened #1623 "Allow multiple Apps to use same redirect URI"
The latest version of the library (3.0.2) throws an exception if you have multiple apps listening to the same redirect URI. Our company tests with multiple flavors of the android app and requires us to be in this situation. Can you add some sort of override feature that will allow this to happen like it did in version 2.2.3 and before?

Thank You!

[2022-05-24 10:44] ansari9546 opened #1626 "Chrome browser not found error for android 11"
when i use microsofy identity client library for signing in on android 11 i get an error that Chrome browser not found. working fine on android 10.
Android 11 (any device)
microsoft identity client:msal : 0.1.3

![image](https://user-images.githubusercontent.com/29058348/170018525-5729bbb1-5aa7-431f-b5c7-61e3d60df852.png)

[2022-05-24 14:55] codylund opened #1627 "Deadlock during second interactive brokered auth request if first request is abandoned"
**Describe the bug**
If multiple simultaneous interactive brokered auth sessions are started in the same application, the second (and beyond) interactive session will deadlock on an infinite spinner until all former sessions are finished.

This issue has been observed during development and a temporary workaround has been identified, but this could block our migration from ADAL to MSAL and/or caus

[2022-05-27 17:11] codylund opened #1631 "If BrokerActivity destroyed, account chooser activity can spin indefinitely"
**Describe the bug**
`BrokerActivity` is not robust to the `Activity.onDestroy()` lifecycle event which [the system may trigger at arbitrary times](https://developer.android.com/reference/android/app/Activity#onDestroy()) while `BrokerActivity` is in the background to temporarily preserve system resources. Contrary to the current assumptions in `BrokerActivity`, `onDestroy()` may be called while t

[2022-05-30 10:49] richshepard opened #1632 "Trying to get App Only token silently"
I am trying to find an API that works for this and having problems. from the research I have been doing I think I need App Only tokens, whereas the examples here are for user tokens by the looks of it as they require an interactive login.

We have a C# example working which uses ConfidentialClientApplicationBuilder, but no such class exists for Android. The aim is to get a Access Token silently in

[2022-05-31 08:28] Pravin-shelke commented on #1146
MsalClientException: The redirect URI in the configuration file doesn't match with the one generated with package name and signature hash. Please verify the uri in the config file and your app registration in Azure portal.We expected

same auth file and same manifest run in demo project but on actual project getting this kind of Exception

[2022-06-05 21:58] eusebiu commented on #1481
I am interested in calling MSAL for android from an Unity app. How do you call MSAL from AltSpaceVR running on Quest? Is there a separate wrapper or you invoke it directly?

[2022-06-06 12:40] andkrawiec opened #1634 "Obtain "deviceId" programmatically"
Can I programmaticaly retrive "deviceId" UUID visible in Microsoft Authenticator app and protal.azure.com?

![image](https://user-images.githubusercontent.com/32813983/172161633-918173da-2e02-4996-896d-5e98d4ef9ad2.png)

I've tried to fetch it like that: https://github.com/AzureAD/microsoft-authentication-library-for-android/issues/637

but "deviceId" is not present in either "mAccount#mIdTokenCla

[2022-06-14 09:45] alzakharenk opened #1638 "AssertionError: No NameTypeIndex match for SHORT_DAYLIGHT"
**Crash from appcenter**
Is your app live and in production or is this a development issue? Provide a clear and concise description of what the bug is.

**Smartphone (please complete the following information):**
 - Device: moto g(6) plus
 - Android Version: Android 8.1.0
 - MSAL Version 3.0.2

**Stacktrace**
android.icu.impl.TimeZoneNamesImpl$ZNames.getNameTypeIndex TimeZoneNamesImpl.java:724
and

[2022-06-24 15:53] rojaslcc opened #1642 "HTTP request to /me/joinedTeams fails"
**Describe the bug**
I implement a single account login, I get the token in my Android app. But I can only get data from the /me endpoint, but if I try to use /me/joinedTeams I get an unknown error with code 401 Unauthorized. To implement the login I relied on the code from this repo: https://github.com/Azure-Samples/ms-identity-android-kotlin

**Smartphone**
 - Device: Samsung s21+ and Android St

[2022-06-29 14:54] ukevgen commented on #563
If you still have an error , try to go in Azure AD B2C -> android app -> Api access -> Click on Add -> Permitted Scopes and add scopes from your test web api

[2022-07-06 07:55] MathieuCalba commented on #1623
We are facing the same issue. can we have more information about why this change has been made?

[2022-07-06 08:11] MathieuCalba opened #1648 "Are you trying to connect to "Azure AD app name" prompt displayed when signing"
**Describe the bug**
App is in production.

**Smartphone (please complete the following information):**
 - Device: Motorola G10, Pixel 4a, all devices
 - Android Version: API 29, API 30, API 31, etc
 - Browser: Chrome
 - MSAL Version: 3.0.2

**To Reproduce**
1. Tap Sign in with Microsoft button
2. Enter your credentials
3. See are you trying to connect to "Azure AD app name" prompt

If related to

[2022-07-13 17:08] YashNagayach95 commented on #206
For me also, it is skipping. Any idea?

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by retrofit2.Platform (file:/home/runner/.gradle/caches/transforms-3/4bab49e38167b37dc6d512f0b3f95435/transformed/jetified-retrofit-2.9.0.jar) to constructor java.lang.invoke.MethodHandles$Lookup(java.lang.Class,int)
WARNING: Please consider reporting this to the

[2022-07-15 17:48] Happy202121 opened #1655 "App stopped working for GCC High tenants after migrating from ADAL to MSAL"
**Describe the bug**
Our app is in production. After migrating from ADAL to MSAL, our Intune-integrated app no longer works for GCC High customers. After entering their email and password, they get the error "AADSTS700016: Application with identifier not found in the directory (domain name)".

With ADAL, our GCC High customers did not get this error.

**Smartphone (please complete the following in

[2022-07-17 22:45] #1606 closed, assigned to wainaina

[2022-07-17 22:48] #1596 closed, assigned to wainaina

[2022-07-17 22:49] #1592 closed, assigned to wainaina

[2022-07-17 22:49] #1591 closed, assigned to wainaina

[2022-07-17 23:01] #1511 closed

[2022-07-17 23:01] #1513 closed

[2022-07-17 23:01] #1516 closed

[2022-07-17 23:01] #1520 closed

[2022-07-17 23:01] #1535 closed

[2022-07-17 23:01] #1539 closed

[2022-07-17 23:01] #1540 closed

[2022-07-17 23:01] #1546 closed

[2022-07-17 23:01] #1547 closed

[2022-07-17 23:01] #1550 closed

[2022-07-17 23:01] #1561 closed

[2022-07-17 23:01] #1562 closed

[2022-07-17 23:01] #1566 closed

[2022-07-17 23:01] #1567 closed

[2022-07-17 23:01] #1568 closed

[2022-07-17 23:01] #1569 closed

[2022-07-17 23:01] #1575 closed

[2022-07-17 23:02] #1413 closed

[2022-07-17 23:02] #1414 closed

[2022-07-17 23:02] #1416 closed

[2022-07-17 23:02] #1422 closed

[2022-07-17 23:02] #1425 closed

[2022-07-17 23:02] #1439 closed

[2022-07-17 23:02] #1443 closed

[2022-07-17 23:02] #1453 closed

[2022-07-17 23:02] #1454 closed

[2022-07-17 23:02] #1457 closed

[2022-07-17 23:02] #1470 closed

[2022-07-17 23:02] #1471 closed

[2022-07-17 23:02] #1476 closed

[2022-07-17 23:02] #1481 closed

[2022-07-17 23:02] #1489 closed

[2022-07-17 23:02] #1490 closed

[2022-07-17 23:02] #1508 closed

[2022-07-17 23:02] #1509 closed

[2022-07-17 23:02] #1296 closed

[2022-07-17 23:03] #1297 closed

[2022-07-17 23:03] #1303 closed

[2022-07-17 23:03] #1320 closed

[2022-07-17 23:03] #1331 closed

[2022-07-17 23:03] #1340 closed

[2022-07-17 23:03] #1369 closed

[2022-07-17 23:03] #1370 closed

[2022-07-17 23:03] #1381 closed

[2022-07-17 23:03] #1391 closed

[2022-07-17 23:03] #1396 closed

[2022-07-17 23:03] #1406 closed

[2022-07-17 23:03] #912 closed

[2022-07-17 23:03] #930 closed

[2022-07-17 23:03] #961 closed

[2022-07-17 23:03] #969 closed

[2022-07-17 23:03] #1032 closed

[2022-07-17 23:03] #1049 closed

[2022-07-17 23:03] #1058 closed

[2022-07-17 23:03] #1061 closed

[2022-07-17 23:03] #1067 closed

[2022-07-17 23:03] #1079 closed

[2022-07-17 23:03] #1080 closed

[2022-07-17 23:03] #1089 closed

[2022-07-17 23:03] #1099 closed

[2022-07-17 23:03] #1116 closed

[2022-07-17 23:03] #1128 closed

[2022-07-17 23:03] #1139 closed

[2022-07-17 23:03] #1140 closed

[2022-07-17 23:03] #1159 closed

[2022-07-17 23:03] #1165 closed

[2022-07-17 23:03] #1190 closed

[2022-07-17 23:03] #1199 closed

[2022-07-17 23:04] #57 closed

[2022-07-17 23:04] #391 closed

[2022-07-17 23:04] #411 closed

[2022-07-17 23:04] #422 closed

[2022-07-17 23:04] #426 closed

[2022-07-17 23:04] #427 closed

[2022-07-17 23:04] #437 closed

[2022-07-17 23:04] #441 closed

[2022-07-17 23:04] #468 closed

[2022-07-17 23:04] #498 closed

[2022-07-17 23:04] #503 closed

[2022-07-17 23:04] #507 closed

[2022-07-17 23:04] #539 closed

[2022-07-17 23:04] #563 closed

[2022-07-17 23:04] #602 closed

[2022-07-17 23:04] #610 closed

[2022-07-17 23:04] #672 closed

[2022-07-17 23:04] #708 closed

[2022-07-17 23:04] #783 closed

[2022-07-17 23:04] #797 closed

[2022-07-17 23:04] #806 closed

[2022-07-17 23:04] #823 closed

[2022-07-17 23:18] meinto commented on #1457
@negoe, why did you close this issue? Is there a solution for this in the meantime?

[2022-07-18 07:27] SamCosta1 commented on #1049
Was this closed because it's now implemented?

[2022-07-18 09:36] jsroest commented on #1514
Is it fixed?

[2022-07-18 16:13] negoe commented on #1642
@rojaslcc Can you please share the the arguments to acquiretoken in order to request this token. Also if you can share the correlationid?

[2022-07-18 16:24] negoe commented on #1626
@ansari9546 Please upgrade to the [latest release ](https://github.com/AzureAD/microsoft-authentication-library-for-android/releases/tag/v3.0.2)of MSAL Android.

[2022-07-18 16:24] #1626 closed, assigned to nobody

[2022-07-18 16:36] negoe commented on #1623
@dcannaWegmans @MathieuCalba We intentionally don't support this scenario because Android OS, when it returns the authorization code on completion of authorization; the redirect uri should be unique to access the correct application it is associated with. Otherwise, Android OS will present a prompt to the user asking them to select an app out of the multiple apps using the same redirect uri, which

[2022-07-18 16:36] #1623 closed, assigned to nobody

[2022-07-20 14:17] swetasamasti2310 opened #1659 "Play Store Error: Unsafe Cipher mode in classes of MSAL library latest version"
There is an error showing on play store for our app as follows:
Unsafe Cipher Mode
Your app contains a less secure encryption mode.
com.microsoft.identity.common.adal.internal.cache.StorageHelper.getKeyThumbPrint

[2022-07-21 04:29] negoe commented on #1659
@swetasamasti2310 Can you please confirm which version of ADAL are you using?

[2022-07-21 06:17] swetasamasti2310 commented on #1659
We are using MSAL 3.0.2 (latest). But we observed this issue also with 2.2.1.

[2022-07-22 07:27] MathieuCalba commented on #1340
@negoe was this implemented?

[2022-07-22 09:34] gsantner commented on #930
@negoe
The issue is closed without further comment, I don't see whether this is this now implemented or not?
Can MSAL on Android now use a assigned WebView, and how?

On iOS/macOS there is support for that <https://docs.microsoft.com/en-us/azure/active-directory/develop/customize-webviews>, but I don't see similar possibility on Android.
I'm not interested in injecting something into some webview.

[2022-07-22 19:40] Halfpint-Code opened #1660 "Device suddenly displaying "Invalid username or password""
We have a client that is experiencing the inability to login since last week (of 7/11/22) on their Zebra TC8000s. But only 3 of their devices went down. They are able to log in to the same app, we provide, on their personal phones. It's not hitting any of our breakpoints in Android Studio past the initial acquireToken(parameters) call.

When we input any credentials into the problem device, they a

[2022-07-25 12:17] wegdev commented on #1623
Understood, but it is fairly common for android development to have different flavors of the same application running on a single device, where production user's will not ever see that. We have been working with that 'confusion' for years and it has worked out fine. Is there any way to get this to be a configurable value instead of enforcing us to only have 1 version of our application per device?

[2022-07-26 23:43] tajchert commented on #526
In my case fix to this was to:
- update MSAL to 4.0.0 (there were some fixed with ProGuard in that area in 2020 so might be an issue if you use old lib version)
- Call `acquireTokenSilentAsync ` with builder parameter `AcquireTokenSilentParameters.Builder()`
- Change authority from `account.authority`  to one that is in web panel of MSAL and in configFile of MSAL library (I declare it in Gradle fl

[2022-07-27 06:59] Excited-Electron18 opened #1663 "Getting "io_error" & "Unable to perform cloud discovery" after migrating from NS6 to NS8"
We have just migrated our App from NS6 to NS8, Now we are getting the "io_error" >> "Unable to perform cloud discovery".

Not Sure, If we have to make any change in MSAL configuration or in Code.

Please let us know if someone faced the same issue.

[2022-07-29 06:49] vinhdp195 opened #1665 "[Bug] Acquire Token Silent Async time out 4 minutes when block endpointUrl ,using block(IP device) to WAN on router wireless"
Describe the bug:
I have an android app that uses get token silent async, in normal network state, it works without any problem.
However, when blocking the device's IP (block WAN) on the wireless router, getting the token is taking about 4 minutes to return an error
Block ip to WAN, I'm doing as instructed here : https://www.asus.com/in/support/FAQ/1013636/

The following information:
 - Device: T

[2022-08-01 14:27] jsroest commented on #1514
Hi @negoe, can you explain why this is closed? This issue is still relevant to me.

[2022-08-02 12:22] meinto commented on #1457
@shoatman, @iamgusain, @rpdome, @hamiltonha, @Om83, do you have further informations reguarding this topic?

[2022-08-02 15:34] jsroest commented on #1457
It's the same for an issue that I have raised #1514. All issues are being closed with the 'cleanup' label. I also asked about the reason why it was closed, but there is just no response.

[2022-08-04 08:22] drachim-dev commented on #1659
I have encountered the same problem. It seems that the problem should have been solved in #1540

[2022-08-05 16:52] CristhianUNI commented on #206
@YashNagayach95 could you solve?

In my case I have Jacoco 0.8.8 and the Skipped message was because it couldn't find the .exec file that was generated in the root directory in previous versions.

In version 0.8.8 I have these parameters configured in the build.gradle, maybe it will work for you:

[code]

let me know if it works for you

[2022-08-08 16:24] negoe commented on #1655
Follow up with @shoatman.

[2022-08-08 16:33] negoe commented on #1648
@MathieuCalba What is the authorization agent you are using in this case? Please follow the instructions here:  https://docs.microsoft.com/en-us/azure/active-directory/develop/msal-android-single-sign-on#authorization-agents

[2022-08-08 16:40] negoe commented on #1642
@rojaslcc Let us know, if this is solved for you. We will close the issue. Thanks!

[2022-08-09 00:08] mateyakje commented on #1512
I'm getting the same error on my smartphone.  Have we found a solution yet?

[2022-08-10 10:10] meinto opened #1676 "Reopened: Distribution of MS-Authenticator app in shared mode (for single-sign-on) without Intune."
@shoatman, @iamgusain, @rpdome, @hamiltonha, @negoe
Hi I reopen this issue (#1457) since this topic is still relevant for us.

**Below the original text from #1457:**

*Initial request*

This is not directly library related but it's necessary to know before you start using it. Therefore I ask this question here.

We want to use the brokered authentication with the MS-Authenticator for our apps as

[2022-08-10 16:04] negoe commented on #1514
Hi @jsroest This entire logout call has been removed. You should not be running into this issue anymore. Please checkout this PR https://github.com/AzureAD/microsoft-authentication-library-common-for-android/pull/1783

[2022-08-10 16:39] #1514 closed

[2022-08-12 16:15] negoe commented on #1655
@Happy202121 What's the authority you are using here?

[2022-08-12 16:22] Happy202121 commented on #1655
Hi @negoe , the AzureCloudInstance is Azure Public, the AadAuthorityAudience is AzureAdAndPersonalMicrosoftAccount. We have also tried using the AzureAdMultipleOrgs authority audience.

The cloud instance has to remain Azure public so our public cloud customers can continue to use it. We've found that no matter the authority we use, the auth request is routed to the correct tenant based on the use

[2022-08-12 18:26] negoe commented on #1655
This error means that wrong configuration is made for the Client ID OR tenant ID in your code, first please confirm that both are same as your azure portal application client and tenant.

![image](https://user-images.githubusercontent.com/38259657/184421003-de73f83b-f358-4410-9783-a900aae1d92e.png)

[2022-08-15 15:28] lebeshev opened #1677 "Missing classes when R8 minify is enabled"
**Describe the bug**
When building app with
[code]
and
[code]
R8 produces following warnings:
[code]

**Smartphone (please complete the following information):**
 - Android Version: API 31
 - MSAL Version: 4.0.0

[2022-08-15 15:40] lebeshev commented on #1677
My mistake. Full list of missing classes is this:
[code]

[2022-08-18 00:42] akgoel23 commented on #1457
Hi @meinto,
Currently, Zero Touch Provisioning (ZTP), which includes automation of rollout process for the MS-Authenticator on company devices, is only available with Microsoft Endpoint Manager. We acknowledge the importance of supporting ZTP for Microsoft’s Shared Device Mode (SDM) by 3rd party MDMs and are thus working tirelessly with them to support it. To get the latest update on the status of

[2022-08-19 14:59] Excited-Electron18 commented on #1663
Anyone, please help..

[2022-08-22 11:09] Excited-Electron18 commented on #1663
Issue is resolved now..
just followed the steps at https://android-developers.googleblog.com/2016/07/changes-to-trusted-certificate.html.

[2022-08-22 11:09] #1663 closed, assigned to nobody

[2022-08-22 17:38] iamgusain commented on #1631
Marking this as closed, as we are not able to reproduce it.
More details added to the bug https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1932240

[2022-08-22 17:38] #1631 closed, assigned to iamgusain

[2022-08-22 17:39] iamgusain commented on #1627
Marking this as closed [By design]. As this is the expected behavior to only process one interactive request at a time from the SDK
More details are added to the ADO item https://identitydivision.visualstudio.com/Engineering/_workitems/edit/1932239

[2022-08-22 17:39] #1627 closed, assigned to iamgusain

[2022-08-29 09:43] dsolerma commented on #1648
@negoe He mentions he's using Chrome Custom Tabs. The UX of his screenshot also matches.

[2022-08-30 08:26] AbhinawTripathi opened #1689 "Call option feature is not redirecting to client app - Call Option redirection not working"
**Describe the bug**
Is your app live and in production or is this a development issue? Provide a clear and concise description of what the bug is.
My app is live and in production. Earlier I was using MSAL B2C version 1.4.0 to text me feature was working for all Android Devices and Call Me was not working below Android OS version 11 for MFA(Multi-factor Authentication). Now I have upgraded the MS

[2022-08-31 09:59] sup0808 commented on #1148
@shahzaibj
I am facing this issue in my app .

 MicrosoftStsOAuth2Configuration:getOpenIdWellKnownConfig: com.microsoft.identity.common.exception.ServiceException: OpenId Provider Configuration metadata failed to load with status: 404
08-30 11:08:38.984 27933 28160 E MicrosoftStsOAuth2Configuration:getOpenIdWellKnownConfig: 	at com.microsoft.identity.common.internal.providers.oauth2.OpenIdProvider

[2022-08-31 09:59] sup0808 commented on #1148
@shahzaibj  Please suggest the solution.

[2022-08-31 10:00] sup0808 commented on #1148
08-30 11:08:38.984 27933 28160 E MicrosoftStsOAuth2Configuration:getOpenIdWellKnownConfig:  [2022-08-30 05:38:38 - {"thread_id":"487471","correlation_id":"c8c29d11-4246-41fb-afd4-03faa1836556"}] OpenId Provider Configuration metadata failed to load with status: 404 Android 31
08-30 11:08:38.984 27933 28160 E MicrosoftStsOAuth2Configuration:getOpenIdWellKnownConfig: com.microsoft.identity.common.ex

[2022-09-02 16:22] brdacon1 opened #1691 "Not working with Intune portal"
The process of authentication not working when the application is a internal application, if is possible select the native navigator for authentication working, because the solicitation needed send the device information this is possible using native navigator in the, MSAL oficial this is possible. You can define if you want use authentication webview or native navigator Chrome or Safari.

[2022-09-09 15:46] pepperprogrammer opened #1692 "Unclear how to use MSAL Android in idiomatic MVVM architecture"
Hi,

The code samples and documentation don't seem to show how MSAL Android can fit into a scalable app architecture, such as the one recommended in the Android docs:
https://developer.android.com/topic/architecture#recommended-app-arch

I've seen examples where the `PublicClientApplication` is instantiated and used in an `Activity` or a `Fragment` file, but these examples have some issues:
- Frag

[2022-09-09 18:10] negoe commented on #1287
Reopening after discussion with Shazaib.

[2022-09-12 16:25] negoe commented on #1634
@Andrzej-Krawiec Sorry, we do not support this feature programmatically today.

[2022-09-12 16:25] #1634 closed, assigned to nobody

[2022-09-13 15:46] MathieuCalba commented on #1648
@negoe we are indeed using the CustomTabs flow. It is the default behaviour from the SDK, we didn’t customise anything. Do you know what makes this prompt being displayed?

[2022-09-14 06:12] shahzaibj commented on #1638
This issue is external to MSAL. This is actually a known issue specific to Android OS Version 8.1.0

Issue tracked at Google here: https://issuetracker.google.com/issues/110848122

[2022-09-14 06:12] #1638 closed, assigned to shahzaibj

[2022-09-15 19:19] brdacon1 commented on #1691
For Xamarin MSAL you need select the native navigator
Exemple:
await pca.AcquireTokenInteractive(s_scopes)
         .WithUseEmbeddedWebView(true)

If the application running in iOS open Safari or if the application running in Android running Google Chrome for intune application the device need register in Azure AD when open with native navigator the auth send to Azure and valid the authentication.

[2022-09-17 01:10] #1691 closed, assigned to nobody

[2022-09-17 01:13] negoe commented on #1632
Hi @richshepard MSAL Android library is only for Public Clients/Mobile Apps scenario. Please read this [documentation ](https://learn.microsoft.com/en-us/azure/active-directory/develop/msal-client-applications)for more clarity around Public and Confidential client scenarios. Thanks.

[2022-09-17 01:13] #1632 closed, assigned to negoe

[2022-09-17 01:25] negoe commented on #1676
@meinto Currently, Zero Touch Provisioning (ZTP), which includes automation of rollout process for the MS-Authenticator on company devices, is only available with Microsoft Endpoint Manager. We acknowledge the importance of supporting ZTP for Microsoft’s Shared Device Mode (SDM) by 3rd party MDMs and are thus working tirelessly with them to support it. To get the latest update on the status of you

[2022-09-17 01:25] #1676 closed, assigned to nobody

[2022-09-19 16:59] RakeeAndroid opened #1695 "Defined multiple times when R8 minify is enabled"
**Describe the bug**
When building app with
[code]

Dependencies
[code]

Issues when creating release build

[code]

Smartphone (please complete the following information):

Android Version: API 32
MSAL Version: 4.0.1

[2022-09-21 07:03] saharami opened #1696 "Unable to open BrowserTabActivity with an emulator on a PC connected to a VPN"
Dear team,

Our app currently uses B2C library for login authentication.
We would like to run this app on an Android emulator on a PC with a VPN setup.
We have already configured the proxy settings to pass through the VPN in the emulator settings, so the app can launch.
However, when we try to start B2C's BrowserTabActivity, we get the following error;
"Unable to perform cloud discovery".

Environ

[2022-09-23 18:32] FarazJelani opened #1699 "AcqureTokenSilently gives old access token. Access token returned is from previous 2-3 days"
**Describe the bug**
Is your app live and in production or is this a development issue? Provide a clear and concise description of what the bug is.

**Smartphone (please complete the following information):**
 - Device: [e.g. Pixel, OnePlus 6, etc]
 - Android Version: [e.g. API Level, Build Number]
 - Browser [e.g. Chrome, Edge]
 - MSAL Version

**Stacktrace**
If a crash occurs, include the stackt